In [225]:
!python3 -V
!python3 -m pip install pandas numpy matplotlib

Python 3.10.6
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.10/site-packages (1.23.3)
Requirement already satisfied: matplotlib in /opt/homebrew/lib/python3.10/site-packages (3.5.3)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/takala/Library/Python/3.10/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/takala/Library/Python/3.10/lib/python/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (4.37.1)
Requirement already satisfied: packaging>=20.0 in /Users/takala/Library/Python/3.10/lib/python/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: six>=1.5 in /Users/takala/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [226]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [227]:
# Read the data into a data frame.

data = pd.read_csv('./pitching.csv')
display(data)

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,abbotda01,Dan,Abbott,Leander Franklin,1890,1,TL2,AA,0,2,...,NaN,0.0,0.0,0,0.0,2.0,14,NaN,NaN,NaN
1,abbeybe01,Bert,Abbey,Bert Wood,1892,1,WAS,NL,5,18,...,NaN,11.0,0.0,0,0.0,3.0,139,NaN,NaN,NaN
2,abbeybe01,Bert,Abbey,Bert Wood,1893,1,CHN,NL,2,4,...,NaN,2.0,0.0,0,0.0,0.0,52,NaN,NaN,NaN
3,abbeybe01,Bert,Abbey,Bert Wood,1894,1,CHN,NL,2,7,...,NaN,0.0,0.0,0,0.0,0.0,74,NaN,NaN,NaN
4,abbeybe01,Bert,Abbey,Bert Wood,1895,2,BRO,NL,5,2,...,NaN,2.0,0.0,0,0.0,2.0,34,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,zimmejo02,Jordan,Zimmermann,Jordan M.,2014,1,WAS,NL,14,5,...,0.0,4.0,6.0,0,800.0,0.0,67,5.0,3.0,11.0
44135,zieglbr01,Brad,Ziegler,Brad Gregory,2015,1,ARI,NL,0,3,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,zimmejo02,Jordan,Zimmermann,Jordan M.,2015,1,WAS,NL,13,10,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,zitoba01,Barry,Zito,Barry William,2015,1,OAK,AL,0,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,zychto01,Tony,Zych,Anthony Aaron,2015,1,SEA,AL,0,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [228]:
# Display all pitchers in 2015 under each team sorted by their last names.

pitchers = data[data['yearID'] == 2015]
teams = pitchers['teamID'].unique()

for team in teams:
    print("\033[1;93m" + team + "\033[0m")
    display(pitchers[pitchers['teamID'] == team].sort_values('nameLast'))

ATL

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
341,aardsda01,David,Aardsma,David Allan,2015,1,ATL,NL,1,1,...,3.0,1.0,1.0,0,129.0,9.0,17,0.0,1.0,NaN
1508,avilalu01,Luis,Avilan,Luis Armando,2015,1,ATL,NL,2,4,...,2.0,1.0,0.0,1,154.0,7.0,15,0.0,1.0,NaN
1797,banuema01,Manny,Banuelos,Manuel,2015,1,ATL,NL,1,4,...,0.0,1.0,3.0,0,121.0,0.0,17,0.0,0.0,NaN
4405,brighja01,Jake,Brigham,Jacob Daniel,2015,1,ATL,NL,0,1,...,1.0,2.0,1.0,0,84.0,4.0,16,0.0,2.0,NaN
4988,burawda01,Danny,Burawa,Daniel James,2015,2,ATL,NL,0,0,...,0.0,0.0,1.0,0,48.0,4.0,5,0.0,2.0,NaN
5648,cahiltr01,Trevor,Cahill,Trevor John,2015,1,ATL,NL,0,3,...,1.0,1.0,1.0,0,124.0,6.0,23,2.0,1.0,NaN
6279,carpeda02,David,Carpenter,David Lee,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,17.0,1.0,3,0.0,0.0,NaN
8206,cornejo01,John,Cornely,John Francis,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,7.0,1.0,4,0.0,0.0,NaN
8653,cunnibr02,Brandon,Cunniff,Brandon Michael,2015,1,ATL,NL,2,2,...,2.0,1.0,0.0,0,151.0,12.0,20,1.0,1.0,NaN
9715,detwiro01,Ross,Detwiler,Ross Emery,2015,2,ATL,NL,1,0,...,1.0,0.0,3.0,0,80.0,3.0,14,0.0,1.0,NaN
11466,evelada01,Dana,Eveland,Dana James,2015,1,ATL,NL,0,1,...,1.0,1.0,0.0,0,18.0,1.0,2,0.0,1.0,NaN
12786,foltymi01,Mike,Foltynewicz,Michael Gary,2015,1,ATL,NL,4,6,...,0.0,3.0,4.0,1,399.0,1.0,63,2.0,6.0,NaN
13123,frasoja01,Jason,Frasor,Jason Andrew,2015,2,ATL,NL,0,0,...,1.0,0.0,0.0,0,20.0,0.0,0,0.0,0.0,NaN
14269,gomesjo01,Jonny,Gomes,Jonathan Johnson,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,6.0,1.0,2,0.0,1.0,NaN
15240,grillja01,Jason,Grilli,Jason Michael,2015,1,ATL,NL,3,4,...,1.0,2.0,0.0,0,140.0,29.0,13,0.0,1.0,NaN
18935,jacksed01,Edwin,Jackson,Edwin,2015,2,ATL,NL,2,2,...,0.0,2.0,0.0,0,94.0,7.0,11,0.0,1.0,NaN
19243,jaimeju01,Juan,Jaime,Juan Jose,2015,1,ATL,NL,0,1,...,1.0,0.0,0.0,0,8.0,1.0,1,1.0,0.0,NaN
19613,johnsji04,Jim,Johnson,James Robert,2015,1,ATL,NL,2,3,...,2.0,2.0,1.0,0,196.0,13.0,14,3.0,2.0,NaN
20381,kellyry01,Ryan,Kelly,William Ryan,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,74.0,8.0,14,1.0,0.0,NaN
21371,kohnmi01,Michael,Kohn,Michael Thomas,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,19.0,1.0,0,0.0,0.0,NaN
24426,marimsu01,Sugar Ray,Marimon,Sugar Ray,2015,1,ATL,NL,0,1,...,0.0,0.0,0.0,0,117.0,5.0,21,1.0,2.0,NaN
24428,marksma01,Matt,Marksberry,Matthew Gates,2015,1,ATL,NL,0,3,...,2.0,3.0,1.0,0,108.0,4.0,16,0.0,2.0,NaN
24688,martico01,Cody,Martin,Cody Matthew,2015,1,ATL,NL,2,3,...,0.0,1.0,1.0,0,92.0,2.0,13,2.0,1.0,NaN
24970,masseni01,Nick,Masset,Nicholas Allen,2015,2,ATL,NL,2,2,...,3.0,3.0,1.0,0,72.0,3.0,12,0.0,0.0,NaN
25807,mckiran01,Andrew,McKirahan,Andrew David,2015,1,ATL,NL,1,0,...,2.0,0.0,2.0,0,129.0,4.0,18,0.0,1.0,NaN
27001,millesh01,Shelby,Miller,Shelby Charles,2015,1,ATL,NL,6,17,...,8.0,5.0,6.0,2,860.0,0.0,82,8.0,4.0,NaN
27921,moylape01,Peter,Moylan,Peter Michael,2015,1,ATL,NL,1,0,...,0.0,0.0,0.0,1,44.0,2.0,5,0.0,0.0,NaN
31113,perezwi01,Williams,Perez,Williams David,2015,1,ATL,NL,7,6,...,2.0,4.0,9.0,1,514.0,1.0,66,3.0,5.0,NaN
38525,stulter01,Eric,Stults,Eric William,2015,1,ATL,NL,1,5,...,1.0,1.0,0.0,0,196.0,1.0,31,3.0,1.0,NaN
39405,teherju01,Julio,Teheran,Julio Alberto,2015,1,ATL,NL,11,8,...,3.0,2.0,9.0,0,843.0,0.0,99,10.0,3.0,NaN
39680,thomaia01,Ian,Thomas,Ian Drew,2015,1,ATL,NL,0,0,...,0.0,1.0,0.0,0,25.0,1.0,3,1.0,0.0,NaN
40806,vealdo01,Donnie,Veal,Donald Tyrone,2015,1,ATL,NL,0,0,...,0.0,2.0,1.0,0,24.0,2.0,7,1.0,0.0,NaN
41187,vizcaar01,Arodys,Vizcaino,Arodys,2015,1,ATL,NL,3,1,...,2.0,7.0,0.0,0,139.0,25.0,7,2.0,0.0,NaN
42097,weberry01,Ryan,Weber,James Ryan,2015,1,ATL,NL,0,3,...,0.0,0.0,2.0,0,109.0,0.0,15,0.0,0.0,NaN
43390,winklda01,Daniel,Winkler,Daniel Allen,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,8.0,0.0,2,0.0,0.0,NaN
43391,wislema01,Matt,Wisler,Matthew Robert,2015,1,ATL,NL,8,8,...,4.0,2.0,4.0,3,478.0,0.0,59,4.0,5.0,NaN
43394,woodal02,Alex,Wood,Robert Alexander,2015,1,ATL,NL,7,6,...,2.0,5.0,2.0,0,509.0,0.0,50,11.0,1.0,NaN

OAK

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
342,abadfe01,Fernando,Abad,Fernando Antonio,2015,1,OAK,AL,2,2,...,3.0,4.0,1.0,0,205.0,17.0,23,3.0,3.0,NaN
860,alvarrj01,R. J.,Alvarez,Roy Emilio,2015,1,OAK,AL,0,0,...,1.0,5.0,0.0,0,100.0,11.0,23,0.0,2.0,NaN
1980,bassich01,Chris,Bassitt,Christopher M.,2015,1,OAK,AL,1,8,...,0.0,5.0,9.0,0,361.0,3.0,36,1.0,1.0,NaN
4678,brookaa01,Aaron,Brooks,Aaron Lee,2015,2,OAK,AL,3,4,...,0.0,0.0,4.0,0,232.0,1.0,38,3.0,2.0,NaN
6509,castran01,Angel,Castro,Angel M.,2015,1,OAK,AL,0,1,...,0.0,0.0,0.0,0,22.0,3.0,1,1.0,0.0,NaN
6827,chaveje01,Jesse,Chavez,Jesse David,2015,1,OAK,AL,7,15,...,2.0,3.0,2.0,0,672.0,3.0,78,4.0,6.0,NaN
7369,clippty01,Tyler,Clippard,Tyler Lee,2015,1,OAK,AL,1,3,...,1.0,1.0,2.0,0,167.0,30.0,12,0.0,1.0,NaN
7914,cookry01,Ryan,Cook,Ryan William,2015,1,OAK,AL,0,2,...,0.0,0.0,0.0,0,23.0,0.0,5,0.0,0.0,NaN
8213,couloda01,Daniel,Coulombe,Daniel Paul,2015,2,OAK,AL,0,0,...,0.0,1.0,0.0,0,32.0,1.0,3,0.0,0.0,NaN
9186,davisik02,Ike,Davis,Isaac Benjamin,2015,1,OAK,AL,0,0,...,0.0,0.0,0.0,0,8.0,2.0,0,0.0,0.0,NaN
10347,doolise01,Sean,Doolittle,Sean Robert,2015,1,OAK,AL,1,0,...,0.0,0.0,0.0,0,57.0,7.0,6,0.0,1.0,NaN
10349,doubrfe01,Felix,Doubront,Felix Antonio,2015,2,OAK,AL,2,2,...,0.0,2.0,0.0,0,227.0,2.0,35,4.0,4.0,NaN
10632,dullry01,Ryan,Dull,Ryan Christopher,2015,1,OAK,AL,1,2,...,1.0,0.0,0.0,0,66.0,3.0,8,0.0,1.0,NaN
14769,graveke01,Kendall,Graveman,Kendall Chase,2015,1,OAK,AL,6,9,...,0.0,4.0,5.0,0,502.0,0.0,57,1.0,2.0,NaN
14771,grayso01,Sonny,Gray,Sonny Douglas,2015,1,OAK,AL,14,7,...,0.0,13.0,2.0,0,831.0,0.0,71,1.0,4.0,NaN
15598,hahnje01,Jesse,Hahn,Jesse Allen,2015,1,OAK,AL,6,6,...,1.0,7.0,8.0,0,406.0,0.0,46,1.0,2.0,NaN
20150,kazmisc01,Scott,Kazmir,Scott Edward,2015,1,OAK,AL,5,5,...,0.0,2.0,3.0,2,440.0,0.0,35,3.0,4.0,NaN
22636,leonar01,Arnold,Leon,Alex Arnold,2015,1,OAK,AL,0,2,...,3.0,0.0,0.0,0,115.0,9.0,14,1.0,2.0,NaN
24689,martico01,Cody,Martin,Cody Matthew,2015,2,OAK,AL,0,2,...,0.0,1.0,1.0,0,49.0,2.0,14,0.0,1.0,NaN
27002,millsbr02,Brad,Mills,Bradley Aaron,2015,1,OAK,AL,0,0,...,0.0,0.0,1.0,0,23.0,0.0,3,0.0,0.0,NaN
27923,mujiced01,Edward,Mujica,Edward Jose,2015,2,OAK,AL,2,4,...,2.0,1.0,0.0,1,138.0,9.0,21,1.0,1.0,NaN
29104,nolinse01,Sean,Nolin,Sean Patrick,2015,1,OAK,AL,1,2,...,0.0,3.0,0.0,1,134.0,0.0,19,1.0,5.0,NaN
29444,oflaher01,Eric,O'Flaherty,Eric George,2015,1,OAK,AL,1,2,...,1.0,0.0,0.0,0,108.0,5.0,17,2.0,0.0,NaN
29757,oteroda01,Dan,Otero,Daniel Anthony,2015,1,OAK,AL,2,4,...,2.0,1.0,2.0,0,204.0,6.0,35,1.0,3.0,NaN
31699,pomerdr01,Drew,Pomeranz,Thomas Andrew,2015,1,OAK,AL,5,6,...,1.0,2.0,3.0,0,357.0,9.0,44,4.0,5.0,NaN
34142,rodrife02,Fernando,Rodriguez,Fernando,2015,1,OAK,AL,4,2,...,1.0,4.0,1.0,0,242.0,12.0,27,1.0,1.0,NaN
36012,scribev01,Evan,Scribner,Evan Lee,2015,1,OAK,AL,2,2,...,0.0,2.0,2.0,0,238.0,14.0,31,0.0,1.0,NaN
37071,smithch08,Chad,Smith,Chad Dennis,2015,1,OAK,AL,0,0,...,0.0,1.0,1.0,0,13.0,0.0,5,0.0,0.0,NaN
40808,vendipa01,Pat,Venditte,Patrick Michael,2015,1,OAK,AL,2,2,...,0.0,0.0,0.0,0,119.0,7.0,14,1.0,1.0,NaN
44137,zitoba01,Barry,Zito,Barry William,2015,1,OAK,AL,0,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN

MIN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
343,achteaj01,A. J.,Achter,Adam Joseph,2015,1,MIN,AL,0,1,...,1.0,0.0,0.0,0,58.0,4.0,10,0.0,0.0,NaN
4071,boyerbl01,Blaine,Boyer,Blaine Thomas,2015,1,MIN,AL,3,6,...,4.0,5.0,0.0,0,268.0,12.0,24,3.0,2.0,NaN
8211,cottsne01,Neal,Cotts,Neal James,2015,2,MIN,AL,0,0,...,0.0,0.0,1.0,0,60.0,1.0,8,0.0,1.0,NaN
10628,duensbr01,Brian,Duensing,Brian Matthew,2015,1,MIN,AL,4,1,...,4.0,3.0,4.0,0,209.0,9.0,24,2.0,1.0,NaN
10629,duffety01,Tyler,Duffey,Tyler Blinn,2015,1,MIN,AL,5,1,...,0.0,1.0,0.0,0,242.0,0.0,20,3.0,0.0,NaN
12175,fienca01,Casey,Fien,Casey Michael,2015,1,MIN,AL,4,6,...,0.0,0.0,0.0,0,257.0,6.0,26,2.0,3.0,NaN
13891,gibsoky01,Kyle,Gibson,Kyle Benjamin,2015,1,MIN,AL,11,11,...,6.0,7.0,7.0,0,821.0,0.0,88,6.0,6.0,NaN
14509,grahajr01,J. R.,Graham,Johnathan Ryan,2015,1,MIN,AL,1,1,...,0.0,5.0,4.0,1,283.0,19.0,41,2.0,2.0,NaN
18683,hugheph01,Phil,Hughes,Philip Joseph,2015,1,MIN,AL,11,9,...,0.0,1.0,2.0,0,651.0,1.0,76,1.0,3.0,NaN
19250,jepseke01,Kevin,Jepsen,Kevin Martin,2015,2,MIN,AL,1,1,...,0.0,3.0,0.0,0,109.0,17.0,5,0.0,0.0,NaN
25226,maytr01,Trevor,May,Trevor J.,2015,1,MIN,AL,8,9,...,2.0,4.0,4.0,0,492.0,9.0,53,3.0,4.0,NaN
26345,meyeral01,Alex,Meyer,Alex John,2015,1,MIN,AL,0,0,...,0.0,0.0,0.0,0,15.0,0.0,5,1.0,0.0,NaN
27003,milonto01,Tommy,Milone,Tomaso Anthony,2015,1,MIN,AL,9,5,...,1.0,3.0,1.0,0,543.0,1.0,64,6.0,7.0,NaN
29103,nolasri01,Ricky,Nolasco,Carlos Enrique,2015,1,MIN,AL,5,2,...,2.0,1.0,1.0,1,173.0,1.0,31,0.0,2.0,NaN
29753,orourry01,Ryan,O'Rourke,Ryan Patrick,2015,1,MIN,AL,0,0,...,2.0,2.0,0.0,0,97.0,7.0,15,1.0,1.0,NaN
30720,pelfrmi01,Mike,Pelfrey,Michael Alan,2015,1,MIN,AL,6,11,...,1.0,5.0,12.0,0,714.0,0.0,86,3.0,3.0,NaN
31114,perkigl01,Glen,Perkins,Glen Weston,2015,1,MIN,AL,3,5,...,2.0,4.0,0.0,0,238.0,45.0,21,1.0,0.0,NaN
31961,pressry01,Ryan,Pressly,Thomas Ryan,2015,1,MIN,AL,3,2,...,1.0,2.0,0.0,0,119.0,6.0,9,1.0,1.0,NaN
33802,robinsh01,Shane,Robinson,Shane Michael,2015,1,MIN,AL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,0,0.0,0.0,NaN
35403,santaer01,Ervin,Santana,Ervin Ramon,2015,1,MIN,AL,7,5,...,2.0,3.0,4.0,0,457.0,0.0,50,4.0,2.0,NaN
37938,staufti01,Tim,Stauffer,Timothy James,2015,1,MIN,AL,1,0,...,2.0,2.0,0.0,0,73.0,5.0,13,0.0,1.0,NaN
39409,thielca01,Caleb,Thielbar,Caleb John,2015,1,MIN,AL,0,0,...,0.0,1.0,0.0,0,20.0,1.0,3,1.0,0.0,NaN
39682,thompaa01,Aaron,Thompson,Aaron Marshall,2015,1,MIN,AL,1,3,...,2.0,1.0,0.0,0,137.0,5.0,19,2.0,3.0,NaN
39970,tonkimi01,Michael,Tonkin,Michael Harvey,2015,1,MIN,AL,0,0,...,2.0,1.0,1.0,0,99.0,10.0,9,0.0,1.0,NaN

CLE

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
344,adamsau01,Austin,Adams,Austin David,2015,1,CLE,AL,2,0,...,0.0,1.0,0.0,0,149.0,9.0,15,2.0,0.0,NaN
597,allenco01,Cody,Allen,Cody Edward,2015,1,CLE,AL,2,5,...,2.0,9.0,2.0,0,286.0,58.0,26,1.0,2.0,NaN
864,anderco01,Cody,Anderson,Cody Andrew,2015,1,CLE,AL,7,3,...,1.0,0.0,1.0,1,365.0,0.0,32,3.0,3.0,NaN
1179,armstsh01,Shawn,Armstrong,Shawn Michael,2015,1,CLE,AL,0,0,...,0.0,0.0,0.0,0,30.0,5.0,2,0.0,0.0,NaN
1183,atchisc01,Scott,Atchison,Scott Barham,2015,1,CLE,AL,1,1,...,0.0,3.0,1.0,0,87.0,7.0,15,0.0,2.0,NaN
2268,bauertr01,Trevor,Bauer,Trevor Andrew,2015,1,CLE,AL,11,12,...,1.0,7.0,5.0,1,744.0,1.0,90,4.0,1.0,NaN
6280,carraca01,Carlos,Carrasco,Carlos Luis,2015,1,CLE,AL,14,12,...,2.0,5.0,5.0,0,730.0,0.0,75,1.0,6.0,NaN
6828,chenbr01,Bruce,Chen,Bruce Kastulo,2015,1,CLE,AL,0,1,...,1.0,0.0,0.0,0,35.0,0.0,9,0.0,0.0,NaN
8395,crockky01,Kyle,Crockett,Kyle Richard,2015,1,CLE,AL,0,0,...,0.0,0.0,1.0,0,74.0,4.0,9,0.0,2.0,NaN
12396,floydga01,Gavin,Floyd,Gavin Christopher,2015,1,CLE,AL,0,0,...,0.0,1.0,1.0,0,55.0,2.0,4,0.0,0.0,NaN
15597,hagadni01,Nick,Hagadone,Nicholas Michael,2015,1,CLE,AL,0,1,...,1.0,2.0,0.0,0,124.0,6.0,16,1.0,1.0,NaN
18399,housetj01,T. J.,House,Glenn Anthony,2015,1,CLE,AL,0,4,...,1.0,0.0,2.0,0,73.0,0.0,19,0.0,1.0,NaN
21059,klubeco01,Corey,Kluber,Corey Scott,2015,1,CLE,AL,9,16,...,3.0,6.0,11.0,1,886.0,0.0,92,7.0,4.0,NaN
22291,leech01,C. C.,Lee,Chen-Chang,2015,1,CLE,AL,0,0,...,0.0,0.0,0.0,0,10.0,0.0,1,0.0,0.0,NaN
24424,manshje01,Jeff,Manship,Jeffrey Michael,2015,1,CLE,AL,1,0,...,0.0,0.0,1.0,0,144.0,7.0,4,0.0,4.0,NaN
24425,marcush01,Shaun,Marcum,Shaun Michal,2015,1,CLE,AL,3,2,...,3.0,2.0,1.0,0,142.0,1.0,21,0.0,0.0,NaN
25229,mcallza01,Zach,McAllister,Zachary Taylor,2015,1,CLE,AL,4,4,...,4.0,3.0,3.0,0,299.0,9.0,28,1.0,1.0,NaN
28159,muratto01,Toru,Murata,Toru,2015,1,CLE,AL,0,1,...,0.0,0.0,0.0,0,16.0,0.0,5,0.0,0.0,NaN
28160,murphda07,David,Murphy,David Matthew,2015,1,CLE,AL,0,0,...,0.0,0.0,1.0,0,6.0,1.0,5,0.0,0.0,NaN
32272,raburry01,Ryan,Raburn,Ryan Neil,2015,1,CLE,AL,0,0,...,0.0,0.0,0.0,0,4.0,0.0,2,0.0,0.0,NaN
34865,rzepcma01,Marc,Rzepczynski,Marc Walter,2015,1,CLE,AL,2,3,...,3.0,1.0,1.0,0,94.0,6.0,15,1.0,0.0,NaN
35145,salazda01,Danny,Salazar,Daniel Dariel,2015,1,CLE,AL,14,10,...,1.0,3.0,7.0,2,757.0,0.0,79,3.0,4.0,NaN
36264,shawbr01,Bryan,Shaw,Bryan Anthony,2015,1,CLE,AL,3,3,...,1.0,3.0,1.0,0,265.0,19.0,24,1.0,0.0,NaN
37627,sotogi01,Giovanni,Soto,Giovanni Luis,2015,1,CLE,AL,0,0,...,0.0,0.0,0.0,0,13.0,1.0,0,0.0,0.0,NaN
38811,swarzan01,Anthony,Swarzak,Anthony Ray,2015,1,CLE,AL,0,0,...,1.0,0.0,0.0,0,61.0,3.0,9,0.0,0.0,NaN
39969,tomlijo01,Josh,Tomlin,Joshua Aubry,2015,1,CLE,AL,7,2,...,0.0,1.0,2.0,0,251.0,0.0,22,0.0,0.0,NaN
41771,webbry01,Ryan,Webb,Ryan Christopher,2015,1,CLE,AL,1,0,...,2.0,1.0,2.0,0,204.0,11.0,21,1.0,1.0,NaN

CIN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
345,adcocna01,Nathan,Adcock,Nathan Masler,2015,1,CIN,NL,1,2,...,0.0,1.0,1.0,0,83.0,4.0,12,1.0,1.0,NaN
1510,axelrdy01,Dylan,Axelrod,Dylan Davis Haines,2015,1,CIN,NL,0,1,...,2.0,0.0,0.0,0,59.0,3.0,13,1.0,0.0,NaN
1512,badenbu01,Burke,Badenhop,Burke Heinrich,2015,1,CIN,NL,2,4,...,4.0,0.0,0.0,0,285.0,17.0,30,2.0,3.0,NaN
1515,baileho02,Homer,Bailey,David Dewitt,2015,1,CIN,NL,0,1,...,2.0,0.0,0.0,0,51.0,0.0,7,0.0,0.0,NaN
1795,balesco01,Collin,Balester,Collin Thomas,2015,1,CIN,NL,1,1,...,0.0,1.0,1.0,0,77.0,5.0,13,0.0,1.0,NaN
6825,chapmar01,Aroldis,Chapman,Albertin Aroldis,2015,1,CIN,NL,4,4,...,1.0,7.0,5.0,0,278.0,54.0,13,0.0,2.0,NaN
7043,cingrto01,Tony,Cingrani,Anthony Michael,2015,1,CIN,NL,0,3,...,3.0,2.0,3.0,1,155.0,7.0,21,1.0,2.0,NaN
7913,contrca01,Carlos,Contreras,Carlos Manuel,2015,1,CIN,NL,0,0,...,0.0,3.0,1.0,0,125.0,8.0,16,1.0,0.0,NaN
8651,cuetojo01,Johnny,Cueto,Johnny,2015,1,CIN,NL,7,6,...,1.0,0.0,6.0,4,516.0,0.0,42,4.0,3.0,NaN
9712,desclan01,Anthony,DeSclafani,Anthony James,2015,1,CIN,NL,9,13,...,5.0,6.0,5.0,0,785.0,0.0,93,10.0,5.0,NaN
9717,diazju03,Jumbo,Diaz,Jose Rafael,2015,1,CIN,NL,2,1,...,3.0,5.0,3.0,1,255.0,16.0,29,3.0,2.0,NaN
12179,finnebr01,Brandon,Finnegan,Brandon Kyle,2015,2,CIN,NL,2,2,...,0.0,0.0,0.0,0,98.0,0.0,11,2.0,0.0,NaN
14775,greggke01,Kevin,Gregg,Kevin Marschall,2015,1,CIN,NL,0,2,...,0.0,1.0,0.0,0,51.0,2.0,12,1.0,0.0,NaN
15937,handdo01,Donovan,Hand,Donovan Jay,2015,1,CIN,NL,0,0,...,0.0,0.0,1.0,0,13.0,0.0,0,0.0,0.0,NaN
18045,holmbda01,David,Holmberg,David A.,2015,1,CIN,NL,1,4,...,0.0,1.0,2.0,0,136.0,0.0,24,4.0,2.0,NaN
18046,hoovejj01,J. J.,Hoover,James Allen,2015,1,CIN,NL,8,2,...,1.0,3.0,2.0,0,264.0,12.0,24,5.0,2.0,NaN
18932,iglesra01,Raisel,Iglesias,Raisel,2015,1,CIN,NL,3,7,...,0.0,2.0,7.0,2,395.0,1.0,45,4.0,0.0,NaN
21933,lambjo02,John,Lamb,John Michael,2015,1,CIN,NL,1,5,...,0.0,0.0,2.0,0,220.0,0.0,32,2.0,1.0,NaN
22290,lecursa01,Sam,LeCure,Samuel R.,2015,1,CIN,NL,0,2,...,0.0,0.0,0.0,0,83.0,1.0,9,1.0,1.0,NaN
22287,leakemi01,Mike,Leake,Michael Raymond,2015,1,CIN,NL,9,5,...,4.0,3.0,2.0,1,556.0,0.0,55,6.0,2.0,NaN
23590,lorenmi01,Michael,Lorenzen,Michael Clifton,2015,1,CIN,NL,4,9,...,6.0,4.0,6.0,0,515.0,1.0,70,2.0,1.0,NaN
24429,marquja01,Jason,Marquis,Jason Scott,2015,1,CIN,NL,3,4,...,2.0,3.0,1.0,0,216.0,0.0,37,3.0,4.0,NaN
24974,matthry01,Ryan,Mattheus,Ryan Arthur,2015,2,CIN,NL,2,4,...,2.0,6.0,2.0,1,249.0,14.0,31,4.0,3.0,NaN
27919,moscojo01,Jon,Moscot,Jonathan Solomon,2015,1,CIN,NL,1,1,...,0.0,1.0,0.0,0,50.0,0.0,6,0.0,1.0,NaN
30440,parrama01,Manny,Parra,Manuel Alex,2015,1,CIN,NL,1,2,...,1.0,1.0,0.0,0,130.0,5.0,15,1.0,2.0,NaN
35148,sampske01,Keyvius,Sampson,Keyvius N.,2015,1,CIN,NL,2,6,...,0.0,4.0,0.0,0,251.0,0.0,43,2.0,2.0,NaN
37292,smithjo07,Josh,Smith,Joshua,2015,1,CIN,NL,0,4,...,3.0,0.0,5.0,0,161.0,0.0,27,0.0,2.0,NaN
41185,villape01,Pedro,Villarreal,Pedro A.,2015,1,CIN,NL,1,3,...,2.0,0.0,3.0,1,214.0,10.0,24,2.0,3.0,NaN

SFN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
346,affelje01,Jeremy,Affeldt,Jeremy David,2015,1,SFN,NL,2,2,...,2.0,1.0,2.0,0,163.0,7.0,24,0.0,0.0,NaN
3492,bochybr02,Brett,Bochy,Brett,2015,1,SFN,NL,0,0,...,0.0,1.0,1.0,0,12.0,1.0,0,0.0,0.0,NaN
4407,broadmi01,Mike,Broadway,Michael Allen,2015,1,SFN,NL,0,2,...,1.0,0.0,1.0,1,77.0,5.0,10,1.0,0.0,NaN
4986,bumgama01,Madison,Bumgarner,Madison Kyle,2015,1,SFN,NL,18,9,...,2.0,1.0,7.0,0,869.0,0.0,73,5.0,4.0,NaN
5650,cainma01,Matt,Cain,Matthew Thomas,2015,1,SFN,NL,2,4,...,0.0,1.0,4.0,0,271.0,0.0,39,1.0,4.0,NaN
13625,garcija01,Santiago,Casilla,Santiago,2015,1,SFN,NL,4,2,...,2.0,1.0,2.0,0,244.0,55.0,19,2.0,1.0,NaN
13886,gearrco01,Cory,Gearrin,Cory Nathanial,2015,1,SFN,NL,0,0,...,0.0,0.0,0.0,0,13.0,0.0,2,0.0,0.0,NaN
15600,hallco01,Cody,Hall,Cody Kevin,2015,1,SFN,NL,0,0,...,0.0,0.0,1.0,0,41.0,1.0,6,0.0,0.0,NaN
17522,hestoch01,Chris,Heston,Christopher L.,2015,1,SFN,NL,12,11,...,3.0,5.0,13.0,1,746.0,0.0,82,2.0,0.0,NaN
18402,hudsoti01,Tim,Hudson,Timothy Adam,2015,1,SFN,NL,8,9,...,1.0,4.0,7.0,0,525.0,0.0,62,2.0,3.0,NaN
21372,kontoge01,George,Kontos,George Nicholas,2015,1,SFN,NL,4,4,...,3.0,3.0,0.0,0,284.0,12.0,20,1.0,3.0,NaN
22288,leakemi01,Mike,Leake,Michael Raymond,2015,2,SFN,NL,2,5,...,1.0,3.0,1.0,1,222.0,0.0,25,0.0,1.0,NaN
22971,linceti01,Tim,Lincecum,Timothy LeRoy,2015,1,SFN,NL,7,4,...,2.0,5.0,1.0,0,333.0,0.0,37,3.0,2.0,NaN
23588,lopezja02,Javier,Lopez,Javier Alfonso,2015,1,SFN,NL,1,0,...,3.0,1.0,0.0,0,147.0,14.0,8,0.0,0.0,NaN
23838,machije01,Jean,Machi,Jean Manuel,2015,1,SFN,NL,1,0,...,0.0,1.0,1.0,0,159.0,8.0,21,2.0,2.0,NaN
29754,osichjo01,Josh,Osich,Joshua M.,2015,1,SFN,NL,2,0,...,0.0,2.0,0.0,0,120.0,6.0,12,1.0,1.0,NaN
30719,peavyja01,Jake,Peavy,Jacob Edward,2015,1,SFN,NL,8,6,...,1.0,2.0,2.0,1,448.0,0.0,45,5.0,1.0,NaN
31116,petityu01,Yusmeiro,Petit,Yusmeiro Alberto,2015,1,SFN,NL,1,1,...,2.0,3.0,1.0,0,316.0,15.0,32,1.0,6.0,NaN
34150,romose01,Sergio,Romo,Sergio Francisco,2015,1,SFN,NL,0,5,...,2.0,4.0,1.0,0,230.0,14.0,20,2.0,0.0,NaN
38522,strichu01,Hunter,Strickland,Hunter Drew,2015,1,SFN,NL,3,3,...,1.0,1.0,2.0,0,191.0,11.0,14,0.0,0.0,NaN
41188,vogelry01,Ryan,Vogelsong,Ryan Andrew,2015,1,SFN,NL,9,11,...,2.0,1.0,3.0,0,598.0,6.0,76,3.0,6.0,NaN

TOR

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
593,alberan01,Andrew,Albers,Andrew William,2015,1,TOR,AL,0,0,...,0.0,0.0,0.0,0,11.0,0.0,1,0.0,0.0,NaN
4069,boydma01,Matt,Boyd,Matthew Robert,2015,1,TOR,AL,0,2,...,0.0,2.0,0.0,0,36.0,0.0,11,0.0,1.0,NaN
4985,buehrma01,Mark,Buehrle,Mark Alan,2015,1,TOR,AL,15,8,...,4.0,0.0,7.0,0,827.0,0.0,100,10.0,9.0,NaN
6510,castrmi01,Miguel,Castro,Miguel Angel,2015,1,TOR,AL,0,2,...,2.0,2.0,0.0,1,57.0,9.0,7,0.0,2.0,NaN
6513,cecilbr01,Brett,Cecil,Brett Aarion,2015,1,TOR,AL,5,5,...,3.0,4.0,2.0,0,214.0,24.0,17,1.0,0.0,NaN
7372,cokeph01,Phil,Coke,Phillip Douglas,2015,2,TOR,AL,0,0,...,0.0,0.0,0.0,0,11.0,1.0,1,0.0,0.0,NaN
7917,copelsc01,Scott,Copeland,Scott Reast,2015,1,TOR,AL,1,1,...,0.0,0.0,0.0,0,69.0,2.0,11,1.0,1.0,NaN
9438,delabst01,Steve,Delabar,Steven Edward,2015,1,TOR,AL,2,0,...,1.0,6.0,1.0,0,129.0,12.0,19,1.0,1.0,NaN
9718,dickera01,R. A.,Dickey,Robert Allen,2015,1,TOR,AL,11,11,...,1.0,9.0,11.0,2,884.0,0.0,97,3.0,11.0,NaN
10348,doubrfe01,Felix,Doubront,Felix Antonio,2015,1,TOR,AL,1,1,...,1.0,1.0,1.0,0,101.0,0.0,15,0.0,1.0,NaN
11465,estrama01,Marco,Estrada,Marco Rene,2015,1,TOR,AL,13,8,...,2.0,2.0,5.0,0,725.0,3.0,67,2.0,3.0,NaN
12787,francje01,Jeff,Francis,Jeffrey William,2015,1,TOR,AL,1,2,...,0.0,2.0,1.0,0,100.0,5.0,16,0.0,0.0,NaN
16559,hawkila01,LaTroy,Hawkins,LaTroy,2015,2,TOR,AL,1,0,...,0.0,0.0,0.0,0,73.0,5.0,7,1.0,0.0,NaN
16815,hendrli01,Liam,Hendriks,Liam Johnson,2015,1,TOR,AL,5,0,...,1.0,4.0,2.0,0,261.0,14.0,23,0.0,2.0,NaN
18686,hutchdr01,Drew,Hutchison,Andrew Scott,2015,1,TOR,AL,13,5,...,0.0,7.0,11.0,0,664.0,0.0,103,0.0,6.0,NaN
18930,hynesco01,Colt,Hynes,Joshua Colt,2015,1,TOR,AL,0,0,...,1.0,0.0,0.0,0,18.0,1.0,2,0.0,0.0,NaN
19247,jenkich01,Chad,Jenkins,Stephen Chadwick,2015,1,TOR,AL,0,0,...,0.0,0.0,0.0,0,17.0,1.0,2,0.0,0.0,NaN
23591,loupaa01,Aaron,Loup,Aaron Christopher,2015,1,TOR,AL,2,5,...,0.0,0.0,6.0,0,186.0,6.0,24,2.0,0.0,NaN
23593,lowema01,Mark,Lowe,Mark Christopher,2015,2,TOR,AL,1,2,...,0.0,0.0,0.0,0,71.0,5.0,9,0.0,2.0,NaN
29107,norrida01,Daniel,Norris,Daniel David,2015,1,TOR,AL,1,1,...,0.0,2.0,2.0,0,103.0,0.0,11,1.0,2.0,NaN
29756,osunaro01,Roberto,Osuna,Roberto,2015,1,TOR,AL,1,6,...,2.0,5.0,1.0,0,271.0,39.0,21,1.0,2.0,NaN
31963,priceda01,David,Price,David Taylor,2015,2,TOR,AL,9,1,...,0.0,1.0,0.0,0,296.0,0.0,20,0.0,3.0,NaN
32592,rasmuro01,Rob,Rasmussen,Robert Paul,2015,1,TOR,AL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,0,0.0,0.0,NaN
32831,redmoto01,Todd,Redmond,Todd Richard,2015,1,TOR,AL,0,0,...,0.0,1.0,1.0,0,72.0,1.0,13,0.0,0.0,NaN
35149,sanchaa01,Aaron,Sanchez,Aaron Jacob,2015,1,TOR,AL,7,6,...,2.0,8.0,3.0,0,380.0,4.0,35,2.0,1.0,NaN
35709,schulbo02,Bo,Schultz,Patrick Bowen,2015,1,TOR,AL,0,1,...,0.0,2.0,1.0,0,173.0,10.0,19,0.0,2.0,NaN
38523,stromma01,Marcus,Stroman,Marcus Earl,2015,1,TOR,AL,4,0,...,0.0,2.0,1.0,1,103.0,0.0,5,0.0,0.0,NaN
39406,teperry01,Ryan,Tepera,Dennis Ryan,2015,1,TOR,AL,0,2,...,0.0,2.0,3.0,0,128.0,12.0,14,0.0,0.0,NaN

CHA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
594,alberma01,Matt,Albers,Matthew James,2015,1,CHA,AL,2,0,...,2.0,0.0,1.0,0,149.0,5.0,6,0.0,3.0,NaN
2270,beckch02,Chris,Beck,Christopher Michael,2015,1,CHA,AL,0,1,...,0.0,0.0,0.0,0,31.0,0.0,5,1.0,0.0,NaN
6281,carrosc02,Scott,Carroll,Scott Alexander,2015,1,CHA,AL,1,1,...,2.0,4.0,3.0,0,162.0,8.0,19,1.0,2.0,NaN
8911,danksjo01,John,Danks,John William,2015,1,CHA,AL,7,15,...,1.0,8.0,3.0,1,768.0,0.0,104,8.0,6.0,NaN
10350,drabeky01,Kyle,Drabek,Kyle Jordan,2015,1,CHA,AL,0,0,...,0.0,0.0,0.0,0,26.0,3.0,3,0.0,0.0,NaN
10631,dukeza01,Zach,Duke,Zachary Thomas,2015,1,CHA,AL,3,6,...,4.0,0.0,3.0,0,255.0,14.0,26,2.0,1.0,NaN
13628,garcile02,Leury,Garcia,Leury,2015,1,CHA,AL,0,0,...,0.0,1.0,1.0,0,5.0,0.0,0,0.0,0.0,NaN
15244,guerrja01,Javy,Guerra,Luis Javier,2015,1,CHA,AL,0,0,...,0.0,0.0,0.0,0,7.0,0.0,0,0.0,0.0,NaN
15245,guerrju02,Junior,Guerra,Junior J.,2015,1,CHA,AL,0,0,...,1.0,1.0,0.0,0,18.0,3.0,3,0.0,0.0,NaN
19248,jennida01,Dan,Jennings,Daniel Lee,2015,1,CHA,AL,2,3,...,6.0,4.0,0.0,0,244.0,17.0,28,4.0,1.0,NaN
19612,johnser04,Erik,Johnson,Erik Craig,2015,1,CHA,AL,3,1,...,0.0,3.0,1.0,0,151.0,0.0,14,1.0,3.0,NaN
19871,jonesna01,Nate,Jones,Nathan Andrew,2015,1,CHA,AL,2,2,...,0.0,0.0,0.0,0,72.0,3.0,7,2.0,0.0,NaN
22281,larocad01,Adam,LaRoche,David Adam,2015,1,CHA,AL,0,0,...,0.0,0.0,0.0,0,3.0,1.0,0,0.0,0.0,NaN
27289,montafr01,Frankie,Montas,Francelis,2015,1,CHA,AL,0,2,...,1.0,0.0,0.0,0,66.0,2.0,8,0.0,0.0,NaN
28837,noesihe01,Hector,Noesi,Hector,2015,1,CHA,AL,0,4,...,1.0,3.0,1.0,1,154.0,4.0,26,0.0,0.0,NaN
31117,petrija01,Jake,Petricka,Jacob Steven,2015,1,CHA,AL,4,3,...,4.0,2.0,1.0,0,220.0,18.0,21,3.0,1.0,NaN
32268,putnaza01,Zach,Putnam,Steven Zachary McGuire,2015,1,CHA,AL,3,3,...,5.0,5.0,4.0,0,212.0,16.0,24,4.0,4.0,NaN
32271,quintjo01,Jose,Quintana,Jose Guillermo,2015,1,CHA,AL,9,10,...,4.0,5.0,8.0,0,862.0,0.0,81,4.0,4.0,NaN
32580,ramiral03,Alexei,Ramirez,Alexei Fernando,2015,1,CHA,AL,0,0,...,0.0,0.0,1.0,0,5.0,1.0,0,0.0,0.0,NaN
33798,roberda08,David,Robertson,David Alan,2015,1,CHA,AL,6,5,...,2.0,4.0,1.0,0,250.0,53.0,27,0.0,0.0,NaN
33806,rodonca01,Carlos,Rodon,Carlos Antonio,2015,1,CHA,AL,9,6,...,0.0,7.0,8.0,0,607.0,1.0,63,6.0,5.0,NaN
35146,salech01,Chris,Sale,Christopher,2015,1,CHA,AL,13,11,...,0.0,7.0,13.0,0,854.0,0.0,88,2.0,3.0,NaN
35147,samarje01,Jeff,Samardzija,Jeffrey Alan,2015,1,CHA,AL,11,13,...,0.0,5.0,12.0,0,910.0,0.0,122,4.0,9.0,NaN
41770,webbda01,Daniel,Webb,Robert McDaniel,2015,1,CHA,AL,1,0,...,1.0,2.0,1.0,0,150.0,6.0,26,0.0,1.0,NaN

DET

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
595,albural01,Al,Alburquerque,Alberto Jose,2015,1,DET,AL,4,1,...,3.0,5.0,1.0,4,271.0,12.0,29,1.0,2.0,NaN
4070,boydma01,Matt,Boyd,Matthew Robert,2015,2,DET,AL,1,4,...,0.0,2.0,1.0,0,216.0,0.0,39,1.0,2.0,NaN
6823,chambjo03,Joba,Chamberlain,Justin Louis,2015,1,DET,AL,0,2,...,0.0,1.0,1.0,0,101.0,10.0,15,1.0,0.0,NaN
11792,farmebu01,Buck,Farmer,George Runie,2015,1,DET,AL,0,4,...,2.0,1.0,3.0,0,186.0,0.0,35,1.0,1.0,NaN
11798,felizne01,Neftali,Feliz,Neftali,2015,2,DET,AL,2,2,...,3.0,2.0,1.0,0,121.0,12.0,24,1.0,1.0,NaN
12173,ferreje01,Jeff,Ferrell,Jeffrey Alan,2015,1,DET,AL,0,0,...,0.0,0.0,0.0,0,50.0,2.0,8,0.0,1.0,NaN
14506,gorzeto01,Tom,Gorzelanny,Thomas Stephen,2015,1,DET,AL,2,2,...,2.0,1.0,2.0,0,181.0,14.0,28,2.0,0.0,NaN
14773,greensh02,Shane,Greene,Shane,2015,1,DET,AL,4,8,...,4.0,1.0,6.0,0,373.0,1.0,67,2.0,4.0,NaN
16296,hardybl01,Blaine,Hardy,Blaine Patrick,2015,1,DET,AL,5,3,...,2.0,5.0,1.0,0,265.0,11.0,23,3.0,4.0,NaN
21369,knudsgu01,Guido,Knudson,Guido Joel,2015,1,DET,AL,0,0,...,1.0,1.0,0.0,0,31.0,2.0,10,0.0,0.0,NaN
21683,krolia01,Ian,Krol,Ian A.,2015,1,DET,AL,2,3,...,1.0,0.0,2.0,0,129.0,6.0,19,2.0,0.0,NaN
23274,lobstky01,Kyle,Lobstein,Kyle Eric,2015,1,DET,AL,3,8,...,1.0,2.0,0.0,1,280.0,2.0,43,0.0,1.0,NaN
28476,nathajo01,Joe,Nathan,Joseph Michael,2015,1,DET,AL,0,0,...,0.0,0.0,0.0,0,1.0,1.0,0,0.0,0.0,NaN
28479,nesbian01,Angel,Nesbitt,Angel Ladimir,2015,1,DET,AL,1,1,...,2.0,3.0,4.0,0,98.0,6.0,14,2.0,1.0,NaN
29108,norrida01,Daniel,Norris,Daniel David,2015,2,DET,AL,2,1,...,0.0,1.0,0.0,0,148.0,0.0,20,0.0,2.0,NaN
31962,priceda01,David,Price,David Taylor,2015,1,DET,AL,9,4,...,2.0,3.0,3.0,0,592.0,0.0,50,4.0,5.0,NaN
34370,rondobr01,Bruce,Rondon,Bruce,2015,1,DET,AL,1,0,...,1.0,2.0,2.0,0,145.0,15.0,22,3.0,2.0,NaN
34864,ryanky01,Kyle,Ryan,Kyle,2015,1,DET,AL,2,4,...,0.0,1.0,1.0,0,237.0,3.0,29,2.0,1.0,NaN
35150,sanchan01,Anibal,Sanchez,Anibal Alejandro,2015,1,DET,AL,10,10,...,1.0,5.0,1.0,3,660.0,0.0,89,5.0,2.0,NaN
36780,simonal01,Alfredo,Simon,Alfredo,2015,1,DET,AL,13,12,...,1.0,14.0,8.0,0,820.0,0.0,112,9.0,6.0,NaN
37624,soriajo01,Joakim,Soria,Joakim Agustin,2015,1,DET,AL,3,1,...,1.0,0.0,2.0,0,165.0,35.0,13,1.0,0.0,NaN
40498,valdejo03,Jose,Valdez,Jose Alfredo,2015,1,DET,AL,0,1,...,0.0,2.0,0.0,0,39.0,3.0,4,0.0,0.0,NaN
40810,verhadr01,Drew,VerHagen,Drew Edward,2015,1,DET,AL,2,0,...,2.0,1.0,1.0,0,106.0,2.0,6,1.0,0.0,NaN
40811,verlaju01,Justin,Verlander,Justin Brooks,2015,1,DET,AL,5,8,...,1.0,2.0,3.0,0,535.0,0.0,56,1.0,6.0,NaN
43064,wilsoal01,Alex,Wilson,William Alexander,2015,1,DET,AL,3,3,...,1.0,2.0,2.0,0,273.0,16.0,19,2.0,2.0,NaN
43066,wilsojo03,Josh,Wilson,Joshua Aaron,2015,1,DET,AL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,1,0.0,0.0,NaN
43393,wolfra02,Randy,Wolf,Randall Christopher,2015,1,DET,AL,0,5,...,1.0,3.0,1.0,0,161.0,0.0,28,0.0,1.0,NaN

KCA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
596,alexasc01,Scott,Alexander,Scott Alain,2015,1,KCA,AL,0,0,...,0.0,1.0,1.0,0,25.0,3.0,3,0.0,0.0,NaN
598,almonmi01,Miguel,Almonte,Miguel Emilio,2015,1,KCA,AL,0,2,...,0.0,0.0,1.0,0,41.0,3.0,6,0.0,0.0,NaN
3488,blantjo01,Joe,Blanton,Joseph Matthew,2015,1,KCA,AL,2,2,...,1.0,0.0,0.0,0,172.0,6.0,19,1.0,2.0,NaN
4677,brookaa01,Aaron,Brooks,Aaron Lee,2015,1,KCA,AL,0,0,...,0.0,0.0,0.0,0,18.0,2.0,3,0.0,0.0,NaN
6824,chambjo03,Joba,Chamberlain,Justin Louis,2015,2,KCA,AL,0,0,...,0.0,1.0,0.0,0,27.0,5.0,5,0.0,0.0,NaN
7636,colemlo01,Louis,Coleman,Harold Louis,2015,1,KCA,AL,1,0,...,0.0,0.0,0.0,0,11.0,2.0,0,0.0,0.0,NaN
8652,cuetojo01,Johnny,Cueto,Johnny,2015,2,KCA,AL,4,7,...,0.0,0.0,2.0,0,350.0,0.0,45,1.0,1.0,NaN
9187,daviswa01,Wade,Davis,Wade Allen,2015,1,KCA,AL,8,1,...,1.0,1.0,0.0,0,251.0,24.0,8,0.0,2.0,NaN
10630,duffyda01,Danny,Duffy,Daniel Richard,2015,1,KCA,AL,7,8,...,0.0,11.0,9.0,0,588.0,1.0,64,3.0,5.0,NaN
12178,finnebr01,Brandon,Finnegan,Brandon Kyle,2015,1,KCA,AL,3,0,...,0.0,0.0,1.0,0,99.0,3.0,8,1.0,1.0,NaN
13122,frasoja01,Jason,Frasor,Jason Andrew,2015,1,KCA,AL,1,0,...,2.0,2.0,0.0,0,104.0,10.0,5,1.0,1.0,NaN
15596,guthrje01,Jeremy,Guthrie,Jeremy,2015,1,KCA,AL,8,8,...,1.0,4.0,9.0,0,664.0,4.0,101,5.0,6.0,NaN
17228,herreke01,Kelvin,Herrera,Kelvin De Jesus,2015,1,KCA,AL,4,3,...,1.0,4.0,2.0,0,286.0,8.0,23,1.0,5.0,NaN
17741,hochelu01,Luke,Hochevar,Luke Anthony,2015,1,KCA,AL,1,1,...,0.0,3.0,1.0,0,214.0,16.0,23,0.0,1.0,NaN
18044,hollagr01,Greg,Holland,Gregory Scott,2015,1,KCA,AL,3,2,...,1.0,7.0,0.0,0,193.0,40.0,20,3.0,1.0,NaN
24146,madsory01,Ryan,Madson,Ryan Michael,2015,1,KCA,AL,1,2,...,1.0,1.0,2.0,0,248.0,12.0,17,0.0,3.0,NaN
24427,mariomi01,Michael,Mariot,Michael Ryan,2015,1,KCA,AL,0,0,...,0.0,0.0,0.0,0,12.0,1.0,1,0.0,0.0,NaN
26117,medlekr01,Kris,Medlen,Kristopher Allen,2015,1,KCA,AL,6,2,...,0.0,3.0,2.0,0,243.0,2.0,30,0.0,1.0,NaN
27579,moralfr01,Franklin,Morales,Franklin Miguel,2015,1,KCA,AL,4,2,...,0.0,6.0,4.0,2,258.0,12.0,24,2.0,2.0,NaN
31698,pinoyo01,Yohan,Pino,Yohan Jose,2015,1,KCA,AL,0,2,...,0.0,0.0,0.0,0,82.0,3.0,8,0.0,0.0,NaN
40804,vargaja01,Jason,Vargas,Jason Matthew,2015,1,KCA,AL,5,2,...,0.0,0.0,1.0,0,183.0,0.0,20,0.0,0.0,NaN
40809,ventuyo01,Yordano,Ventura,Yordano,2015,1,KCA,AL,13,8,...,1.0,10.0,9.0,0,693.0,0.0,75,1.0,4.0,NaN
41189,volqued01,Edinson,Volquez,Edinson,2015,1,KCA,AL,13,9,...,1.0,3.0,8.0,0,850.0,0.0,89,5.0,7.0,NaN
44037,youngch03,Chris,Young,Christopher Ryan,2015,1,KCA,AL,11,6,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN

NYN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
857,alvarda01,Dario,Alvarez,Dario Rafael,2015,1,NYN,NL,1,0,...,0.0,0.0,2.0,1,19.0,0.0,5,1.0,0.0,NaN
3491,blevije01,Jerry,Blevins,Jerry Richard,2015,1,NYN,NL,1,0,...,0.0,0.0,0.0,0,15.0,1.0,0,0.0,0.0,NaN
6275,carlybu01,Buddy,Carlyle,Earl L.,2015,1,NYN,NL,1,0,...,0.0,1.0,0.0,0,32.0,1.0,5,0.0,2.0,NaN
7370,clippty01,Tyler,Clippard,Tyler Lee,2015,2,NYN,NL,4,1,...,1.0,5.0,2.0,0,134.0,6.0,13,1.0,1.0,NaN
7639,colonba01,Bartolo,Colon,Bartolo,2015,1,NYN,NL,14,13,...,5.0,0.0,4.0,0,815.0,1.0,94,9.0,7.0,NaN
11791,familje01,Jeurys,Familia,Jeurys,2015,1,NYN,NL,2,2,...,1.0,4.0,2.0,0,308.0,65.0,16,1.0,1.0,NaN
13887,geedi01,Dillon,Gee,Dillon Kyle,2015,1,NYN,NL,0,3,...,3.0,0.0,1.0,0,183.0,0.0,29,2.0,2.0,NaN
14064,gilmase01,Sean,Gilmartin,Sean Patrick,2015,1,NYN,NL,3,2,...,5.0,1.0,2.0,0,235.0,13.0,17,2.0,1.0,NaN
14266,goedder01,Erik,Goeddel,Erik Van Norman,2015,1,NYN,NL,1,1,...,2.0,2.0,2.0,0,132.0,9.0,9,0.0,3.0,NaN
16555,harvema01,Matt,Harvey,Matthew Edward,2015,1,NYN,NL,13,8,...,2.0,4.0,5.0,0,755.0,0.0,62,7.0,2.0,NaN
22289,leathja01,Jack,Leathersich,John Victor,2015,1,NYN,NL,0,1,...,0.0,0.0,1.0,0,52.0,6.0,3,0.0,0.0,NaN
24977,matzst01,Steven,Matz,Steven Jakob,2015,1,NYN,NL,4,0,...,0.0,0.0,1.0,0,149.0,0.0,9,1.0,1.0,NaN
26341,mejiaje01,Jenrry,Mejia,Jenrry Manuel,2015,1,NYN,NL,1,0,...,1.0,0.0,0.0,0,27.0,1.0,0,1.0,0.0,NaN
27290,montera01,Rafael,Montero,Rafael,2015,1,NYN,NL,0,1,...,3.0,0.0,0.0,0,46.0,1.0,6,1.0,0.0,NaN
27583,morriak01,Akeel,Morris,Akeel J.,2015,1,NYN,NL,0,0,...,0.0,0.0,0.0,0,8.0,0.0,5,0.0,0.0,NaN
28836,niesejo01,Jonathon,Niese,Jonathon Joseph,2015,1,NYN,NL,9,10,...,2.0,2.0,9.0,0,770.0,1.0,93,16.0,4.0,NaN
29445,oflaher01,Eric,O'Flaherty,Eric George,2015,2,NYN,NL,0,0,...,1.0,1.0,2.0,0,51.0,3.0,13,0.0,0.0,NaN
30439,parnebo01,Bobby,Parnell,Robert Allen,2015,1,NYN,NL,2,4,...,1.0,4.0,0.0,0,112.0,8.0,20,1.0,1.0,NaN
32833,reedad01,Addison,Reed,Addison Devon,2015,2,NYN,NL,1,1,...,1.0,0.0,0.0,0,60.0,3.0,2,0.0,0.0,NaN
33803,robleha01,Hansel,Robles,Hansel Manuel,2015,1,NYN,NL,4,3,...,1.0,2.0,2.0,1,217.0,7.0,27,1.0,1.0,NaN
37939,staufti01,Tim,Stauffer,Timothy James,2015,2,NYN,NL,0,0,...,0.0,0.0,1.0,0,27.0,2.0,5,0.0,0.0,NaN
39100,syndeno01,Noah,Syndergaard,Noah Seth,2015,1,NYN,NL,9,7,...,2.0,6.0,3.0,0,603.0,0.0,60,5.0,3.0,NaN
39972,torreca01,Carlos,Torres,Carlos Ephriam,2015,1,NYN,NL,5,6,...,6.0,5.0,0.0,0,243.0,19.0,32,1.0,3.0,NaN
39971,torreal01,Alex,Torres,Alexander Jesus,2015,1,NYN,NL,0,0,...,1.0,3.0,1.0,0,154.0,11.0,16,1.0,0.0,NaN
40813,verrelo01,Logan,Verrett,Scott Logan,2015,2,NYN,NL,1,1,...,3.0,0.0,2.0,0,148.0,3.0,13,2.0,1.0,NaN
9437,degroja01,Jacob,deGrom,Jacob Anthony,2015,1,NYN,NL,14,8,...,2.0,6.0,2.0,0,751.0,0.0,59,10.0,7.0,NaN

MIA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
858,alvarhe01,Henderson,Alvarez,Henderson Javier,2015,1,MIA,NL,0,4,...,1.0,3.0,0.0,1,102.0,0.0,18,4.0,1.0,NaN
1976,barraky01,Kyle,Barraclough,Kyle David,2015,1,MIA,NL,2,1,...,2.0,1.0,0.0,0,98.0,5.0,8,0.0,2.0,NaN
5940,cappsca01,Carter,Capps,Carter Lewis,2015,1,MIA,NL,1,0,...,0.0,2.0,2.0,0,118.0,8.0,5,1.0,1.0,NaN
7044,cishest01,Steve,Cishek,Steven R.,2015,1,MIA,NL,2,6,...,3.0,0.0,0.0,0,144.0,15.0,19,1.0,2.0,NaN
7640,conlead01,Adam,Conley,Adam Michael,2015,1,MIA,NL,4,1,...,1.0,0.0,3.0,0,281.0,1.0,28,1.0,4.0,NaN
8205,cordier01,Erik,Cordier,Erik Michael,2015,1,MIA,NL,0,0,...,1.0,0.0,1.0,1,56.0,0.0,8,0.0,1.0,NaN
8208,cosarja01,Jarred,Cosart,Jarred Lynn,2015,1,MIA,NL,2,5,...,1.0,7.0,1.0,0,296.0,0.0,35,2.0,1.0,NaN
10633,dunnmi01,Mike,Dunn,Michael Glen,2015,1,MIA,NL,2,5,...,1.0,2.0,2.0,0,235.0,9.0,27,0.0,1.0,NaN
10882,dysonsa01,Sam,Dyson,Samuel Isaac,2015,1,MIA,NL,3,3,...,1.0,6.0,3.0,0,190.0,10.0,21,3.0,1.0,NaN
11188,ellinbr02,Brian,Ellington,Brian Michael,2015,1,MIA,NL,2,1,...,2.0,1.0,2.0,0,105.0,9.0,10,0.0,2.0,NaN
12172,fernajo02,Jose,Fernandez,Jose D.,2015,1,MIA,NL,6,1,...,0.0,2.0,2.0,0,265.0,0.0,21,0.0,4.0,NaN
12395,floreke01,Kendry,Flores,Kendry,2015,1,MIA,NL,1,2,...,1.0,0.0,1.0,0,57.0,3.0,8,0.0,1.0,NaN
15936,handbr01,Brad,Hand,Bradley Richard,2015,1,MIA,NL,4,7,...,1.0,2.0,3.0,0,408.0,7.0,55,5.0,2.0,NaN
16297,harenda01,Dan,Haren,Daniel John,2015,1,MIA,NL,7,7,...,1.0,2.0,7.0,0,524.0,0.0,50,6.0,4.0,NaN
21370,koehlto01,Tom,Koehler,Thomas R.,2015,1,MIA,NL,11,14,...,3.0,2.0,6.0,0,800.0,0.0,96,6.0,5.0,NaN
22282,latosma01,Mat,Latos,Mathew Adam,2015,1,MIA,NL,4,7,...,0.0,9.0,1.0,0,372.0,0.0,46,4.0,3.0,NaN
22286,lazora01,Raudel,Lazo,Raudel,2015,1,MIA,NL,0,0,...,0.0,0.0,0.0,0,24.0,1.0,2,0.0,1.0,NaN
24969,masseni01,Nick,Masset,Nicholas Allen,2015,1,MIA,NL,0,0,...,0.0,1.0,1.0,0,41.0,2.0,3,0.0,2.0,NaN
25227,mazzavi01,Vin,Mazzaro,Vincent Michael,2015,1,MIA,NL,0,0,...,1.0,0.0,0.0,0,55.0,5.0,6,0.0,2.0,NaN
25804,mcgousc01,Scott,McGough,Scott Thomas,2015,1,MIA,NL,0,0,...,0.0,0.0,0.0,0,35.0,3.0,7,0.0,0.0,NaN
27584,morribr01,Bryan,Morris,Avery Bryan,2015,1,MIA,NL,5,4,...,0.0,2.0,3.0,0,277.0,18.0,26,4.0,0.0,NaN
28475,narvech01,Chris,Narveson,Christopher Gregg,2015,1,MIA,NL,3,1,...,0.0,0.0,0.0,0,121.0,3.0,15,0.0,0.0,NaN
28835,nicolju01,Justin,Nicolino,Justin Brian,2015,1,MIA,NL,5,4,...,2.0,2.0,3.0,0,301.0,0.0,33,5.0,3.0,NaN
31348,phelpda01,David,Phelps,David Edward,2015,1,MIA,NL,4,8,...,0.0,2.0,4.0,0,482.0,1.0,59,2.0,5.0,NaN
32588,ramosaj01,A. J.,Ramos,Alejandro,2015,1,MIA,NL,2,4,...,0.0,2.0,3.0,0,277.0,51.0,18,1.0,2.0,NaN
32834,reedch01,Chris,Reed,Christopher William,2015,1,MIA,NL,0,0,...,0.0,0.0,0.0,0,18.0,1.0,2,1.0,0.0,NaN
33561,rienzan01,Andre,Rienzo,Andre Albanez,2015,1,MIA,NL,0,1,...,1.0,3.0,1.0,0,89.0,5.0,14,1.0,0.0,NaN
38810,suzukic01,Ichiro,Suzuki,Ichiro,2015,1,MIA,NL,0,0,...,0.0,0.0,0.0,0,5.0,1.0,1,0.0,0.0,NaN
40497,urenajo01,Jose,Urena,Jose Miguel,2015,1,MIA,NL,1,5,...,2.0,2.0,3.0,1,274.0,4.0,37,3.0,5.0,NaN

LAA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
859,alvarjo02,Jose,Alvarez,Jose Ricardo,2015,1,LAA,AL,4,3,...,4.0,1.0,5.0,0,283.0,18.0,29,0.0,1.0,NaN
2613,bedroca01,Cam,Bedrosian,Cameron Rock,2015,1,LAA,AL,1,0,...,2.0,2.0,2.0,0,156.0,10.0,21,1.0,2.0,NaN
14507,gotttr01,Trevor,Gott,Trevor Vaughan,2015,1,LAA,AL,4,2,...,3.0,1.0,3.0,0,202.0,7.0,18,2.0,3.0,NaN
16811,heanean01,Andrew,Heaney,Andrew M.,2015,1,LAA,AL,6,4,...,1.0,4.0,6.0,0,438.0,0.0,41,1.0,3.0,NaN
18931,ibarred01,Edgar,Ibarra,Edgar Alexander,2015,1,LAA,AL,0,0,...,0.0,1.0,0.0,0,19.0,1.0,1,0.0,0.0,NaN
22284,latosma01,Mat,Latos,Mathew Adam,2015,3,LAA,AL,0,0,...,0.0,0.0,0.0,0,16.0,1.0,2,0.0,0.0,NaN
24973,matthry01,Ryan,Mattheus,Ryan Arthur,2015,1,LAA,AL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,0,0.0,0.0,NaN
27582,morinmi01,Mike,Morin,Michael William,2015,1,LAA,AL,4,2,...,2.0,0.0,2.0,0,151.0,10.0,28,2.0,2.0,NaN
31115,pestavi01,Vinnie,Pestano,Vincent William,2015,1,LAA,AL,1,0,...,2.0,1.0,1.0,0,60.0,3.0,9,0.0,2.0,NaN
32589,ramosce01,Cesar,Ramos,Cesar,2015,1,LAA,AL,2,1,...,0.0,5.0,3.0,0,221.0,21.0,17,3.0,3.0,NaN
32591,rasmuco02,Cory,Rasmus,Cory Taylor,2015,1,LAA,AL,0,0,...,2.0,0.0,1.0,0,88.0,5.0,12,1.0,0.0,NaN
33242,reyesjo03,Jo-Jo,Reyes,Joseph Albert,2015,1,LAA,AL,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0,0.0,0.0,NaN
33245,richaga01,Garrett,Richards,Garrett Thomas,2015,1,LAA,AL,15,12,...,2.0,17.0,5.0,0,865.0,0.0,94,6.0,10.0,NaN
34859,rucindr01,Drew,Rucinski,Andrew James,2015,1,LAA,AL,0,2,...,0.0,2.0,1.0,0,35.0,2.0,6,0.0,0.0,NaN
35144,salasfe01,Fernando,Salas,Noel Fernando,2015,1,LAA,AL,5,2,...,5.0,3.0,3.0,0,269.0,13.0,34,5.0,4.0,NaN
35404,santihe01,Hector,Santiago,Hector Felipe,2015,1,LAA,AL,9,9,...,5.0,1.0,10.0,3,776.0,0.0,80,4.0,4.0,NaN
36548,shoemma01,Matt,Shoemaker,Matthew David,2015,1,LAA,AL,7,10,...,2.0,3.0,4.0,0,569.0,1.0,70,4.0,4.0,NaN
37291,smithjo05,Joe,Smith,Joseph Michael,2015,1,LAA,AL,5,5,...,4.0,1.0,2.0,0,271.0,13.0,26,2.0,1.0,NaN
38521,streehu01,Huston,Street,Huston Lowell,2015,1,LAA,AL,3,3,...,5.0,6.0,0.0,0,255.0,51.0,22,2.0,3.0,NaN
40226,tropeni01,Nick,Tropeano,Nicholas Paul,2015,1,LAA,AL,3,2,...,0.0,0.0,0.0,0,161.0,0.0,18,2.0,1.0,NaN
41769,weaveje02,Jered,Weaver,Jered David,2015,1,LAA,AL,7,12,...,3.0,2.0,12.0,0,669.0,0.0,84,5.0,2.0,NaN
42755,wilkad01,Adam,Wilk,Adam Robert,2015,1,LAA,AL,0,0,...,0.0,0.0,1.0,0,10.0,1.0,1,0.0,0.0,NaN
43065,wilsocj01,C. J.,Wilson,Christopher John,2015,1,LAA,AL,8,8,...,2.0,11.0,10.0,1,553.0,0.0,59,2.0,4.0,NaN
43762,wrighwe01,Wesley,Wright,Dequam LaWesley,2015,2,LAA,AL,0,0,...,1.0,0.0,0.0,0,24.0,2.0,3,0.0,1.0,NaN

SDN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
861,amarial01,Alexi,Amarista,Alexi Jose,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,1.0,1.0,0,0.0,0.0,NaN
2891,benoijo01,Joaquin,Benoit,Joaquin Antonio,2015,1,SDN,NL,6,5,...,1.0,2.0,2.0,0,254.0,11.0,17,2.0,1.0,NaN
5939,campole01,Leonel,Campos,Leonel Enrique,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,5.0,0.0,1,0.0,0.0,NaN
6508,cashnan01,Andrew,Cashner,Andrew Burton,2015,1,SDN,NL,6,16,...,2.0,3.0,6.0,0,804.0,0.0,111,8.0,6.0,NaN
9713,despaod01,Odrisamer,Despaigne,Odrisamer,2015,1,SDN,NL,5,9,...,3.0,7.0,9.0,0,547.0,5.0,82,8.0,3.0,NaN
10886,edwarjo02,Jon,Edwards,Jonathan Benjamin,2015,2,SDN,NL,0,0,...,0.0,1.0,0.0,0,44.0,5.0,4,0.0,1.0,NaN
11464,erlinro01,Robbie,Erlin,Robert Joseph,2015,1,SDN,NL,1,2,...,0.0,1.0,1.0,0,65.0,0.0,9,0.0,0.0,NaN
13624,garcefr01,Frank,Garces,Frank Yeury,2015,1,SDN,NL,0,1,...,1.0,3.0,1.0,0,173.0,11.0,23,1.0,2.0,NaN
18936,jacksja01,Jay,Jackson,Randy,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,20.0,1.0,3,0.0,0.0,NaN
20378,kellesh01,Shawn,Kelley,Shawn Andrew,2015,1,SDN,NL,2,2,...,4.0,0.0,0.0,0,205.0,14.0,18,0.0,4.0,NaN
20379,kellyca01,Casey,Kelly,Casey Patrick,2015,1,SDN,NL,0,2,...,0.0,0.0,1.0,0,56.0,1.0,13,0.0,0.0,NaN
20708,kenneia01,Ian,Kennedy,Ian Patrick,2015,1,SDN,NL,9,15,...,4.0,5.0,7.0,1,713.0,0.0,95,8.0,2.0,NaN
20712,kimbrcr01,Craig,Kimbrel,Craig Michael,2015,1,SDN,NL,4,2,...,1.0,4.0,1.0,0,239.0,53.0,19,0.0,0.0,NaN
24972,mateoma01,Marcos,Mateo,Marcos Aurelio,2015,1,SDN,NL,1,1,...,1.0,1.0,3.0,0,113.0,6.0,16,1.0,1.0,NaN
24978,maurebr01,Brandon,Maurer,Brandon Eugene,2015,1,SDN,NL,7,4,...,1.0,1.0,1.0,0,206.0,10.0,19,1.0,2.0,NaN
25228,mazzoco01,Cory,Mazzoni,Cory Mitchell,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,53.0,4.0,22,0.0,1.0,NaN
27585,morrobr01,Brandon,Morrow,Brandon John,2015,1,SDN,NL,2,0,...,0.0,0.0,0.0,0,126.0,0.0,10,1.0,1.0,NaN
29106,norribu01,Bud,Norris,David Stefan,2015,2,SDN,NL,1,2,...,0.0,2.0,1.0,0,72.0,5.0,11,0.0,0.0,NaN
32269,quackke01,Kevin,Quackenbush,Kevin Robert,2015,1,SDN,NL,3,2,...,3.0,0.0,1.0,1,243.0,19.0,28,1.0,4.0,NaN
32829,reaco01,Colin,Rea,Colin D.,2015,1,SDN,NL,2,2,...,0.0,0.0,1.0,0,133.0,0.0,16,1.0,2.0,NaN
32830,rearich01,Chris,Rearick,Christopher Timothy,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,16.0,1.0,4,1.0,0.0,NaN
34381,rossty01,Tyson,Ross,Tyson William,2015,1,SDN,NL,10,12,...,3.0,14.0,8.0,0,823.0,0.0,78,3.0,3.0,NaN
34866,rzepcma01,Marc,Rzepczynski,Marc Walter,2015,2,SDN,NL,0,1,...,1.0,1.0,2.0,0,64.0,1.0,14,1.0,2.0,NaN
36547,shielja02,James,Shields,James Anthony,2015,1,SDN,NL,13,7,...,5.0,7.0,9.0,1,860.0,0.0,93,6.0,1.0,NaN
39408,thayeda01,Dale,Thayer,Dale Scott,2015,1,SDN,NL,2,2,...,4.0,2.0,0.0,0,158.0,5.0,17,1.0,1.0,NaN
41186,vinceni01,Nick,Vincent,Nicholas James,2015,1,SDN,NL,0,1,...,1.0,0.0,0.0,0,100.0,8.0,8,0.0,1.0,NaN

LAN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
862,anderbr04,Brett,Anderson,Brett Franklin,2015,1,LAN,NL,10,9,...,2.0,4.0,2.0,2,750.0,0.0,82,3.0,2.0,NaN
1509,avilalu01,Luis,Avilan,Luis Armando,2015,2,LAN,NL,0,1,...,0.0,1.0,1.0,0,66.0,2.0,9,1.0,1.0,NaN
1513,baezpe01,Pedro,Baez,Pedro Alberys,2015,1,LAN,NL,4,2,...,1.0,1.0,1.0,1,208.0,8.0,22,3.0,3.0,NaN
1794,bakersc02,Scott,Baker,Timothy Scott,2015,1,LAN,NL,0,1,...,0.0,1.0,0.0,0,45.0,0.0,7,0.0,0.0,NaN
2269,beachbr01,Brandon,Beachy,Brandon Alan,2015,1,LAN,NL,0,1,...,2.0,0.0,0.0,0,39.0,0.0,7,1.0,0.0,NaN
3493,bolsimi01,Mike,Bolsinger,Michael P.,2015,1,LAN,NL,6,6,...,3.0,6.0,1.0,1,466.0,0.0,49,3.0,2.0,NaN
8212,couloda01,Daniel,Coulombe,Daniel Paul,2015,1,LAN,NL,0,0,...,0.0,1.0,0.0,0,40.0,3.0,7,0.0,0.0,NaN
13125,friasca01,Carlos,Frias,Carlos David,2015,1,LAN,NL,5,5,...,1.0,3.0,3.0,0,333.0,1.0,38,4.0,4.0,NaN
13630,garciyi01,Yimi,Garcia,Yimi,2015,1,LAN,NL,3,5,...,1.0,1.0,2.0,0,225.0,15.0,23,0.0,2.0,NaN
14776,greinza01,Zack,Greinke,Donald Zachary,2015,1,LAN,NL,19,3,...,1.0,7.0,5.0,0,843.0,0.0,43,6.0,2.0,NaN
16556,hatchch02,Chris,Hatcher,David Christopher,2015,1,LAN,NL,3,5,...,2.0,3.0,3.0,0,166.0,12.0,19,2.0,1.0,NaN
18400,howeljp01,J. P.,Howell,James Phillip,2015,1,LAN,NL,6,1,...,1.0,3.0,2.0,1,190.0,18.0,9,0.0,1.0,NaN
18403,huffda01,David,Huff,David Gregory,2015,1,LAN,NL,0,0,...,0.0,0.0,1.0,0,30.0,1.0,6,1.0,0.0,NaN
19244,janseke01,Kenley,Jansen,Kenley Geronimo,2015,1,LAN,NL,2,1,...,0.0,0.0,2.0,0,200.0,50.0,14,0.0,2.0,NaN
19614,johnsji04,Jim,Johnson,James Robert,2015,2,LAN,NL,0,3,...,0.0,1.0,4.0,0,95.0,2.0,22,0.0,1.0,NaN
20710,kershcl01,Clayton,Kershaw,Clayton Edward,2015,1,LAN,NL,16,7,...,1.0,9.0,5.0,3,890.0,0.0,62,4.0,0.0,NaN
22283,latosma01,Mat,Latos,Mathew Adam,2015,2,LAN,NL,0,3,...,1.0,1.0,0.0,1,106.0,1.0,19,2.0,2.0,NaN
22635,leeza01,Zach,Lee,Zachary Stephen,2015,1,LAN,NL,0,1,...,0.0,0.0,0.0,0,24.0,0.0,7,0.0,0.0,NaN
22970,liberad01,Adam,Liberatore,Adam Joseph,2015,1,LAN,NL,2,2,...,4.0,1.0,0.0,0,122.0,5.0,14,0.0,1.0,NaN
25230,mccarbr01,Brandon,McCarthy,Brandon Patrick,2015,1,LAN,NL,3,0,...,0.0,0.0,0.0,0,94.0,0.0,15,0.0,0.0,NaN
28834,nicasju01,Juan,Nicasio,Juan Ramon,2015,1,LAN,NL,1,3,...,6.0,2.0,1.0,0,260.0,12.0,25,3.0,0.0,NaN
30722,peraljo01,Joel,Peralta,Joel,2015,1,LAN,NL,3,1,...,1.0,1.0,0.0,0,121.0,7.0,14,0.0,0.0,NaN
32594,ravinjo01,Josh,Ravin,Joshua Joseph,2015,1,LAN,NL,2,1,...,0.0,1.0,1.0,0,47.0,4.0,7,0.0,0.0,NaN
34144,rodrist02,Paco,Rodriguez,Steven Francis,2015,1,LAN,NL,0,0,...,0.0,0.0,0.0,0,42.0,4.0,3,0.0,1.0,NaN
35405,santose01,Sergio,Santos,Sergio Jose,2015,1,LAN,NL,0,0,...,1.0,4.0,0.0,0,61.0,6.0,7,0.0,1.0,NaN
38809,surkaer01,Eric,Surkamp,Eric Michael,2015,1,LAN,NL,0,0,...,0.0,0.0,2.0,0,16.0,0.0,4,0.0,0.0,NaN
39681,thomaia01,Ian,Thomas,Ian Drew,2015,2,LAN,NL,1,1,...,0.0,0.0,0.0,0,73.0,3.0,8,0.0,0.0,NaN
40227,tsaoch01,Chin-hui,Tsao,Chin-hui,2015,1,LAN,NL,1,1,...,1.0,0.0,0.0,0,37.0,0.0,9,0.0,0.0,NaN
42099,westma03,Matt,West,Matthew Robert O'Neil,2015,1,LAN,NL,0,0,...,0.0,0.0,0.0,0,11.0,2.0,0,0.0,0.0,NaN
42753,wielajo01,Joe,Wieland,Joseph Andrew,2015,1,LAN,NL,0,1,...,1.0,0.0,0.0,0,40.0,0.0,8,0.0,1.0,NaN
43395,woodal02,Alex,Wood,Robert Alexander,2015,2,LAN,NL,5,6,...,2.0,1.0,2.0,1,292.0,0.0,36,4.0,2.0,NaN

ARI

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
863,anderch01,Chase,Anderson,Robert Chase,2015,1,ARI,NL,6,6,...,2.0,3.0,7.0,0,640.0,0.0,75,3.0,9.0,NaN
4073,brachsi01,Silvino,Bracho,Silvino,2015,1,ARI,NL,0,0,...,1.0,1.0,1.0,0,50.0,3.0,2,0.0,0.0,NaN
4074,bradlar01,Archie,Bradley,Archie N.,2015,1,ARI,NL,2,3,...,1.0,0.0,2.0,0,161.0,0.0,23,1.0,1.0,NaN
5339,burgoen02,Enrique,Burgos,Enrique,2015,1,ARI,NL,2,2,...,0.0,6.0,0.0,0,121.0,8.0,15,0.0,1.0,NaN
6516,chacijh01,Jhoulys,Chacin,Jhoulys Jose,2015,1,ARI,NL,2,1,...,0.0,0.0,0.0,0,111.0,0.0,11,1.0,0.0,NaN
6822,chafian01,Andrew,Chafin,Andrew Gregory,2015,1,ARI,NL,5,1,...,6.0,2.0,1.0,0,306.0,6.0,23,3.0,2.0,NaN
7637,collmjo01,Josh,Collmenter,Joshua Michael,2015,1,ARI,NL,4,6,...,2.0,1.0,1.0,0,499.0,19.0,53,2.0,6.0,NaN
7918,corbipa01,Patrick,Corbin,Patrick Alan,2015,1,ARI,NL,6,5,...,0.0,4.0,2.0,0,357.0,0.0,34,2.0,1.0,NaN
9440,delarru01,Rubby,De La Rosa,Rubby Carlos,2015,1,ARI,NL,14,9,...,3.0,2.0,4.0,2,809.0,0.0,103,8.0,5.0,NaN
9441,delgara01,Randall,Delgado,Randall Enrique,2015,1,ARI,NL,8,4,...,2.0,7.0,1.0,0,308.0,13.0,28,2.0,2.0,NaN
14265,godleza01,Zack,Godley,Zachary Thomas,2015,1,ARI,NL,5,1,...,1.0,2.0,3.0,0,150.0,1.0,13,1.0,1.0,NaN
16812,hellije01,Jeremy,Hellickson,Jeremy Robert,2015,1,ARI,NL,9,12,...,3.0,5.0,6.0,0,636.0,0.0,79,8.0,6.0,NaN
17226,hernada01,David,Hernandez,David Jose,2015,1,ARI,NL,1,5,...,0.0,1.0,3.0,0,144.0,7.0,18,1.0,0.0,NaN
17521,hesslke01,Keith,Hessler,Keith,2015,1,ARI,NL,0,1,...,1.0,1.0,0.0,0,57.0,1.0,11,0.0,0.0,NaN
18401,hudsoda01,Daniel,Hudson,Daniel Claiborne,2015,1,ARI,NL,4,3,...,2.0,5.0,0.0,0,290.0,13.0,34,1.0,3.0,NaN
22638,leonedo01,Dominic,Leone,Dominic Joseph,2015,2,ARI,NL,0,1,...,0.0,0.0,1.0,0,20.0,1.0,6,0.0,1.0,NaN
24685,marshev01,Evan,Marshall,Evan Patrick,2015,1,ARI,NL,0,2,...,1.0,1.0,0.0,0,61.0,4.0,9,0.0,0.0,NaN
29110,nunovi01,Vidal,Nuno,Vidal Vicente,2015,1,ARI,NL,0,1,...,1.0,0.0,0.0,1,58.0,1.0,3,0.0,0.0,NaN
31111,perezol01,Oliver,Perez,Oliver,2015,1,ARI,NL,2,1,...,1.0,2.0,4.0,0,128.0,11.0,12,1.0,0.0,NaN
32582,ramirjc01,J. C.,Ramirez,Juan Carlos,2015,1,ARI,NL,1,1,...,2.0,1.0,0.0,0,63.0,4.0,7,0.0,0.0,NaN
32828,rayro02,Robbie,Ray,Robert Glenn,2015,1,ARI,NL,5,12,...,3.0,2.0,8.0,0,545.0,0.0,56,7.0,6.0,NaN
32832,reedad01,Addison,Reed,Addison Devon,2015,1,ARI,NL,2,2,...,5.0,2.0,0.0,0,181.0,11.0,19,1.0,0.0,NaN
33243,reynoma02,Matt,Reynolds,Matthew Paul,2015,1,ARI,NL,0,0,...,2.0,0.0,1.0,0,62.0,3.0,7,0.0,0.0,NaN
35708,schugaj01,A. J.,Schugel,Andrew Jeffrey,2015,1,ARI,NL,0,0,...,2.0,0.0,0.0,0,51.0,2.0,13,0.0,0.0,NaN
38230,stitema01,Matt,Stites,Matthew Steven,2015,1,ARI,NL,0,0,...,0.0,0.0,0.0,0,44.0,6.0,14,0.0,1.0,NaN
42098,webstal01,Allen,Webster,Carl Allen,2015,1,ARI,NL,1,1,...,1.0,1.0,2.0,0,142.0,1.0,28,1.0,1.0,NaN
44135,zieglbr01,Brad,Ziegler,Brad Gregory,2015,1,ARI,NL,0,3,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN

TBA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
865,andrima01,Matt,Andriese,Matthew Lee,2015,1,TBA,AL,3,5,...,1.0,2.0,2.0,2,282.0,8.0,32,1.0,3.0,NaN
1178,archech01,Chris,Archer,Christopher Alan,2015,1,TBA,AL,12,13,...,0.0,13.0,3.0,0,868.0,0.0,85,2.0,2.0,NaN
1796,balfogr01,Grant,Balfour,Grant Robert,2015,1,TBA,AL,0,0,...,0.0,1.0,1.0,0,21.0,1.0,3,0.0,1.0,NaN
2617,belisro01,Ronald,Belisario,Ronald J.,2015,1,TBA,AL,0,0,...,1.0,3.0,0.0,0,36.0,3.0,7,0.0,0.0,NaN
2618,belivje01,Jeff,Beliveau,Jeffrey Ryan,2015,1,TBA,AL,0,0,...,0.0,0.0,0.0,0,15.0,0.0,4,0.0,0.0,NaN
2619,bellaan01,Andrew,Bellatti,Andrew James,2015,1,TBA,AL,3,1,...,0.0,0.0,1.0,0,95.0,6.0,7,2.0,1.0,NaN
4068,boxbebr01,Brad,Boxberger,Bradley George,2015,1,TBA,AL,4,10,...,5.0,5.0,2.0,1,271.0,53.0,29,2.0,1.0,NaN
6515,cedenxa01,Xavier,Cedeno,Xavier,2015,2,TBA,AL,4,1,...,2.0,4.0,1.0,0,174.0,9.0,11,0.0,0.0,NaN
7638,colomal01,Alex,Colome,Alexander Manuel,2015,1,TBA,AL,8,5,...,4.0,8.0,4.0,0,457.0,5.0,50,2.0,7.0,NaN
10000,dominjo01,Jose,Dominguez,Jose Alfredo,2015,1,TBA,AL,1,0,...,0.0,0.0,0.0,0,19.0,2.0,0,1.0,0.0,NaN
11189,elmorja01,Jake,Elmore,Jacob David,2015,1,TBA,AL,0,0,...,0.0,0.0,0.0,0,6.0,0.0,1,0.0,0.0,NaN
13121,frankni01,Nick,Franklin,Nicholas Edward,2015,1,TBA,AL,0,0,...,0.0,0.0,1.0,0,7.0,1.0,2,0.0,0.0,NaN
13127,frierer01,Ernesto,Frieri,Ernesto,2015,1,TBA,AL,1,0,...,0.0,1.0,1.0,0,100.0,6.0,12,0.0,2.0,NaN
13888,geltzst01,Steve,Geltz,Steven Andrew,2015,1,TBA,AL,2,6,...,3.0,4.0,2.0,0,269.0,12.0,31,2.0,0.0,NaN
14268,gomesbr01,Brandon,Gomes,Brandon Paul,2015,1,TBA,AL,2,6,...,2.0,4.0,3.0,1,245.0,13.0,28,3.0,2.0,NaN
15246,guilmpr01,Preston,Guilmet,Preston Blake,2015,1,TBA,AL,0,0,...,0.0,0.0,0.0,0,23.0,2.0,3,0.0,1.0,NaN
19249,jepseke01,Kevin,Jepsen,Kevin Martin,2015,1,TBA,AL,2,5,...,1.0,2.0,0.0,0,176.0,6.0,15,1.0,5.0,NaN
20149,karnsna01,Nate,Karns,Nathan Alan,2015,1,TBA,AL,7,5,...,1.0,15.0,5.0,0,621.0,0.0,62,3.0,4.0,NaN
25803,mcgeeja01,Jake,McGee,Jacob Daniel,2015,1,TBA,AL,1,2,...,1.0,1.0,1.0,0,147.0,6.0,11,0.0,1.0,NaN
27292,moorema02,Matt,Moore,Matthew Cody,2015,1,TBA,AL,3,4,...,1.0,6.0,4.0,0,278.0,0.0,40,0.0,3.0,NaN
29443,odorija01,Jake,Odorizzi,Jacob Todd,2015,1,TBA,AL,9,9,...,0.0,5.0,3.0,1,700.0,0.0,65,4.0,3.0,NaN
32581,ramirer02,Erasmo,Ramirez,Erasmo Jose,2015,1,TBA,AL,11,6,...,0.0,3.0,9.0,0,666.0,5.0,73,1.0,1.0,NaN
33560,riefecj01,C. J.,Riefenhauser,Charles Joseph,2015,1,TBA,AL,1,0,...,0.0,0.0,0.0,0,62.0,4.0,10,1.0,1.0,NaN
34149,romeren01,Enny,Romero,Enny Manuel,2015,1,TBA,AL,0,2,...,0.0,2.0,0.0,0,140.0,7.0,18,1.0,1.0,NaN
37294,smylydr01,Drew,Smyly,Todd Andrew,2015,1,TBA,AL,5,2,...,0.0,2.0,1.0,0,275.0,0.0,24,1.0,1.0,NaN
39404,teafoev01,Everett,Teaford,Everett James,2015,1,TBA,AL,0,0,...,1.0,0.0,1.0,0,24.0,2.0,1,0.0,0.0,NaN
43763,yateski01,Kirby,Yates,Kirby Kali,2015,1,TBA,AL,1,0,...,0.0,0.0,1.0,0,92.0,10.0,18,0.0,0.0,NaN

PHI

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1177,araujel01,Elvis,Araujo,Elvis Alejandro,2015,1,PHI,NL,2,1,...,1.0,2.0,0.0,0,151.0,5.0,17,2.0,0.0,NaN
1182,asheral01,Alec,Asher,Alec Edward,2015,1,PHI,NL,0,6,...,0.0,2.0,1.0,2,138.0,0.0,30,2.0,1.0,NaN
1507,aumonph01,Phillippe,Aumont,Phillippe,2015,1,PHI,NL,0,1,...,0.0,1.0,0.0,0,23.0,0.0,6,0.0,0.0,NaN
3185,billich01,Chad,Billingsley,Chad Ryan,2015,1,PHI,NL,2,3,...,0.0,2.0,1.0,0,165.0,0.0,26,2.0,1.0,NaN
4982,buchada01,David,Buchanan,David Andrew,2015,1,PHI,NL,2,9,...,1.0,2.0,3.0,0,351.0,0.0,60,4.0,0.0,NaN
8207,correke01,Kevin,Correia,Kevin John,2015,1,PHI,NL,0,3,...,0.0,0.0,0.0,0,114.0,0.0,23,2.0,2.0,NaN
9436,defraju01,Justin,De Fratus,Justin Andrew,2015,1,PHI,NL,0,2,...,2.0,7.0,5.0,0,362.0,16.0,52,4.0,5.0,NaN
9719,diekmja01,Jake,Diekman,Jacob Tanner,2015,1,PHI,NL,2,1,...,0.0,1.0,2.0,0,175.0,6.0,23,0.0,0.0,NaN
11186,eickhje01,Jerad,Eickhoff,Jerad Joseph,2015,1,PHI,NL,3,3,...,0.0,1.0,0.0,0,203.0,0.0,16,0.0,1.0,NaN
12788,francje02,Jeff,Francoeur,Jeffrey Braden,2015,1,PHI,NL,0,0,...,0.0,0.0,1.0,0,11.0,1.0,2,0.0,1.0,NaN
13629,garcilu03,Luis,Garcia,Luis Amado,2015,1,PHI,NL,4,6,...,8.0,6.0,0.0,1,304.0,14.0,28,3.0,2.0,NaN
14063,gileske01,Ken,Giles,Kenneth Robert,2015,1,PHI,NL,6,3,...,2.0,1.0,1.0,0,298.0,28.0,23,1.0,2.0,NaN
14270,gomezje01,Jeanmar,Gomez,Jeanmar Alejandro,2015,1,PHI,NL,2,3,...,4.0,3.0,2.0,0,319.0,21.0,28,1.0,4.0,NaN
14275,gonzase01,Severino,Gonzalez,Severino Yunier,2015,1,PHI,NL,3,3,...,0.0,0.0,4.0,1,143.0,0.0,27,1.0,4.0,NaN
15933,hamelco01,Cole,Hamels,Colbert Michael,2015,1,PHI,NL,6,7,...,3.0,7.0,6.0,2,537.0,0.0,53,5.0,1.0,NaN
16295,haranaa01,Aaron,Harang,Aaron Michael,2015,1,PHI,NL,6,15,...,3.0,4.0,6.0,0,748.0,0.0,100,8.0,2.0,NaN
17740,hinojda01,Dalier,Hinojosa,Dalier,2015,2,PHI,NL,2,0,...,1.0,1.0,0.0,0,93.0,4.0,3,0.0,0.0,NaN
19251,jimence01,Cesar,Jimenez,Cesar Enrique,2015,1,PHI,NL,0,0,...,0.0,0.0,0.0,0,10.0,2.0,0,0.0,0.0,NaN
23276,loewead01,Adam,Loewen,Adam A.,2015,1,PHI,NL,1,0,...,1.0,5.0,3.0,0,93.0,7.0,15,1.0,1.0,NaN
25805,mcgowdu01,Dustin,McGowan,Dustin Michael,2015,1,PHI,NL,1,2,...,1.0,1.0,0.0,0,118.0,3.0,21,0.0,0.0,NaN
27581,morgaad01,Adam,Morgan,Adam Christopher,2015,1,PHI,NL,5,7,...,0.0,2.0,4.0,1,352.0,0.0,45,1.0,3.0,NaN
28161,murraco01,Colton,Murray,Colton James,2015,1,PHI,NL,0,1,...,0.0,1.0,0.0,0,37.0,6.0,5,0.0,0.0,NaN
28478,nerishe01,Hector,Neris,Hector,2015,1,PHI,NL,2,2,...,0.0,3.0,4.0,0,170.0,8.0,19,1.0,0.0,NaN
28838,nolaaa01,Aaron,Nola,Aaron Michael,2015,1,PHI,NL,6,2,...,1.0,0.0,2.0,0,318.0,0.0,31,1.0,1.0,NaN
29755,osullse01,Sean,O'Sullivan,Sean Daniel,2015,1,PHI,NL,1,6,...,5.0,3.0,6.0,0,328.0,0.0,49,4.0,5.0,NaN
29447,ogandne01,Nefi,Ogando,Nefi Ismael,2015,1,PHI,NL,0,0,...,0.0,0.0,0.0,0,21.0,1.0,5,0.0,0.0,NaN
30093,papeljo01,Jonathan,Papelbon,Jonathan Robert,2015,1,PHI,NL,2,1,...,1.0,0.0,4.0,0,161.0,34.0,9,1.0,0.0,NaN
33800,roberke02,Kenny,Roberts,Kenneth Elwin,2015,2,PHI,NL,1,0,...,0.0,0.0,0.0,0,22.0,1.0,5,1.0,1.0,NaN
34376,rosinse01,Seth,Rosin,Seth Daniel,2015,1,PHI,NL,0,0,...,0.0,1.0,1.0,0,14.0,1.0,5,0.0,1.0,NaN
42756,willije02,Jerome,Williams,Jerome Lee,2015,1,PHI,NL,4,12,...,3.0,4.0,5.0,0,553.0,3.0,83,2.0,4.0,NaN

BOS

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1180,arojo01,Jonathan,Aro,Jonathan Arturo,2015,1,BOS,AL,0,1,...,0.0,0.0,0.0,0,49.0,2.0,8,0.0,1.0,NaN
1975,barnema01,Matt,Barnes,Matthew D.,2015,1,BOS,AL,3,4,...,0.0,4.0,2.0,0,199.0,7.0,28,2.0,0.0,NaN
4404,breslcr01,Craig,Breslow,Craig Andrew,2015,1,BOS,AL,0,4,...,5.0,2.0,2.0,0,280.0,18.0,33,3.0,5.0,NaN
4984,buchhcl01,Clay,Buchholz,Clay Daniel,2015,1,BOS,AL,7,7,...,0.0,3.0,5.0,0,469.0,0.0,48,1.0,2.0,NaN
7915,cookry01,Ryan,Cook,Ryan William,2015,2,BOS,AL,0,0,...,0.0,1.0,0.0,0,31.0,1.0,14,0.0,0.0,NaN
16813,hembrhe01,Heath,Hembree,Richard Heath,2015,1,BOS,AL,2,0,...,2.0,1.0,0.0,0,106.0,9.0,10,0.0,0.0,NaN
17523,hillri01,Rich,Hill,Richard Joseph,2015,1,BOS,AL,2,1,...,0.0,0.0,2.0,0,106.0,0.0,5,0.0,0.0,NaN
17739,hinojda01,Dalier,Hinojosa,Dalier,2015,1,BOS,AL,0,0,...,0.0,0.0,1.0,0,9.0,1.0,0,0.0,0.0,NaN
19611,johnsbr02,Brian,Johnson,Christopher Brian,2015,1,BOS,AL,0,1,...,0.0,0.0,0.0,0,19.0,0.0,4,0.0,1.0,NaN
20380,kellyjo05,Joe,Kelly,Joseph William,2015,1,BOS,AL,10,6,...,0.0,9.0,6.0,0,587.0,0.0,76,0.0,5.0,NaN
22285,layneto01,Tommy,Layne,Thomas Kevin,2015,1,BOS,AL,2,1,...,2.0,1.0,2.0,0,207.0,9.0,22,2.0,1.0,NaN
23839,machije01,Jean,Machi,Jean Manuel,2015,2,BOS,AL,1,0,...,0.0,2.0,0.0,0,98.0,9.0,14,0.0,1.0,NaN
24971,masteju01,Justin,Masterson,Justin Daniel,2015,1,BOS,AL,4,2,...,0.0,7.0,10.0,1,273.0,4.0,38,0.0,1.0,NaN
26344,mendero01,Roman,Mendez,Roman Junior,2015,2,BOS,AL,0,0,...,0.0,0.0,0.0,0,9.0,2.0,1,0.0,0.0,NaN
26600,mileywa01,Wade,Miley,Wade Allen,2015,1,BOS,AL,11,11,...,0.0,10.0,4.0,1,831.0,0.0,98,3.0,2.0,NaN
27922,mujiced01,Edward,Mujica,Edward Jose,2015,1,BOS,AL,1,1,...,0.0,0.0,1.0,2,56.0,4.0,7,1.0,0.0,NaN
29446,ogandal01,Alexi,Ogando,Alexi,2015,1,BOS,AL,3,1,...,2.0,1.0,3.0,2,277.0,16.0,29,0.0,2.0,NaN
30092,owenshe02,Henry,Owens,Henry Cole,2015,1,BOS,AL,4,4,...,0.0,4.0,3.0,1,272.0,0.0,35,0.0,2.0,NaN
31700,porceri01,Rick,Porcello,Frederick Alfred,2015,1,BOS,AL,9,15,...,0.0,12.0,10.0,1,737.0,0.0,103,2.0,5.0,NaN
32587,ramirno01,Noe,Ramirez,Noe,2015,1,BOS,AL,0,1,...,0.0,1.0,2.0,0,61.0,3.0,12,0.0,0.0,NaN
34141,rodried05,Eduardo,Rodriguez,Eduardo Jose,2015,1,BOS,AL,10,6,...,1.0,4.0,4.0,1,522.0,0.0,55,5.0,4.0,NaN
34380,rossro01,Robbie,Ross,Robert Charles,2015,1,BOS,AL,0,2,...,2.0,1.0,3.0,0,259.0,18.0,28,2.0,2.0,NaN
39403,tazawju01,Junichi,Tazawa,Junichi,2015,1,BOS,AL,2,7,...,1.0,9.0,1.0,1,247.0,13.0,28,0.0,1.0,NaN
40496,ueharko01,Koji,Uehara,Koji,2015,1,BOS,AL,2,4,...,1.0,4.0,0.0,0,160.0,38.0,14,1.0,1.0,NaN
40805,varvaan01,Anthony,Varvaro,Anthony Michael,2015,1,BOS,AL,0,1,...,1.0,1.0,0.0,0,51.0,2.0,5,0.0,0.0,NaN
43760,wrighst01,Steven,Wright,Steven Richard,2015,1,BOS,AL,5,4,...,0.0,2.0,1.0,0,310.0,3.0,38,1.0,1.0,NaN

CHN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1181,arrieja01,Jake,Arrieta,Jacob Joseph,2015,1,CHN,NL,22,6,...,2.0,6.0,6.0,0,870.0,0.0,52,4.0,1.0,NaN
2614,beeleda01,Dallas,Beeler,Dallas James,2015,1,CHN,NL,0,1,...,2.0,0.0,0.0,0,46.0,0.0,11,0.0,0.0,NaN
5649,cahiltr01,Trevor,Cahill,Trevor John,2015,2,CHN,NL,1,0,...,0.0,1.0,1.0,0,63.0,0.0,4,1.0,0.0,NaN
7371,cokeph01,Phil,Coke,Phillip Douglas,2015,1,CHN,NL,0,0,...,2.0,0.0,0.0,0,45.0,2.0,7,0.0,1.0,NaN
9710,denorch01,Chris,Denorfia,Christopher Anthony,2015,1,CHN,NL,0,0,...,0.0,0.0,0.0,0,1.0,1.0,0,0.0,0.0,NaN
10884,edwarca01,Carl,Edwards,Carl Fleming,2015,1,CHN,NL,0,0,...,0.0,0.0,0.0,0,19.0,3.0,3,0.0,0.0,NaN
13889,germego01,Gonzalez,Germen,Gonzalez German,2015,1,CHN,NL,0,0,...,2.0,0.0,0.0,0,29.0,2.0,5,1.0,0.0,NaN
15241,grimmju01,Justin,Grimm,Justin Scott,2015,1,CHN,NL,3,5,...,1.0,8.0,1.0,0,204.0,11.0,18,0.0,3.0,NaN
15935,hammeja01,Jason,Hammel,Jason Aaron,2015,1,CHN,NL,10,7,...,4.0,10.0,6.0,0,710.0,0.0,79,4.0,6.0,NaN
16298,harenda01,Dan,Haren,Daniel John,2015,2,CHN,NL,4,2,...,1.0,3.0,1.0,0,244.0,0.0,29,2.0,1.0,NaN
16814,hendrky01,Kyle,Hendricks,Kyle Christian,2015,1,CHN,NL,8,7,...,1.0,3.0,8.0,1,739.0,0.0,82,6.0,0.0,NaN
18685,hunteto02,Tommy,Hunter,Raymond Thomas,2015,2,CHN,NL,2,0,...,0.0,0.0,0.0,0,69.0,5.0,10,0.0,0.0,NaN
18934,jacksed01,Edwin,Jackson,Edwin,2015,1,CHN,NL,2,1,...,1.0,3.0,1.0,1,134.0,11.0,14,1.0,2.0,NaN
22968,lestejo01,Jon,Lester,Jonathan Tyler,2015,1,CHN,NL,11,12,...,0.0,8.0,7.0,0,828.0,0.0,83,5.0,4.0,NaN
26116,medinyo01,Yoervis,Medina,Yoervis Jose,2015,2,CHN,NL,0,0,...,0.0,0.0,0.0,0,43.0,2.0,7,0.0,0.0,NaN
27920,motteja01,Jason,Motte,Jason Louis,2015,1,CHN,NL,8,1,...,5.0,2.0,2.0,0,206.0,18.0,21,3.0,2.0,NaN
32586,ramirne01,Neil,Ramirez,Neil Andrew,2015,1,CHN,NL,1,0,...,0.0,2.0,0.0,0,60.0,4.0,5,0.0,2.0,NaN
33244,richacl01,Clayton,Richard,Clayton Colby,2015,1,CHN,NL,4,2,...,1.0,4.0,1.0,0,181.0,0.0,18,0.0,0.0,NaN
33796,roachdo01,Donn,Roach,Donn Mitchell,2015,1,CHN,NL,0,1,...,0.0,0.0,0.0,0,18.0,0.0,4,0.0,0.0,NaN
33805,rodnefe01,Fernando,Rodney,Fernando,2015,2,CHN,NL,2,0,...,0.0,1.0,3.0,0,50.0,4.0,4,0.0,0.0,NaN
34371,rondohe01,Hector,Rondon,Hector Luis,2015,1,CHN,NL,6,4,...,2.0,5.0,3.0,1,281.0,47.0,19,3.0,1.0,NaN
34378,rossda01,David,Ross,David Wade,2015,1,CHN,NL,0,0,...,0.0,0.0,0.0,0,6.0,2.0,0,0.0,0.0,NaN
34377,rosscza01,Zac,Rosscup,Zachary M.,2015,1,CHN,NL,2,1,...,0.0,1.0,0.0,0,118.0,6.0,13,2.0,0.0,NaN
34862,russeja02,James,Russell,James Clayton,2015,1,CHN,NL,0,2,...,2.0,0.0,0.0,0,148.0,8.0,24,1.0,1.0,NaN
35707,schlibr01,Brian,Schlitter,Brian Patrick,2015,1,CHN,NL,1,2,...,0.0,0.0,0.0,0,35.0,3.0,6,0.0,0.0,NaN
37626,soriara01,Rafael,Soriano,Rafael,2015,1,CHN,NL,2,0,...,0.0,0.0,0.0,0,25.0,3.0,4,0.0,0.0,NaN
38524,stroppe01,Pedro,Strop,Pedro Angel,2015,1,CHN,NL,2,6,...,6.0,6.0,4.0,0,270.0,12.0,24,1.0,3.0,NaN
41192,wadats01,Tsuyoshi,Wada,Tsuyoshi,2015,1,CHN,NL,1,1,...,1.0,1.0,1.0,0,136.0,0.0,14,1.0,1.0,NaN
43756,woodtr01,Travis,Wood,Travis A.,2015,1,CHN,NL,5,4,...,5.0,2.0,1.0,0,419.0,12.0,48,1.0,2.0,NaN

COL

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1511,axforjo01,John,Axford,John Berton,2015,1,COL,NL,4,5,...,4.0,1.0,0.0,0,250.0,43.0,27,0.0,2.0,NaN
2892,bergmch01,Christian,Bergman,Christian Stanford,2015,1,COL,NL,3,1,...,1.0,4.0,0.0,0,286.0,6.0,36,2.0,1.0,NaN
2894,betanra01,Rafael,Betancourt,Rafael Jose,2015,1,COL,NL,2,4,...,4.0,0.0,0.0,0,175.0,9.0,29,0.0,2.0,NaN
2895,bettich01,Chad,Bettis,Chad Robert,2015,1,COL,NL,8,6,...,2.0,6.0,3.0,0,502.0,0.0,56,7.0,2.0,NaN
4679,brothre01,Rex,Brothers,Rex Coleman,2015,1,COL,NL,1,0,...,0.0,1.0,0.0,0,46.0,1.0,2,0.0,1.0,NaN
4680,brownbr02,Brooks,Brown,Brooks Steven,2015,1,COL,NL,1,3,...,0.0,2.0,1.0,0,147.0,7.0,18,4.0,0.0,NaN
5646,butleed01,Eddie,Butler,Timothy Edward,2015,1,COL,NL,3,10,...,4.0,0.0,4.0,0,370.0,0.0,57,6.0,1.0,NaN
6511,castrmi01,Miguel,Castro,Miguel Angel,2015,2,COL,NL,0,1,...,0.0,0.0,0.0,0,26.0,3.0,6,0.0,0.0,NaN
6512,castrsi01,Simon,Castro,Simon,2015,1,COL,NL,2,0,...,0.0,0.0,1.0,0,47.0,2.0,7,2.0,0.0,NaN
9439,delarjo01,Jorge,De La Rosa,Jorge Alberto,2015,1,COL,NL,9,7,...,3.0,6.0,3.0,2,635.0,0.0,73,4.0,8.0,NaN
9716,diazja01,Jairo,Diaz,Jairo Jose,2015,1,COL,NL,0,1,...,0.0,0.0,0.0,0,78.0,5.0,6,0.0,0.0,NaN
12394,flandyo01,Yohan,Flande,Yohan Carlos,2015,1,COL,NL,3,3,...,3.0,1.0,1.0,1,296.0,2.0,36,5.0,1.0,NaN
13126,friedch01,Christian,Friedrich,Christian Louis Patrick,2015,1,COL,NL,0,4,...,2.0,3.0,1.0,0,270.0,13.0,37,4.0,6.0,NaN
13890,germego01,Gonzalez,Germen,Gonzalez German,2015,2,COL,NL,0,0,...,1.0,3.0,0.0,0,147.0,3.0,14,0.0,0.0,NaN
14770,grayjo02,Jon,Gray,Jonathan Charles,2015,1,COL,NL,0,2,...,2.0,3.0,2.0,0,185.0,0.0,26,2.0,4.0,NaN
15595,gurkaja01,Jason,Gurka,Jason Isidore,2015,1,COL,NL,0,0,...,0.0,0.0,0.0,0,39.0,4.0,8,0.0,0.0,NaN
15599,haleda02,David,Hale,David E.,2015,1,COL,NL,5,5,...,2.0,11.0,2.0,0,346.0,0.0,56,3.0,2.0,NaN
16558,hawkila01,LaTroy,Hawkins,LaTroy,2015,1,COL,NL,2,1,...,1.0,1.0,0.0,0,89.0,11.0,9,0.0,0.0,NaN
20148,kahnlto01,Tommy,Kahnle,Thomas R.,2015,1,COL,NL,0,1,...,1.0,3.0,0.0,0,155.0,8.0,22,1.0,2.0,NaN
20382,kendrky01,Kyle,Kendrick,Kyle Rodney,2015,1,COL,NL,7,13,...,2.0,4.0,7.0,0,629.0,0.0,102,5.0,2.0,NaN
21685,laffeaa01,Aaron,Laffey,Aaron Steven,2015,1,COL,NL,1,0,...,1.0,0.0,1.0,0,33.0,0.0,3,2.0,0.0,NaN
23277,loganbo02,Boone,Logan,Boone,2015,1,COL,NL,0,3,...,1.0,3.0,5.0,0,168.0,12.0,17,1.0,2.0,NaN
23835,lylesjo01,Jordan,Lyles,Jordan Horton,2015,1,COL,NL,2,5,...,1.0,2.0,3.0,0,212.0,0.0,32,3.0,1.0,NaN
24976,matzety01,Tyler,Matzek,Tyler Alexander,2015,1,COL,NL,2,1,...,0.0,2.0,3.0,0,102.0,0.0,10,1.0,1.0,NaN
26602,milleju02,Justin,Miller,Justin Ryan,2015,1,COL,NL,3,3,...,0.0,2.0,0.0,0,129.0,9.0,15,0.0,0.0,NaN
29112,obergsc01,Scott,Oberg,Scott Michael,2015,1,COL,NL,3,4,...,2.0,6.0,6.0,1,259.0,11.0,35,3.0,1.0,NaN
29758,ottavad01,Adam,Ottavino,Adam Robert,2015,1,COL,NL,1,0,...,0.0,0.0,1.0,0,35.0,5.0,0,0.0,0.0,NaN
33799,roberke02,Kenny,Roberts,Kenneth Elwin,2015,1,COL,NL,0,1,...,0.0,0.0,1.0,0,43.0,3.0,6,0.0,1.0,NaN
34372,rondojo01,Jorge,Rondon,Jorge Leonardo,2015,1,COL,NL,0,0,...,0.0,0.0,0.0,0,15.0,1.0,11,0.0,0.0,NaN
34861,rusinch01,Chris,Rusin,Christopher Patrick,2015,1,COL,NL,6,10,...,5.0,2.0,3.0,2,594.0,0.0,88,2.0,0.0,NaN

NYA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1514,bailean01,Andrew,Bailey,Andrew Scott,2015,1,NYA,AL,0,1,...,1.0,0.0,0.0,0,41.0,3.0,8,0.0,2.0,NaN
2893,betande01,Dellin,Betances,Dellin,2015,1,NYA,AL,6,4,...,2.0,9.0,3.0,0,332.0,17.0,17,1.0,1.0,NaN
4987,burawda01,Danny,Burawa,Daniel James,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,6.0,0.0,4,0.0,0.0,NaN
5941,capuach01,Chris,Capuano,Christopher Frank,2015,1,NYA,AL,0,4,...,1.0,0.0,3.0,0,196.0,7.0,38,2.0,1.0,NaN
6277,carpeda01,David,Carpenter,Darrell David,2015,1,NYA,AL,0,1,...,1.0,0.0,1.0,0,82.0,2.0,11,3.0,1.0,NaN
8209,cothaca01,Caleb,Cotham,Caleb Kent,2015,1,NYA,AL,1,0,...,0.0,0.0,0.0,0,45.0,4.0,7,1.0,0.0,NaN
9184,davieky01,Kyle,Davies,Hiram Kyle,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,10.0,1.0,0,0.0,0.0,NaN
9711,depaujo02,Jose,De Paula,Jose Alberto,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,15.0,1.0,1,0.0,0.0,NaN
11463,eovalna01,Nathan,Eovaldi,Nathan Edward,2015,1,NYA,AL,14,3,...,0.0,8.0,3.0,0,673.0,0.0,72,3.0,3.0,NaN
14505,goodyni01,Nick,Goody,Nicholas Gunnar,2015,1,NYA,AL,0,0,...,0.0,0.0,1.0,0,26.0,5.0,3,0.0,0.0,NaN
19870,jonesga02,Garrett,Jones,Garrett Thomas,2015,1,NYA,AL,0,0,...,0.0,0.0,1.0,0,4.0,1.0,0,0.0,0.0,NaN
22972,lindgja01,Jacob,Lindgren,Jacob Stephen,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,29.0,2.0,4,0.0,1.0,NaN
24687,martich02,Chris,Martin,Christopher Riley,2015,1,NYA,AL,0,2,...,1.0,3.0,1.0,0,99.0,8.0,13,0.0,0.0,NaN
26601,millean01,Andrew,Miller,Andrew Mark,2015,1,NYA,AL,3,2,...,1.0,2.0,5.0,0,246.0,53.0,16,1.0,2.0,NaN
27004,mitchbr01,Bryan,Mitchell,Bryan Bedford,2015,1,NYA,AL,0,2,...,1.0,6.0,2.0,0,143.0,8.0,24,0.0,0.0,NaN
27580,morendi01,Diego,Moreno,Diego Rafael,2015,1,NYA,AL,1,0,...,0.0,1.0,2.0,0,45.0,1.0,6,0.0,0.0,NaN
29109,novaiv01,Ivan,Nova,Ivan Manuel,2015,1,NYA,AL,6,11,...,0.0,5.0,7.0,0,413.0,0.0,54,3.0,2.0,NaN
30717,pazosja01,James,Pazos,James Manuel,2015,1,NYA,AL,0,0,...,0.0,1.0,0.0,0,21.0,1.0,0,1.0,0.0,NaN
31696,pindebr01,Branden,Pinder,Branden Henry,2015,1,NYA,AL,0,2,...,1.0,0.0,0.0,1,122.0,10.0,9,0.0,1.0,NaN
31697,pinedmi01,Michael,Pineda,Michael Francisco,2015,1,NYA,AL,12,10,...,0.0,4.0,3.0,0,668.0,0.0,83,4.0,6.0,NaN
32584,ramirjo02,Jose,Ramirez,Jose Altagracia,2015,1,NYA,AL,0,0,...,0.0,3.0,1.0,0,20.0,1.0,5,0.0,0.0,NaN
34147,rogeres01,Esmil,Rogers,Esmil Antonio,2015,1,NYA,AL,1,1,...,0.0,6.0,2.0,0,153.0,3.0,29,0.0,3.0,NaN
34860,rumbeni01,Nick,Rumbelow,Nicholas Bruno,2015,1,NYA,AL,1,1,...,1.0,2.0,0.0,1,68.0,6.0,8,0.0,0.0,NaN
34863,ryanbr01,Brendan,Ryan,Brendan Wood,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,8.0,1.0,0,0.0,0.0,NaN
34867,sabatcc01,CC,Sabathia,Carsten Charles,2015,1,NYA,AL,6,10,...,3.0,5.0,6.0,1,726.0,0.0,92,5.0,6.0,NaN
35406,santose01,Sergio,Santos,Sergio Jose,2015,2,NYA,AL,0,0,...,0.0,0.0,0.0,0,12.0,2.0,2,0.0,0.0,NaN
36263,severlu01,Luis,Severino,Luis,2015,1,NYA,AL,5,3,...,0.0,2.0,2.0,1,255.0,0.0,21,0.0,0.0,NaN
36549,shrevch01,Chasen,Shreve,Chasen Dean,2015,1,NYA,AL,6,2,...,2.0,4.0,1.0,0,251.0,13.0,21,2.0,0.0,NaN
39101,tanakma01,Masahiro,Tanaka,Masahiro,2015,1,NYA,AL,12,7,...,0.0,4.0,1.0,0,609.0,0.0,66,1.0,8.0,NaN
40224,tracyma01,Matt,Tracy,Matthew J.,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,11.0,1.0,3,0.0,0.0,NaN
41767,warread01,Adam,Warren,Adam Parrish,2015,1,NYA,AL,7,7,...,1.0,7.0,7.0,0,534.0,5.0,51,2.0,2.0,NaN
42437,whitlch01,Chase,Whitley,Chase Coleman,2015,1,NYA,AL,1,2,...,0.0,2.0,2.0,0,84.0,0.0,9,0.0,0.0,NaN
43067,wilsoju10,Justin,Wilson,Justin James,2015,1,NYA,AL,5,0,...,0.0,4.0,2.0,0,244.0,3.0,21,2.0,0.0,NaN

WAS

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1977,barreaa01,Aaron,Barrett,Aaron James,2015,1,WAS,NL,3,3,...,0.0,1.0,3.0,0,123.0,8.0,15,0.0,0.0,NaN
6278,carpeda01,David,Carpenter,Darrell David,2015,2,WAS,NL,0,0,...,0.0,1.0,0.0,0,25.0,3.0,1,0.0,0.0,NaN
6514,cedenxa01,Xavier,Cedeno,Xavier,2015,1,WAS,NL,0,0,...,0.0,2.0,1.0,0,15.0,1.0,2,0.0,0.0,NaN
7634,coleaj01,A. J.,Cole,Andrew Jordan,2015,1,WAS,NL,0,0,...,1.0,1.0,0.0,0,44.0,1.0,11,1.0,1.0,NaN
9442,delosab01,Abel,De Los Santos,Abel,2015,1,WAS,NL,0,0,...,0.0,0.0,0.0,0,8.0,2.0,1,0.0,0.0,NaN
12393,fistedo01,Doug,Fister,Douglas Wildes,2015,1,WAS,NL,5,7,...,3.0,1.0,6.0,0,449.0,2.0,56,7.0,5.0,NaN
14272,gonzagi01,Gio,Gonzalez,Giovany Aramis,2015,1,WAS,NL,11,8,...,3.0,4.0,4.0,0,758.0,0.0,79,3.0,9.0,NaN
14508,gracema02,Matt,Grace,Matthew Aaron,2015,1,WAS,NL,2,1,...,2.0,1.0,1.0,0,84.0,5.0,11,0.0,2.0,NaN
17738,hillta01,Taylor,Hill,David Taylor,2015,1,WAS,NL,0,0,...,0.0,0.0,1.0,0,51.0,4.0,5,0.0,0.0,NaN
19245,janssca01,Casey,Janssen,Robert Casey,2015,1,WAS,NL,2,5,...,3.0,1.0,1.0,0,166.0,12.0,22,3.0,1.0,NaN
19872,jordata01,Taylor,Jordan,Taylor J.,2015,1,WAS,NL,0,2,...,0.0,1.0,0.0,0,77.0,0.0,10,1.0,1.0,NaN
24691,martira04,Rafael,Martin,Rafael,2015,1,WAS,NL,2,0,...,0.0,0.0,1.0,0,56.0,5.0,9,0.0,1.0,NaN
27578,moorety01,Tyler,Moore,Tyler Michael,2015,1,WAS,NL,0,0,...,0.0,0.0,1.0,0,3.0,1.0,0,0.0,0.0,NaN
30094,papeljo01,Jonathan,Papelbon,Jonathan Robert,2015,2,WAS,NL,2,2,...,1.0,0.0,3.0,1,99.0,17.0,13,1.0,2.0,NaN
33562,riverfe01,Felipe,Rivero,Felipe Javier,2015,1,WAS,NL,2,1,...,2.0,2.0,1.0,1,189.0,17.0,15,0.0,1.0,NaN
33797,roarkta01,Tanner,Roark,Tanner B.,2015,1,WAS,NL,4,7,...,3.0,0.0,5.0,0,467.0,8.0,55,4.0,4.0,NaN
33801,robincl01,Clint,Robinson,Clinton Michael,2015,1,WAS,NL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,0,0.0,0.0,NaN
34379,rossjo01,Joe,Ross,Joseph Andrew,2015,1,WAS,NL,5,5,...,0.0,1.0,2.0,0,314.0,1.0,33,3.0,1.0,NaN
35706,scherma01,Max,Scherzer,Maxwell M.,2015,1,WAS,NL,14,12,...,2.0,10.0,5.0,1,899.0,0.0,74,11.0,2.0,NaN
37623,solissa01,Sammy,Solis,Samuel Robert,2015,1,WAS,NL,1,1,...,2.0,0.0,1.0,0,94.0,6.0,11,1.0,2.0,NaN
37937,stammcr01,Craig,Stammen,Craig N.,2015,1,WAS,NL,0,0,...,1.0,0.0,0.0,0,17.0,0.0,0,0.0,1.0,NaN
38518,storedr01,Drew,Storen,Drew Patrick,2015,1,WAS,NL,2,2,...,2.0,2.0,5.0,0,228.0,35.0,23,1.0,1.0,NaN
38520,strasst01,Stephen,Strasburg,Stephen James,2015,1,WAS,NL,11,7,...,0.0,4.0,3.0,0,523.0,0.0,56,5.0,1.0,NaN
39683,thornma01,Matt,Thornton,Matthew J.,2015,1,WAS,NL,2,1,...,3.0,1.0,1.0,0,171.0,12.0,12,2.0,1.0,NaN
40225,treinbl01,Blake,Treinen,Blake M.,2015,1,WAS,NL,2,5,...,6.0,4.0,2.0,0,280.0,17.0,32,1.0,1.0,NaN
44136,zimmejo02,Jordan,Zimmermann,Jordan M.,2015,1,WAS,NL,13,10,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN

MIL

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1978,barriyh01,Yhonathan,Barrios,Yhonathan,2015,1,MIL,NL,0,0,...,0.0,0.0,0.0,0,22.0,2.0,0,0.0,0.0,NaN
3490,blazemi01,Michael,Blazek,Michael Robert,2015,1,MIL,NL,5,3,...,1.0,3.0,1.0,0,222.0,17.0,17,1.0,2.0,NaN
4980,broxtjo01,Jonathan,Broxton,Jonathan Roy,2015,1,MIL,NL,1,2,...,1.0,0.0,0.0,0,156.0,10.0,24,2.0,1.0,NaN
8210,cottsne01,Neal,Cotts,Neal James,2015,1,MIL,NL,1,0,...,2.0,2.0,3.0,0,209.0,9.0,18,3.0,1.0,NaN
8394,cravyty01,Tyler,Cravy,Tyler Jay,2015,1,MIL,NL,0,8,...,1.0,0.0,2.0,0,193.0,1.0,30,2.0,0.0,NaN
9185,davieza01,Zach,Davies,Zachary Ryan,2015,1,MIL,NL,3,2,...,0.0,0.0,0.0,0,139.0,0.0,14,1.0,0.0,NaN
12176,fiersmi01,Mike,Fiers,Michael Bruce,2015,1,MIL,NL,5,9,...,5.0,6.0,5.0,0,509.0,0.0,57,3.0,6.0,NaN
13631,garzama01,Matt,Garza,Matthew Scott,2015,1,MIL,NL,6,14,...,3.0,7.0,2.0,0,666.0,1.0,102,7.0,2.0,NaN
14267,goforda01,David,Goforth,David Paul,2015,1,MIL,NL,1,0,...,2.0,2.0,0.0,0,111.0,9.0,13,2.0,2.0,NaN
15247,guilmpr01,Preston,Guilmet,Preston Blake,2015,2,MIL,NL,0,0,...,0.0,0.0,0.0,0,12.0,1.0,6,0.0,1.0,NaN
18398,housead01,Adrian,Houser,Adrian D.,2015,1,MIL,NL,0,0,...,0.0,0.0,0.0,0,8.0,2.0,0,0.0,0.0,NaN
19246,jeffrje01,Jeremy,Jeffress,Jeremy Ross,2015,1,MIL,NL,5,0,...,5.0,4.0,3.0,2,285.0,8.0,22,3.0,0.0,NaN
19252,jimence01,Cesar,Jimenez,Cesar Enrique,2015,2,MIL,NL,0,0,...,0.0,0.0,0.0,0,81.0,2.0,8,0.0,0.0,NaN
20147,jungmta01,Taylor,Jungmann,Taylor Heath,2015,1,MIL,NL,9,8,...,1.0,8.0,8.0,0,501.0,0.0,55,2.0,5.0,NaN
21057,kintzbr01,Brandon,Kintzler,Brandon Lee,2015,1,MIL,NL,0,1,...,0.0,1.0,0.0,0,36.0,4.0,6,0.0,0.0,NaN
21060,knebeco01,Corey,Knebel,Corey Andrew,2015,1,MIL,NL,0,0,...,1.0,1.0,2.0,0,209.0,15.0,18,0.0,0.0,NaN
23278,lohseky01,Kyle,Lohse,Kyle Matthew,2015,1,MIL,NL,5,13,...,3.0,5.0,4.0,0,665.0,5.0,99,7.0,4.0,NaN
23589,lopezjo02,Jorge,Lopez,Jorge Y.,2015,1,MIL,NL,1,1,...,0.0,1.0,1.0,0,46.0,0.0,6,0.0,0.0,NaN
28477,nelsoji02,Jimmy,Nelson,James Jacob,2015,1,MIL,NL,11,13,...,4.0,11.0,13.0,1,752.0,0.0,89,4.0,7.0,NaN
30721,penaar01,Ariel,Pena,Ariel,2015,1,MIL,NL,2,1,...,2.0,2.0,2.0,0,120.0,0.0,14,2.0,1.0,NaN
30723,peralwi01,Wily,Peralta,Wily,2015,1,MIL,NL,5,10,...,2.0,5.0,4.0,1,478.0,0.0,60,4.0,3.0,NaN
34143,rodrifr03,Francisco,Rodriguez,Francisco Jose,2015,1,MIL,NL,1,3,...,1.0,3.0,0.0,0,216.0,55.0,15,1.0,2.0,NaN
37293,smithwi04,Will,Smith,William Michael,2015,1,MIL,NL,7,2,...,1.0,5.0,1.0,0,264.0,11.0,23,1.0,2.0,NaN
39684,thornty01,Tyler,Thornburg,Tyler Michael,2015,1,MIL,NL,0,2,...,1.0,3.0,3.0,1,151.0,9.0,22,0.0,2.0,NaN
41193,wagnety01,Tyler,Wagner,Tyler Joseph,2015,1,MIL,NL,0,2,...,0.0,1.0,0.0,0,67.0,0.0,11,2.0,1.0,NaN
43757,wootero01,Rob,Wooten,Robert Davis,2015,1,MIL,NL,0,0,...,0.0,1.0,1.0,0,30.0,0.0,8,1.0,0.0,NaN

TEX

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1979,bassan01,Anthony,Bass,Anthony Edward,2015,1,TEX,AL,0,0,...,1.0,1.0,1.0,0,272.0,9.0,33,3.0,3.0,NaN
7368,claudal01,Alex,Claudio,Alexander,2015,1,TEX,AL,1,1,...,2.0,1.0,1.0,0,66.0,6.0,6,0.0,2.0,NaN
9714,detwiro01,Ross,Detwiler,Ross Emery,2015,1,TEX,AL,0,5,...,0.0,3.0,3.0,0,208.0,4.0,37,1.0,3.0,NaN
9720,diekmja01,Jake,Diekman,Jacob Tanner,2015,2,TEX,AL,0,0,...,0.0,1.0,1.0,0,85.0,1.0,5,0.0,0.0,NaN
10883,dysonsa01,Sam,Dyson,Samuel Isaac,2015,2,TEX,AL,2,1,...,0.0,2.0,1.0,0,119.0,6.0,5,1.0,0.0,NaN
10885,edwarjo02,Jon,Edwards,Jonathan Benjamin,2015,1,TEX,AL,0,0,...,0.0,1.0,0.0,0,31.0,2.0,4,0.0,1.0,NaN
11794,faulkan01,Andrew,Faulkner,Andrew Michael,2015,1,TEX,AL,0,0,...,1.0,0.0,0.0,0,40.0,1.0,3,0.0,0.0,NaN
11797,felizne01,Neftali,Feliz,Neftali,2015,1,TEX,AL,1,2,...,3.0,2.0,0.0,0,91.0,12.0,10,0.0,0.0,NaN
13124,freemsa01,Sam,Freeman,Samuel Douglas,2015,1,TEX,AL,0,0,...,0.0,0.0,3.0,0,171.0,10.0,13,0.0,1.0,NaN
13319,fujikky01,Kyuji,Fujikawa,Kyuji,2015,1,TEX,AL,0,0,...,0.0,0.0,1.0,0,8.0,0.0,3,0.0,0.0,NaN
13321,gallayo01,Yovani,Gallardo,Yovani,2015,1,TEX,AL,13,11,...,0.0,10.0,1.0,0,793.0,0.0,76,1.0,3.0,NaN
14271,gonzach01,Chi Chi,Gonzalez,Alexander,2015,1,TEX,AL,4,6,...,1.0,2.0,3.0,1,280.0,1.0,33,1.0,2.0,NaN
15934,hamelco01,Cole,Hamels,Colbert Michael,2015,2,TEX,AL,7,1,...,0.0,2.0,4.0,2,343.0,0.0,35,1.0,1.0,NaN
16299,harrima01,Matt,Harrison,Matthew Reid,2015,1,TEX,AL,1,2,...,0.0,0.0,0.0,1,69.0,0.0,12,0.0,1.0,NaN
18043,hollade01,Derek,Holland,Derek Lane,2015,1,TEX,AL,4,3,...,2.0,1.0,5.0,0,245.0,0.0,32,3.0,1.0,NaN
18937,jackslu01,Luke,Jackson,Luke Ray,2015,1,TEX,AL,0,0,...,0.0,1.0,0.0,0,27.0,4.0,3,0.0,0.0,NaN
20377,kelake01,Keone,Kela,Keone Cole,2015,1,TEX,AL,7,5,...,0.0,6.0,0.0,1,243.0,11.0,18,1.0,0.0,NaN
21058,kleinph01,Phil,Klein,Phil William,2015,1,TEX,AL,1,0,...,0.0,1.0,0.0,0,86.0,3.0,15,0.0,0.0,NaN
22969,lewisco01,Colby,Lewis,Colby Preston,2015,1,TEX,AL,17,9,...,2.0,5.0,11.0,0,861.0,0.0,114,2.0,11.0,NaN
24690,martini01,Nick,Martinez,Nicholas Andres,2015,1,TEX,AL,7,7,...,2.0,4.0,13.0,0,558.0,1.0,66,1.0,5.0,NaN
26343,mendero01,Roman,Mendez,Roman Junior,2015,1,TEX,AL,0,1,...,1.0,0.0,1.0,0,49.0,5.0,7,0.0,0.0,NaN
29448,ohlenro01,Ross,Ohlendorf,Curtis Ross,2015,1,TEX,AL,3,1,...,2.0,0.0,0.0,0,85.0,6.0,8,0.0,1.0,NaN
30441,pattosp01,Spencer,Patton,Spencer Burdette,2015,1,TEX,AL,1,1,...,0.0,1.0,4.0,0,109.0,6.0,24,1.0,0.0,NaN
31110,perezma02,Martin,Perez,Martin,2015,1,TEX,AL,3,6,...,1.0,1.0,2.0,0,339.0,0.0,45,0.0,3.0,NaN
31349,pimenst01,Stolmy,Pimentel,Stolmy Ramon,2015,1,TEX,AL,0,1,...,0.0,1.0,0.0,0,46.0,5.0,5,1.0,1.0,NaN
32590,ranauan01,Anthony,Ranaudo,Anthony Ronald,2015,1,TEX,AL,0,1,...,0.0,0.0,1.0,0,73.0,0.0,13,2.0,1.0,NaN
34145,rodriwa01,Wandy,Rodriguez,Wandy Fulton,2015,1,TEX,AL,6,4,...,2.0,3.0,3.0,0,392.0,1.0,48,1.0,5.0,NaN
34374,rosalad01,Adam,Rosales,Adam Marcos,2015,1,TEX,AL,0,0,...,0.0,0.0,0.0,0,10.0,2.0,3,0.0,0.0,NaN
35705,schepta01,Tanner,Scheppers,Tanner Ross,2015,1,TEX,AL,4,1,...,3.0,1.0,2.0,0,176.0,7.0,25,0.0,3.0,NaN
39968,tollesh01,Shawn,Tolleson,Shawn Mark,2015,1,TEX,AL,6,4,...,5.0,0.0,2.0,0,298.0,53.0,25,2.0,1.0,NaN
40812,verrelo01,Logan,Verrett,Scott Logan,2015,1,TEX,AL,0,1,...,1.0,1.0,0.0,0,42.0,1.0,7,0.0,2.0,NaN

PIT

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1981,bastaan01,Antonio,Bastardo,Antonio Francisco,2015,1,PIT,NL,4,1,...,2.0,8.0,3.0,0,239.0,18.0,19,2.0,0.0,NaN
3489,blantjo01,Joe,Blanton,Joseph Matthew,2015,2,PIT,NL,5,0,...,4.0,2.0,1.0,0,137.0,7.0,7,0.0,1.0,NaN
5340,burneaj01,A. J.,Burnett,Allan James,2015,1,PIT,NL,9,7,...,2.0,6.0,11.0,1,699.0,0.0,64,2.0,4.0,NaN
5938,caminar01,Arquimedes,Caminero,Arquimedes Euclides,2015,1,PIT,NL,5,1,...,2.0,6.0,6.0,1,318.0,19.0,31,1.0,1.0,NaN
7635,colege01,Gerrit,Cole,Gerrit Alan,2015,1,PIT,NL,19,8,...,1.0,7.0,10.0,0,832.0,0.0,71,7.0,6.0,NaN
9434,deckeja01,Jaff,Decker,Jaff Kyle,2015,1,PIT,NL,0,0,...,0.0,0.0,0.0,0,5.0,1.0,0,0.0,0.0,NaN
15243,guerrde01,Deolis,Guerra,Deolis Alexander,2015,1,PIT,NL,2,0,...,0.0,2.0,1.0,0,74.0,4.0,12,0.0,0.0,NaN
16294,happja01,J. A.,Happ,James Anthony,2015,2,PIT,NL,7,2,...,1.0,2.0,0.0,0,249.0,0.0,13,1.0,0.0,NaN
18682,hugheja02,Jared,Hughes,William Jared,2015,1,PIT,NL,3,1,...,2.0,3.0,7.0,0,284.0,11.0,21,6.0,4.0,NaN
21932,lafrobo01,Bobby,LaFromboise,Robert Joseph,2015,1,PIT,NL,0,0,...,0.0,0.0,0.0,0,29.0,4.0,1,0.0,0.0,NaN
23272,liriafr01,Francisco,Liriano,Francisco Casillas,2015,1,PIT,NL,12,7,...,1.0,10.0,5.0,1,773.0,0.0,75,2.0,1.0,NaN
23273,lizra01,Radhames,Liz,Radhames Corey,2015,1,PIT,NL,1,4,...,2.0,1.0,3.0,0,106.0,7.0,11,0.0,0.0,NaN
23275,lockeje01,Jeff,Locke,Jeffrey Alan,2015,1,PIT,NL,8,11,...,4.0,5.0,7.0,0,736.0,0.0,95,7.0,8.0,NaN
26342,melanma01,Mark,Melancon,Mark D.,2015,1,PIT,NL,3,2,...,2.0,3.0,2.0,0,293.0,63.0,22,1.0,1.0,NaN
27918,mortoch02,Charlie,Morton,Charles Alfred,2015,1,PIT,NL,9,9,...,6.0,2.0,12.0,1,563.0,0.0,77,4.0,0.0,NaN
34868,sadleca02,Casey,Sadler,Casey Scott,2015,1,PIT,NL,1,0,...,0.0,0.0,0.0,0,19.0,0.0,2,0.0,0.0,NaN
35407,scahiro01,Rob,Scahill,Robert Joseph,2015,1,PIT,NL,2,4,...,5.0,1.0,1.0,0,142.0,13.0,15,1.0,1.0,NaN
37625,soriajo01,Joakim,Soria,Joakim Agustin,2015,2,PIT,NL,0,0,...,0.0,5.0,0.0,0,107.0,5.0,7,0.0,1.0,NaN
41190,volstch01,Chris,Volstad,Christopher Kenneth,2015,1,PIT,NL,0,0,...,0.0,0.0,0.0,0,7.0,0.0,0,0.0,0.0,NaN
41768,watsoto01,Tony,Watson,Anthony Michael,2015,1,PIT,NL,4,1,...,1.0,1.0,4.0,0,293.0,4.0,17,1.0,3.0,NaN
43758,worleva01,Vance,Worley,Vance Richard,2015,1,PIT,NL,4,6,...,3.0,3.0,2.0,0,310.0,6.0,36,3.0,2.0,NaN

SEA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
2615,beimejo01,Joe,Beimel,Joseph Ronald,2015,1,SEA,AL,2,1,...,3.0,1.0,1.0,0,196.0,14.0,25,3.0,3.0,NaN
11187,eliasro01,Roenis,Elias,Roenis,2015,1,SEA,AL,5,8,...,1.0,1.0,9.0,1,490.0,0.0,57,1.0,4.0,NaN
11793,farquda01,Danny,Farquhar,Daniel Andres,2015,1,SEA,AL,1,8,...,2.0,1.0,1.0,1,219.0,10.0,33,1.0,1.0,NaN
13320,furbuch01,Charlie,Furbush,Charles Roderick,2015,1,SEA,AL,1,1,...,2.0,5.0,2.0,0,82.0,4.0,6,1.0,0.0,NaN
15242,guaipma01,Mayckol,Guaipe,Mayckol Martin,2015,1,SEA,AL,0,3,...,1.0,1.0,3.0,0,121.0,2.0,19,1.0,1.0,NaN
16293,happja01,J. A.,Happ,James Anthony,2015,1,SEA,AL,4,6,...,3.0,4.0,2.0,0,468.0,0.0,58,1.0,0.0,NaN
17227,hernafe02,Felix,Hernandez,Felix Abraham,2015,1,SEA,AL,18,9,...,0.0,10.0,9.0,0,826.0,0.0,80,4.0,4.0,NaN
18933,iwakuhi01,Hisashi,Iwakuma,Hisashi,2015,1,SEA,AL,9,5,...,1.0,1.0,1.0,0,516.0,0.0,53,4.0,3.0,NaN
20709,kensilo01,Logan,Kensing,Logan French,2015,1,SEA,AL,2,1,...,0.0,2.0,0.0,0,64.0,4.0,10,0.0,1.0,NaN
22637,leonedo01,Dominic,Leone,Dominic Joseph,2015,1,SEA,AL,0,4,...,2.0,2.0,0.0,0,54.0,5.0,9,0.0,0.0,NaN
23592,lowema01,Mark,Lowe,Mark Christopher,2015,1,SEA,AL,0,1,...,1.0,2.0,1.0,0,144.0,8.0,6,0.0,0.0,NaN
23594,luetglu01,Lucas,Luetge,Lucas Lester,2015,1,SEA,AL,0,0,...,0.0,0.0,0.0,0,8.0,1.0,0,0.0,0.0,NaN
26115,medinyo01,Yoervis,Medina,Yoervis Jose,2015,1,SEA,AL,1,0,...,0.0,1.0,0.0,0,54.0,3.0,5,0.0,0.0,NaN
27291,montgmi01,Mike,Montgomery,Michael Paul,2015,1,SEA,AL,4,6,...,1.0,10.0,4.0,0,395.0,0.0,49,0.0,0.0,NaN
29111,nunovi01,Vidal,Nuno,Vidal Vicente,2015,2,SEA,AL,1,4,...,1.0,3.0,5.0,1,318.0,7.0,35,1.0,7.0,NaN
29449,olmosed01,Edgar,Olmos,Edgar,2015,1,SEA,AL,1,0,...,1.0,1.0,1.0,0,67.0,1.0,8,0.0,1.0,NaN
29450,olsonty01,Tyler,Olson,Tyler Ray,2015,1,SEA,AL,1,1,...,7.0,0.0,1.0,1,65.0,4.0,8,2.0,0.0,NaN
30716,paxtoja01,James,Paxton,James Alston,2015,1,SEA,AL,3,4,...,1.0,5.0,0.0,0,297.0,0.0,34,0.0,3.0,NaN
32583,ramirjc01,J. C.,Ramirez,Juan Carlos,2015,2,SEA,AL,0,1,...,1.0,0.0,1.0,0,43.0,2.0,7,0.0,0.0,NaN
32585,ramirjo02,Jose,Ramirez,Jose Altagracia,2015,2,SEA,AL,1,0,...,1.0,0.0,2.0,0,32.0,1.0,9,0.0,0.0,NaN
32593,rasmuro01,Rob,Rasmussen,Robert Paul,2015,2,SEA,AL,2,1,...,0.0,4.0,0.0,0,75.0,5.0,18,0.0,0.0,NaN
33804,rodnefe01,Fernando,Rodney,Fernando,2015,1,SEA,AL,5,5,...,3.0,5.0,5.0,0,227.0,28.0,32,1.0,1.0,NaN
34148,rollida01,David,Rollins,David Dwane,2015,1,SEA,AL,0,2,...,1.0,0.0,2.0,0,118.0,7.0,21,1.0,0.0,NaN
37070,smithca02,Carson,Smith,Carson Donald,2015,1,SEA,AL,2,5,...,4.0,6.0,7.0,0,284.0,24.0,19,3.0,0.0,NaN
38526,sucreje01,Jesus,Sucre,Jesus Marcelo,2015,1,SEA,AL,0,0,...,0.0,0.0,0.0,0,11.0,2.0,3,0.0,0.0,NaN
41465,walketa01,Taijuan,Walker,Taijuan Emmanuel,2015,1,SEA,AL,11,8,...,1.0,4.0,9.0,1,706.0,0.0,92,4.0,5.0,NaN
42754,wilheto01,Tom,Wilhelmsen,Thomas Mark,2015,1,SEA,AL,2,2,...,3.0,2.0,2.0,0,267.0,20.0,24,4.0,3.0,NaN
44138,zychto01,Tony,Zych,Anthony Aaron,2015,1,SEA,AL,0,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

SLN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
2616,belisma01,Matt,Belisle,Matthew Thomas,2015,1,SLN,NL,1,1,...,2.0,0.0,3.0,0,149.0,10.0,10,2.0,1.0,NaN
4981,broxtjo01,Jonathan,Broxton,Jonathan Roy,2015,2,SLN,NL,3,3,...,0.0,0.0,0.0,0,101.0,5.0,8,3.0,0.0,NaN
6830,choatra01,Randy,Choate,Randol Doyle,2015,1,SLN,NL,1,0,...,0.0,1.0,6.0,0,117.0,4.0,14,1.0,1.0,NaN
7045,cishest01,Steve,Cishek,Steven R.,2015,2,SLN,NL,0,0,...,0.0,1.0,1.0,0,99.0,8.0,7,0.0,0.0,NaN
7916,cooneti01,Tim,Cooney,Timothy Manus,2015,1,SLN,NL,1,0,...,2.0,1.0,1.0,0,130.0,0.0,12,3.0,0.0,NaN
13626,garcija02,Jaime,Garcia,Jaime Omar,2015,1,SLN,NL,10,6,...,0.0,4.0,3.0,0,510.0,0.0,37,3.0,3.0,NaN
14273,gonzama02,Marco,Gonzales,Marco Elias,2015,1,SLN,NL,0,0,...,0.0,0.0,0.0,0,16.0,0.0,4,0.0,1.0,NaN
14772,greenni02,Nick,Greenwood,Nicholas Richard,2015,1,SLN,NL,0,1,...,0.0,0.0,0.0,0,2.0,1.0,2,0.0,0.0,NaN
16300,harrimi03,Mitch,Harris,Mitchell Andrew,2015,1,SLN,NL,2,1,...,0.0,2.0,0.0,0,122.0,7.0,14,1.0,0.0,NaN
16557,hatlema01,Marcus,Hatley,Marcus Allen,2015,1,SLN,NL,0,0,...,0.0,0.0,0.0,0,7.0,1.0,0,0.0,0.0,NaN
21684,lackejo01,John,Lackey,John Derran,2015,1,SLN,NL,13,10,...,5.0,5.0,4.0,3,896.0,0.0,71,11.0,4.0,NaN
23836,lynnla01,Lance,Lynn,Michael Lance,2015,1,SLN,NL,12,11,...,5.0,2.0,5.0,0,751.0,0.0,66,9.0,2.0,NaN
23837,lyonsty01,Tyler,Lyons,Tyler William,2015,1,SLN,NL,3,1,...,0.0,4.0,1.0,0,255.0,1.0,29,3.0,2.0,NaN
24423,manesse01,Seth,Maness,Michael Seth,2015,1,SLN,NL,4,2,...,4.0,2.0,1.0,0,270.0,13.0,35,4.0,1.0,NaN
24686,martica04,Carlos,Martinez,Carlos Ernesto,2015,1,SLN,NL,14,7,...,5.0,8.0,8.0,1,755.0,1.0,65,9.0,4.0,NaN
34375,rosentr01,Trevor,Rosenthal,Trevor Jordan,2015,1,SLN,NL,2,4,...,3.0,7.0,1.0,0,287.0,57.0,16,1.0,0.0,NaN
36779,siegrke01,Kevin,Siegrist,Kevin Ryan,2015,1,SLN,NL,7,1,...,2.0,0.0,3.0,0,312.0,13.0,20,3.0,4.0,NaN
37295,socolmi01,Miguel,Socolovich,Miguel Angel,2015,1,SLN,NL,4,1,...,1.0,1.0,0.0,0,125.0,11.0,7,2.0,0.0,NaN
40228,tuivasa01,Sam,Tuivailala,Samuel Johnathan,2015,1,SLN,NL,0,1,...,1.0,3.0,0.0,0,65.0,5.0,5,0.0,0.0,NaN
41184,villaca01,Carlos,Villanueva,Carlos Manuel,2015,1,SLN,NL,4,3,...,2.0,1.0,2.0,0,250.0,20.0,21,1.0,2.0,NaN
41191,wachami01,Michael,Wacha,Michael Joseph,2015,1,SLN,NL,17,7,...,4.0,4.0,6.0,1,762.0,0.0,74,8.0,3.0,NaN
41194,wainwad01,Adam,Wainwright,Adam Parrish,2015,1,SLN,NL,2,1,...,0.0,0.0,0.0,0,111.0,2.0,7,2.0,0.0,NaN
41195,waldejo01,Jordan,Walden,Jordan Craig,2015,1,SLN,NL,0,1,...,1.0,2.0,0.0,0,42.0,2.0,1,0.0,1.0,NaN

BAL

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
4072,brachbr01,Brad,Brach,Brad,2015,1,BAL,AL,5,3,...,3.0,1.0,0.0,0,324.0,12.0,25,3.0,2.0,NaN
4406,brittza01,Zach,Britton,Zachary Grant,2015,1,BAL,AL,4,1,...,1.0,5.0,1.0,0,253.0,58.0,16,0.0,0.0,NaN
5647,cabrace01,Cesar,Cabral,Cesar Augusto,2015,1,BAL,AL,0,0,...,0.0,0.0,0.0,0,3.0,2.0,0,0.0,0.0,NaN
6829,chenwe02,Wei-Yin,Chen,Wei-Yin,2015,1,BAL,AL,11,8,...,0.0,3.0,5.0,0,792.0,0.0,78,5.0,8.0,NaN
10351,drakeol01,Oliver,Drake,Oliver Gardner,2015,1,BAL,AL,0,0,...,0.0,3.0,0.0,0,72.0,5.0,7,0.0,2.0,NaN
13627,garcija03,Jason,Garcia,Jason Emilio,2015,1,BAL,AL,1,0,...,1.0,2.0,2.0,0,132.0,9.0,19,0.0,1.0,NaN
13885,gausmke01,Kevin,Gausman,Kevin John,2015,1,BAL,AL,4,7,...,1.0,7.0,2.0,0,470.0,1.0,56,2.0,3.0,NaN
14065,givenmy01,Mychal,Givens,Mychal Antonio,2015,1,BAL,AL,2,0,...,0.0,0.0,1.0,0,117.0,5.0,7,1.0,1.0,NaN
14274,gonzami03,Miguel,Gonzalez,Miguel Angel,2015,1,BAL,AL,9,12,...,2.0,4.0,8.0,0,622.0,0.0,81,2.0,2.0,NaN
18684,hunteto02,Tommy,Hunter,Raymond Thomas,2015,1,BAL,AL,2,2,...,2.0,2.0,1.0,0,180.0,12.0,19,1.0,3.0,NaN
19253,jimenub01,Ubaldo,Jimenez,Ubaldo,2015,1,BAL,AL,12,10,...,1.0,6.0,11.0,0,791.0,0.0,89,1.0,4.0,NaN
19615,johnsst02,Steve,Johnson,Steven David,2015,1,BAL,AL,0,0,...,0.0,1.0,0.0,0,29.0,2.0,6,0.0,0.0,NaN
24975,matusbr01,Brian,Matusz,Brian Robert,2015,1,BAL,AL,1,4,...,3.0,2.0,3.0,0,206.0,16.0,18,2.0,1.0,NaN
25553,mcfartj01,T. J.,McFarland,Timothy J.,2015,1,BAL,AL,2,2,...,5.0,3.0,0.0,0,188.0,7.0,26,0.0,0.0,NaN
29105,norribu01,Bud,Norris,David Stefan,2015,1,BAL,AL,2,9,...,0.0,0.0,3.0,0,305.0,2.0,57,3.0,2.0,NaN
29442,odayda01,Darren,O'Day,Darren Christopher,2015,1,BAL,AL,6,2,...,1.0,0.0,5.0,0,257.0,19.0,13,0.0,1.0,NaN
34146,roech01,Chaz,Roe,Chaz Daniel,2015,1,BAL,AL,4,2,...,2.0,0.0,1.0,0,177.0,6.0,19,1.0,1.0,NaN
34373,rondojo01,Jorge,Rondon,Jorge Leonardo,2015,2,BAL,AL,0,1,...,0.0,1.0,0.0,0,66.0,2.0,15,0.0,0.0,NaN
39967,tillmch01,Chris,Tillman,Christopher Steven,2015,1,BAL,AL,11,11,...,1.0,4.0,5.0,0,741.0,0.0,97,3.0,8.0,NaN
43068,wilsoty01,Tyler,Wilson,Philip Tyler,2015,1,BAL,AL,2,2,...,1.0,0.0,1.0,0,149.0,2.0,14,0.0,2.0,NaN
43759,wrighmi01,Mike,Wright,Dennis Michael,2015,1,BAL,AL,3,5,...,3.0,2.0,5.0,0,204.0,0.0,30,0.0,2.0,NaN
43761,wrighwe01,Wesley,Wright,Dequam LaWesley,2015,1,BAL,AL,0,0,...,0.0,0.0,0.0,0,7.0,2.0,1,0.0,1.0,NaN

HOU

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
4983,buchaja01,Jake,Buchanan,Jake T.,2015,1,HOU,AL,0,0,...,0.0,2.0,1.0,0,37.0,1.0,2,1.0,0.0,NaN
6826,chapmke02,Kevin,Chapman,Kevin Allen,2015,1,HOU,AL,0,0,...,0.0,0.0,0.0,0,22.0,0.0,2,0.0,0.0,NaN
9435,dedunsa01,Sam,Deduno,Samuel,2015,1,HOU,AL,0,1,...,0.0,3.0,3.0,0,96.0,4.0,16,1.0,1.0,NaN
11795,feldmsc01,Scott,Feldman,Scott Wynne,2015,1,HOU,AL,5,5,...,1.0,8.0,0.0,0,451.0,0.0,49,1.0,5.0,NaN
11796,felizmi01,Michael,Feliz,Michael,2015,1,HOU,AL,0,0,...,0.0,0.0,1.0,1,38.0,5.0,7,0.0,0.0,NaN
12174,fieldjo03,Josh,Fields,Joshua David,2015,1,HOU,AL,4,1,...,3.0,1.0,1.0,0,209.0,19.0,20,2.0,1.0,NaN
12177,fiersmi01,Mike,Fiers,Michael Bruce,2015,2,HOU,AL,2,1,...,0.0,2.0,1.0,0,252.0,0.0,26,0.0,2.0,NaN
14774,gregelu01,Luke,Gregerson,Lucas John,2015,1,HOU,AL,7,3,...,2.0,1.0,2.0,0,239.0,53.0,24,2.0,0.0,NaN
16301,harriwi02,Will,Harris,William Taylor,2015,1,HOU,AL,5,5,...,1.0,2.0,1.0,0,276.0,18.0,18,2.0,1.0,NaN
6276,carmofa01,Roberto,Hernandez,Roberto,2015,1,HOU,AL,3,5,...,2.0,1.0,1.0,0,357.0,6.0,48,0.0,3.0,NaN
20151,kazmisc01,Scott,Kazmir,Scott Edward,2015,2,HOU,AL,2,6,...,0.0,3.0,6.0,0,323.0,0.0,42,2.0,2.0,NaN
20711,keuchda01,Dallas,Keuchel,Dallas,2015,1,HOU,AL,20,8,...,0.0,9.0,2.0,0,911.0,0.0,68,1.0,3.0,NaN
25552,mcculla02,Lance,McCullers,Lance Graye,2015,1,HOU,AL,6,7,...,2.0,8.0,5.0,1,520.0,0.0,49,0.0,3.0,NaN
25806,mchugco01,Collin,McHugh,Collin Alexander,2015,1,HOU,AL,19,7,...,2.0,5.0,9.0,0,859.0,0.0,89,5.0,4.0,NaN
28480,neshepa01,Pat,Neshek,Patrick John,2015,1,HOU,AL,3,6,...,1.0,1.0,2.0,0,223.0,8.0,25,4.0,1.0,NaN
29113,oberhbr01,Brett,Oberholtzer,Brett R.,2015,1,HOU,AL,2,2,...,0.0,2.0,1.0,0,171.0,0.0,21,1.0,2.0,NaN
30718,peacobr01,Brad,Peacock,Bradley J.,2015,1,HOU,AL,0,1,...,0.0,0.0,1.0,0,22.0,0.0,3,0.0,1.0,NaN
31112,perezol01,Oliver,Perez,Oliver,2015,2,HOU,AL,0,3,...,1.0,1.0,0.0,0,55.0,4.0,12,0.0,0.0,NaN
32270,quallch01,Chad,Qualls,Chad Michael,2015,1,HOU,AL,3,5,...,1.0,3.0,2.0,0,202.0,17.0,24,1.0,4.0,NaN
36781,sippto01,Tony,Sipp,Tony Marcel,2015,1,HOU,AL,3,4,...,1.0,4.0,1.0,0,216.0,12.0,13,2.0,1.0,NaN
38519,straida01,Dan,Straily,Daniel Steven,2015,1,HOU,AL,0,1,...,0.0,1.0,1.0,0,76.0,0.0,11,0.0,0.0,NaN
39407,thatcjo01,Joe,Thatcher,Joseph,2015,1,HOU,AL,1,3,...,0.0,0.0,0.0,0,100.0,3.0,8,2.0,2.0,NaN
40807,velasvi01,Vincent,Velasquez,Vincent John,2015,1,HOU,AL,1,1,...,0.0,3.0,2.0,0,231.0,5.0,28,0.0,0.0,NaN
43392,wojcias01,Asher,Wojciechowski,Randall Asher,2015,1,HOU,AL,0,1,...,0.0,1.0,0.0,0,79.0,2.0,13,0.0,2.0,NaN

In [229]:
# Display all pitchers in 2015 sorted by their ERAs. This allows you to identify the best and worst pitchers.

display(data[data['yearID'] == 2015].sort_values('ERA'))

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
9710,denorch01,Chris,Denorfia,Christopher Anthony,2015,1,CHN,NL,0,0,...,0.0,0.0,0.0,0,1.0,1.0,0,0.0,0.0,NaN
3491,blevije01,Jerry,Blevins,Jerry Richard,2015,1,NYN,NL,1,0,...,0.0,0.0,0.0,0,15.0,1.0,0,0.0,0.0,NaN
34863,ryanbr01,Brendan,Ryan,Brendan Wood,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,8.0,1.0,0,0.0,0.0,NaN
9186,davisik02,Ike,Davis,Isaac Benjamin,2015,1,OAK,AL,0,0,...,0.0,0.0,0.0,0,8.0,2.0,0,0.0,0.0,NaN
7636,colemlo01,Louis,Coleman,Harold Louis,2015,1,KCA,AL,1,0,...,0.0,0.0,0.0,0,11.0,2.0,0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8206,cornejo01,John,Cornely,John Francis,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,7.0,1.0,4,0.0,0.0,NaN
4987,burawda01,Danny,Burawa,Daniel James,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,6.0,0.0,4,0.0,0.0,NaN
27583,morriak01,Akeel,Morris,Akeel J.,2015,1,NYN,NL,0,0,...,0.0,0.0,0.0,0,8.0,0.0,5,0.0,0.0,NaN
34372,rondojo01,Jorge,Rondon,Jorge Leonardo,2015,1,COL,NL,0,0,...,0.0,0.0,0.0,0,15.0,1.0,11,0.0,0.0,NaN
14772,greenni02,Nick,Greenwood,Nicholas Richard,2015,1,SLN,NL,0,1,...,0.0,0.0,0.0,0,2.0,1.0,2,0.0,0.0,NaN

In [230]:
# Display all pitchers in 2015 under each team sorted by their strike outs (SO).

pitchers = data[data['yearID'] == 2015]
teams = pitchers['teamID'].unique()

for team in teams:
    print("\033[1;93m" + team + "\033[0m")
    display(pitchers[pitchers['teamID'] == team].sort_values('SO'))

ATL

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
14269,gomesjo01,Jonny,Gomes,Jonathan Johnson,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,6.0,1.0,2,0.0,1.0,NaN
19243,jaimeju01,Juan,Jaime,Juan Jose,2015,1,ATL,NL,0,1,...,1.0,0.0,0.0,0,8.0,1.0,1,1.0,0.0,NaN
8206,cornejo01,John,Cornely,John Francis,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,7.0,1.0,4,0.0,0.0,NaN
43390,winklda01,Daniel,Winkler,Daniel Allen,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,8.0,0.0,2,0.0,0.0,NaN
40806,vealdo01,Donnie,Veal,Donald Tyrone,2015,1,ATL,NL,0,0,...,0.0,2.0,1.0,0,24.0,2.0,7,1.0,0.0,NaN
21371,kohnmi01,Michael,Kohn,Michael Thomas,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,19.0,1.0,0,0.0,0.0,NaN
13123,frasoja01,Jason,Frasor,Jason Andrew,2015,2,ATL,NL,0,0,...,1.0,0.0,0.0,0,20.0,0.0,0,0.0,0.0,NaN
11466,evelada01,Dana,Eveland,Dana James,2015,1,ATL,NL,0,1,...,1.0,1.0,0.0,0,18.0,1.0,2,0.0,1.0,NaN
39680,thomaia01,Ian,Thomas,Ian Drew,2015,1,ATL,NL,0,0,...,0.0,1.0,0.0,0,25.0,1.0,3,1.0,0.0,NaN
6279,carpeda02,David,Carpenter,David Lee,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,17.0,1.0,3,0.0,0.0,NaN
27921,moylape01,Peter,Moylan,Peter Michael,2015,1,ATL,NL,1,0,...,0.0,0.0,0.0,1,44.0,2.0,5,0.0,0.0,NaN
4988,burawda01,Danny,Burawa,Daniel James,2015,2,ATL,NL,0,0,...,0.0,0.0,1.0,0,48.0,4.0,5,0.0,2.0,NaN
20381,kellyry01,Ryan,Kelly,William Ryan,2015,1,ATL,NL,0,0,...,0.0,0.0,0.0,0,74.0,8.0,14,1.0,0.0,NaN
4405,brighja01,Jake,Brigham,Jacob Daniel,2015,1,ATL,NL,0,1,...,1.0,2.0,1.0,0,84.0,4.0,16,0.0,2.0,NaN
24970,masseni01,Nick,Masset,Nicholas Allen,2015,2,ATL,NL,2,2,...,3.0,3.0,1.0,0,72.0,3.0,12,0.0,0.0,NaN
9715,detwiro01,Ross,Detwiler,Ross Emery,2015,2,ATL,NL,1,0,...,1.0,0.0,3.0,0,80.0,3.0,14,0.0,1.0,NaN
5648,cahiltr01,Trevor,Cahill,Trevor John,2015,1,ATL,NL,0,3,...,1.0,1.0,1.0,0,124.0,6.0,23,2.0,1.0,NaN
24426,marimsu01,Sugar Ray,Marimon,Sugar Ray,2015,1,ATL,NL,0,1,...,0.0,0.0,0.0,0,117.0,5.0,21,1.0,2.0,NaN
18935,jacksed01,Edwin,Jackson,Edwin,2015,2,ATL,NL,2,2,...,0.0,2.0,0.0,0,94.0,7.0,11,0.0,1.0,NaN
42097,weberry01,Ryan,Weber,James Ryan,2015,1,ATL,NL,0,3,...,0.0,0.0,2.0,0,109.0,0.0,15,0.0,0.0,NaN
1797,banuema01,Manny,Banuelos,Manuel,2015,1,ATL,NL,1,4,...,0.0,1.0,3.0,0,121.0,0.0,17,0.0,0.0,NaN
24428,marksma01,Matt,Marksberry,Matthew Gates,2015,1,ATL,NL,0,3,...,2.0,3.0,1.0,0,108.0,4.0,16,0.0,2.0,NaN
25807,mckiran01,Andrew,McKirahan,Andrew David,2015,1,ATL,NL,1,0,...,2.0,0.0,2.0,0,129.0,4.0,18,0.0,1.0,NaN
24688,martico01,Cody,Martin,Cody Matthew,2015,1,ATL,NL,2,3,...,0.0,1.0,1.0,0,92.0,2.0,13,2.0,1.0,NaN
38525,stulter01,Eric,Stults,Eric William,2015,1,ATL,NL,1,5,...,1.0,1.0,0.0,0,196.0,1.0,31,3.0,1.0,NaN
1508,avilalu01,Luis,Avilan,Luis Armando,2015,1,ATL,NL,2,4,...,2.0,1.0,0.0,1,154.0,7.0,15,0.0,1.0,NaN
19613,johnsji04,Jim,Johnson,James Robert,2015,1,ATL,NL,2,3,...,2.0,2.0,1.0,0,196.0,13.0,14,3.0,2.0,NaN
341,aardsda01,David,Aardsma,David Allan,2015,1,ATL,NL,1,1,...,3.0,1.0,1.0,0,129.0,9.0,17,0.0,1.0,NaN
41187,vizcaar01,Arodys,Vizcaino,Arodys,2015,1,ATL,NL,3,1,...,2.0,7.0,0.0,0,139.0,25.0,7,2.0,0.0,NaN
8653,cunnibr02,Brandon,Cunniff,Brandon Michael,2015,1,ATL,NL,2,2,...,2.0,1.0,0.0,0,151.0,12.0,20,1.0,1.0,NaN
15240,grillja01,Jason,Grilli,Jason Michael,2015,1,ATL,NL,3,4,...,1.0,2.0,0.0,0,140.0,29.0,13,0.0,1.0,NaN
43391,wislema01,Matt,Wisler,Matthew Robert,2015,1,ATL,NL,8,8,...,4.0,2.0,4.0,3,478.0,0.0,59,4.0,5.0,NaN
31113,perezwi01,Williams,Perez,Williams David,2015,1,ATL,NL,7,6,...,2.0,4.0,9.0,1,514.0,1.0,66,3.0,5.0,NaN
12786,foltymi01,Mike,Foltynewicz,Michael Gary,2015,1,ATL,NL,4,6,...,0.0,3.0,4.0,1,399.0,1.0,63,2.0,6.0,NaN
43394,woodal02,Alex,Wood,Robert Alexander,2015,1,ATL,NL,7,6,...,2.0,5.0,2.0,0,509.0,0.0,50,11.0,1.0,NaN
27001,millesh01,Shelby,Miller,Shelby Charles,2015,1,ATL,NL,6,17,...,8.0,5.0,6.0,2,860.0,0.0,82,8.0,4.0,NaN
39405,teherju01,Julio,Teheran,Julio Alberto,2015,1,ATL,NL,11,8,...,3.0,2.0,9.0,0,843.0,0.0,99,10.0,3.0,NaN

OAK

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
9186,davisik02,Ike,Davis,Isaac Benjamin,2015,1,OAK,AL,0,0,...,0.0,0.0,0.0,0,8.0,2.0,0,0.0,0.0,NaN
27002,millsbr02,Brad,Mills,Bradley Aaron,2015,1,OAK,AL,0,0,...,0.0,0.0,1.0,0,23.0,0.0,3,0.0,0.0,NaN
37071,smithch08,Chad,Smith,Chad Dennis,2015,1,OAK,AL,0,0,...,0.0,1.0,1.0,0,13.0,0.0,5,0.0,0.0,NaN
44137,zitoba01,Barry,Zito,Barry William,2015,1,OAK,AL,0,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
7914,cookry01,Ryan,Cook,Ryan William,2015,1,OAK,AL,0,2,...,0.0,0.0,0.0,0,23.0,0.0,5,0.0,0.0,NaN
24689,martico01,Cody,Martin,Cody Matthew,2015,2,OAK,AL,0,2,...,0.0,1.0,1.0,0,49.0,2.0,14,0.0,1.0,NaN
6509,castran01,Angel,Castro,Angel M.,2015,1,OAK,AL,0,1,...,0.0,0.0,0.0,0,22.0,3.0,1,1.0,0.0,NaN
8213,couloda01,Daniel,Coulombe,Daniel Paul,2015,2,OAK,AL,0,0,...,0.0,1.0,0.0,0,32.0,1.0,3,0.0,0.0,NaN
29444,oflaher01,Eric,O'Flaherty,Eric George,2015,1,OAK,AL,1,2,...,1.0,0.0,0.0,0,108.0,5.0,17,2.0,0.0,NaN
29104,nolinse01,Sean,Nolin,Sean Patrick,2015,1,OAK,AL,1,2,...,0.0,3.0,0.0,1,134.0,0.0,19,1.0,5.0,NaN
10347,doolise01,Sean,Doolittle,Sean Robert,2015,1,OAK,AL,1,0,...,0.0,0.0,0.0,0,57.0,7.0,6,0.0,1.0,NaN
10632,dullry01,Ryan,Dull,Ryan Christopher,2015,1,OAK,AL,1,2,...,1.0,0.0,0.0,0,66.0,3.0,8,0.0,1.0,NaN
22636,leonar01,Arnold,Leon,Alex Arnold,2015,1,OAK,AL,0,2,...,3.0,0.0,0.0,0,115.0,9.0,14,1.0,2.0,NaN
27923,mujiced01,Edward,Mujica,Edward Jose,2015,2,OAK,AL,2,4,...,2.0,1.0,0.0,1,138.0,9.0,21,1.0,1.0,NaN
860,alvarrj01,R. J.,Alvarez,Roy Emilio,2015,1,OAK,AL,0,0,...,1.0,5.0,0.0,0,100.0,11.0,23,0.0,2.0,NaN
40808,vendipa01,Pat,Venditte,Patrick Michael,2015,1,OAK,AL,2,2,...,0.0,0.0,0.0,0,119.0,7.0,14,1.0,1.0,NaN
29757,oteroda01,Dan,Otero,Daniel Anthony,2015,1,OAK,AL,2,4,...,2.0,1.0,2.0,0,204.0,6.0,35,1.0,3.0,NaN
4678,brookaa01,Aaron,Brooks,Aaron Lee,2015,2,OAK,AL,3,4,...,0.0,0.0,4.0,0,232.0,1.0,38,3.0,2.0,NaN
7369,clippty01,Tyler,Clippard,Tyler Lee,2015,1,OAK,AL,1,3,...,1.0,1.0,2.0,0,167.0,30.0,12,0.0,1.0,NaN
10349,doubrfe01,Felix,Doubront,Felix Antonio,2015,2,OAK,AL,2,2,...,0.0,2.0,0.0,0,227.0,2.0,35,4.0,4.0,NaN
342,abadfe01,Fernando,Abad,Fernando Antonio,2015,1,OAK,AL,2,2,...,3.0,4.0,1.0,0,205.0,17.0,23,3.0,3.0,NaN
15598,hahnje01,Jesse,Hahn,Jesse Allen,2015,1,OAK,AL,6,6,...,1.0,7.0,8.0,0,406.0,0.0,46,1.0,2.0,NaN
36012,scribev01,Evan,Scribner,Evan Lee,2015,1,OAK,AL,2,2,...,0.0,2.0,2.0,0,238.0,14.0,31,0.0,1.0,NaN
1980,bassich01,Chris,Bassitt,Christopher M.,2015,1,OAK,AL,1,8,...,0.0,5.0,9.0,0,361.0,3.0,36,1.0,1.0,NaN
34142,rodrife02,Fernando,Rodriguez,Fernando,2015,1,OAK,AL,4,2,...,1.0,4.0,1.0,0,242.0,12.0,27,1.0,1.0,NaN
14769,graveke01,Kendall,Graveman,Kendall Chase,2015,1,OAK,AL,6,9,...,0.0,4.0,5.0,0,502.0,0.0,57,1.0,2.0,NaN
31699,pomerdr01,Drew,Pomeranz,Thomas Andrew,2015,1,OAK,AL,5,6,...,1.0,2.0,3.0,0,357.0,9.0,44,4.0,5.0,NaN
20150,kazmisc01,Scott,Kazmir,Scott Edward,2015,1,OAK,AL,5,5,...,0.0,2.0,3.0,2,440.0,0.0,35,3.0,4.0,NaN
6827,chaveje01,Jesse,Chavez,Jesse David,2015,1,OAK,AL,7,15,...,2.0,3.0,2.0,0,672.0,3.0,78,4.0,6.0,NaN
14771,grayso01,Sonny,Gray,Sonny Douglas,2015,1,OAK,AL,14,7,...,0.0,13.0,2.0,0,831.0,0.0,71,1.0,4.0,NaN

MIN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
33802,robinsh01,Shane,Robinson,Shane Michael,2015,1,MIN,AL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,0,0.0,0.0,NaN
26345,meyeral01,Alex,Meyer,Alex John,2015,1,MIN,AL,0,0,...,0.0,0.0,0.0,0,15.0,0.0,5,1.0,0.0,NaN
39409,thielca01,Caleb,Thielbar,Caleb John,2015,1,MIN,AL,0,0,...,0.0,1.0,0.0,0,20.0,1.0,3,1.0,0.0,NaN
37938,staufti01,Tim,Stauffer,Timothy James,2015,1,MIN,AL,1,0,...,2.0,2.0,0.0,0,73.0,5.0,13,0.0,1.0,NaN
8211,cottsne01,Neal,Cotts,Neal James,2015,2,MIN,AL,0,0,...,0.0,0.0,1.0,0,60.0,1.0,8,0.0,1.0,NaN
343,achteaj01,A. J.,Achter,Adam Joseph,2015,1,MIN,AL,0,1,...,1.0,0.0,0.0,0,58.0,4.0,10,0.0,0.0,NaN
39682,thompaa01,Aaron,Thompson,Aaron Marshall,2015,1,MIN,AL,1,3,...,2.0,1.0,0.0,0,137.0,5.0,19,2.0,3.0,NaN
39970,tonkimi01,Michael,Tonkin,Michael Harvey,2015,1,MIN,AL,0,0,...,2.0,1.0,1.0,0,99.0,10.0,9,0.0,1.0,NaN
31961,pressry01,Ryan,Pressly,Thomas Ryan,2015,1,MIN,AL,3,2,...,1.0,2.0,0.0,0,119.0,6.0,9,1.0,1.0,NaN
10628,duensbr01,Brian,Duensing,Brian Matthew,2015,1,MIN,AL,4,1,...,4.0,3.0,4.0,0,209.0,9.0,24,2.0,1.0,NaN
29753,orourry01,Ryan,O'Rourke,Ryan Patrick,2015,1,MIN,AL,0,0,...,2.0,2.0,0.0,0,97.0,7.0,15,1.0,1.0,NaN
19250,jepseke01,Kevin,Jepsen,Kevin Martin,2015,2,MIN,AL,1,1,...,0.0,3.0,0.0,0,109.0,17.0,5,0.0,0.0,NaN
4071,boyerbl01,Blaine,Boyer,Blaine Thomas,2015,1,MIN,AL,3,6,...,4.0,5.0,0.0,0,268.0,12.0,24,3.0,2.0,NaN
29103,nolasri01,Ricky,Nolasco,Carlos Enrique,2015,1,MIN,AL,5,2,...,2.0,1.0,1.0,1,173.0,1.0,31,0.0,2.0,NaN
12175,fienca01,Casey,Fien,Casey Michael,2015,1,MIN,AL,4,6,...,0.0,0.0,0.0,0,257.0,6.0,26,2.0,3.0,NaN
10629,duffety01,Tyler,Duffey,Tyler Blinn,2015,1,MIN,AL,5,1,...,0.0,1.0,0.0,0,242.0,0.0,20,3.0,0.0,NaN
14509,grahajr01,J. R.,Graham,Johnathan Ryan,2015,1,MIN,AL,1,1,...,0.0,5.0,4.0,1,283.0,19.0,41,2.0,2.0,NaN
31114,perkigl01,Glen,Perkins,Glen Weston,2015,1,MIN,AL,3,5,...,2.0,4.0,0.0,0,238.0,45.0,21,1.0,0.0,NaN
35403,santaer01,Ervin,Santana,Ervin Ramon,2015,1,MIN,AL,7,5,...,2.0,3.0,4.0,0,457.0,0.0,50,4.0,2.0,NaN
30720,pelfrmi01,Mike,Pelfrey,Michael Alan,2015,1,MIN,AL,6,11,...,1.0,5.0,12.0,0,714.0,0.0,86,3.0,3.0,NaN
27003,milonto01,Tommy,Milone,Tomaso Anthony,2015,1,MIN,AL,9,5,...,1.0,3.0,1.0,0,543.0,1.0,64,6.0,7.0,NaN
18683,hugheph01,Phil,Hughes,Philip Joseph,2015,1,MIN,AL,11,9,...,0.0,1.0,2.0,0,651.0,1.0,76,1.0,3.0,NaN
25226,maytr01,Trevor,May,Trevor J.,2015,1,MIN,AL,8,9,...,2.0,4.0,4.0,0,492.0,9.0,53,3.0,4.0,NaN
13891,gibsoky01,Kyle,Gibson,Kyle Benjamin,2015,1,MIN,AL,11,11,...,6.0,7.0,7.0,0,821.0,0.0,88,6.0,6.0,NaN

CLE

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
37627,sotogi01,Giovanni,Soto,Giovanni Luis,2015,1,CLE,AL,0,0,...,0.0,0.0,0.0,0,13.0,1.0,0,0.0,0.0,NaN
32272,raburry01,Ryan,Raburn,Ryan Neil,2015,1,CLE,AL,0,0,...,0.0,0.0,0.0,0,4.0,0.0,2,0.0,0.0,NaN
28160,murphda07,David,Murphy,David Matthew,2015,1,CLE,AL,0,0,...,0.0,0.0,1.0,0,6.0,1.0,5,0.0,0.0,NaN
28159,muratto01,Toru,Murata,Toru,2015,1,CLE,AL,0,1,...,0.0,0.0,0.0,0,16.0,0.0,5,0.0,0.0,NaN
22291,leech01,C. C.,Lee,Chen-Chang,2015,1,CLE,AL,0,0,...,0.0,0.0,0.0,0,10.0,0.0,1,0.0,0.0,NaN
6828,chenbr01,Bruce,Chen,Bruce Kastulo,2015,1,CLE,AL,0,1,...,1.0,0.0,0.0,0,35.0,0.0,9,0.0,0.0,NaN
12396,floydga01,Gavin,Floyd,Gavin Christopher,2015,1,CLE,AL,0,0,...,0.0,1.0,1.0,0,55.0,2.0,4,0.0,0.0,NaN
18399,housetj01,T. J.,House,Glenn Anthony,2015,1,CLE,AL,0,4,...,1.0,0.0,2.0,0,73.0,0.0,19,0.0,1.0,NaN
1179,armstsh01,Shawn,Armstrong,Shawn Michael,2015,1,CLE,AL,0,0,...,0.0,0.0,0.0,0,30.0,5.0,2,0.0,0.0,NaN
1183,atchisc01,Scott,Atchison,Scott Barham,2015,1,CLE,AL,1,1,...,0.0,3.0,1.0,0,87.0,7.0,15,0.0,2.0,NaN
38811,swarzan01,Anthony,Swarzak,Anthony Ray,2015,1,CLE,AL,0,0,...,1.0,0.0,0.0,0,61.0,3.0,9,0.0,0.0,NaN
8395,crockky01,Kyle,Crockett,Kyle Richard,2015,1,CLE,AL,0,0,...,0.0,0.0,1.0,0,74.0,4.0,9,0.0,2.0,NaN
344,adamsau01,Austin,Adams,Austin David,2015,1,CLE,AL,2,0,...,0.0,1.0,0.0,0,149.0,9.0,15,2.0,0.0,NaN
34865,rzepcma01,Marc,Rzepczynski,Marc Walter,2015,1,CLE,AL,2,3,...,3.0,1.0,1.0,0,94.0,6.0,15,1.0,0.0,NaN
15597,hagadni01,Nick,Hagadone,Nicholas Michael,2015,1,CLE,AL,0,1,...,1.0,2.0,0.0,0,124.0,6.0,16,1.0,1.0,NaN
24425,marcush01,Shaun,Marcum,Shaun Michal,2015,1,CLE,AL,3,2,...,3.0,2.0,1.0,0,142.0,1.0,21,0.0,0.0,NaN
41771,webbry01,Ryan,Webb,Ryan Christopher,2015,1,CLE,AL,1,0,...,2.0,1.0,2.0,0,204.0,11.0,21,1.0,1.0,NaN
24424,manshje01,Jeff,Manship,Jeffrey Michael,2015,1,CLE,AL,1,0,...,0.0,0.0,1.0,0,144.0,7.0,4,0.0,4.0,NaN
864,anderco01,Cody,Anderson,Cody Andrew,2015,1,CLE,AL,7,3,...,1.0,0.0,1.0,1,365.0,0.0,32,3.0,3.0,NaN
36264,shawbr01,Bryan,Shaw,Bryan Anthony,2015,1,CLE,AL,3,3,...,1.0,3.0,1.0,0,265.0,19.0,24,1.0,0.0,NaN
39969,tomlijo01,Josh,Tomlin,Joshua Aubry,2015,1,CLE,AL,7,2,...,0.0,1.0,2.0,0,251.0,0.0,22,0.0,0.0,NaN
25229,mcallza01,Zach,McAllister,Zachary Taylor,2015,1,CLE,AL,4,4,...,4.0,3.0,3.0,0,299.0,9.0,28,1.0,1.0,NaN
597,allenco01,Cody,Allen,Cody Edward,2015,1,CLE,AL,2,5,...,2.0,9.0,2.0,0,286.0,58.0,26,1.0,2.0,NaN
2268,bauertr01,Trevor,Bauer,Trevor Andrew,2015,1,CLE,AL,11,12,...,1.0,7.0,5.0,1,744.0,1.0,90,4.0,1.0,NaN
35145,salazda01,Danny,Salazar,Daniel Dariel,2015,1,CLE,AL,14,10,...,1.0,3.0,7.0,2,757.0,0.0,79,3.0,4.0,NaN
6280,carraca01,Carlos,Carrasco,Carlos Luis,2015,1,CLE,AL,14,12,...,2.0,5.0,5.0,0,730.0,0.0,75,1.0,6.0,NaN
21059,klubeco01,Corey,Kluber,Corey Scott,2015,1,CLE,AL,9,16,...,3.0,6.0,11.0,1,886.0,0.0,92,7.0,4.0,NaN

CIN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
15937,handdo01,Donovan,Hand,Donovan Jay,2015,1,CIN,NL,0,0,...,0.0,0.0,1.0,0,13.0,0.0,0,0.0,0.0,NaN
1515,baileho02,Homer,Bailey,David Dewitt,2015,1,CIN,NL,0,1,...,2.0,0.0,0.0,0,51.0,0.0,7,0.0,0.0,NaN
27919,moscojo01,Jon,Moscot,Jonathan Solomon,2015,1,CIN,NL,1,1,...,0.0,1.0,0.0,0,50.0,0.0,6,0.0,1.0,NaN
1510,axelrdy01,Dylan,Axelrod,Dylan Davis Haines,2015,1,CIN,NL,0,1,...,2.0,0.0,0.0,0,59.0,3.0,13,1.0,0.0,NaN
345,adcocna01,Nathan,Adcock,Nathan Masler,2015,1,CIN,NL,1,2,...,0.0,1.0,1.0,0,83.0,4.0,12,1.0,1.0,NaN
1795,balesco01,Collin,Balester,Collin Thomas,2015,1,CIN,NL,1,1,...,0.0,1.0,1.0,0,77.0,5.0,13,0.0,1.0,NaN
14775,greggke01,Kevin,Gregg,Kevin Marschall,2015,1,CIN,NL,0,2,...,0.0,1.0,0.0,0,51.0,2.0,12,1.0,0.0,NaN
18045,holmbda01,David,Holmberg,David A.,2015,1,CIN,NL,1,4,...,0.0,1.0,2.0,0,136.0,0.0,24,4.0,2.0,NaN
22290,lecursa01,Sam,LeCure,Samuel R.,2015,1,CIN,NL,0,2,...,0.0,0.0,0.0,0,83.0,1.0,9,1.0,1.0,NaN
7913,contrca01,Carlos,Contreras,Carlos Manuel,2015,1,CIN,NL,0,0,...,0.0,3.0,1.0,0,125.0,8.0,16,1.0,0.0,NaN
30440,parrama01,Manny,Parra,Manuel Alex,2015,1,CIN,NL,1,2,...,1.0,1.0,0.0,0,130.0,5.0,15,1.0,2.0,NaN
12179,finnebr01,Brandon,Finnegan,Brandon Kyle,2015,2,CIN,NL,2,2,...,0.0,0.0,0.0,0,98.0,0.0,11,2.0,0.0,NaN
41185,villape01,Pedro,Villarreal,Pedro A.,2015,1,CIN,NL,1,3,...,2.0,0.0,3.0,1,214.0,10.0,24,2.0,3.0,NaN
37292,smithjo07,Josh,Smith,Joshua,2015,1,CIN,NL,0,4,...,3.0,0.0,5.0,0,161.0,0.0,27,0.0,2.0,NaN
24974,matthry01,Ryan,Mattheus,Ryan Arthur,2015,2,CIN,NL,2,4,...,2.0,6.0,2.0,1,249.0,14.0,31,4.0,3.0,NaN
1512,badenbu01,Burke,Badenhop,Burke Heinrich,2015,1,CIN,NL,2,4,...,4.0,0.0,0.0,0,285.0,17.0,30,2.0,3.0,NaN
24429,marquja01,Jason,Marquis,Jason Scott,2015,1,CIN,NL,3,4,...,2.0,3.0,1.0,0,216.0,0.0,37,3.0,4.0,NaN
7043,cingrto01,Tony,Cingrani,Anthony Michael,2015,1,CIN,NL,0,3,...,3.0,2.0,3.0,1,155.0,7.0,21,1.0,2.0,NaN
35148,sampske01,Keyvius,Sampson,Keyvius N.,2015,1,CIN,NL,2,6,...,0.0,4.0,0.0,0,251.0,0.0,43,2.0,2.0,NaN
18046,hoovejj01,J. J.,Hoover,James Allen,2015,1,CIN,NL,8,2,...,1.0,3.0,2.0,0,264.0,12.0,24,5.0,2.0,NaN
21933,lambjo02,John,Lamb,John Michael,2015,1,CIN,NL,1,5,...,0.0,0.0,2.0,0,220.0,0.0,32,2.0,1.0,NaN
9717,diazju03,Jumbo,Diaz,Jose Rafael,2015,1,CIN,NL,2,1,...,3.0,5.0,3.0,1,255.0,16.0,29,3.0,2.0,NaN
23590,lorenmi01,Michael,Lorenzen,Michael Clifton,2015,1,CIN,NL,4,9,...,6.0,4.0,6.0,0,515.0,1.0,70,2.0,1.0,NaN
22287,leakemi01,Mike,Leake,Michael Raymond,2015,1,CIN,NL,9,5,...,4.0,3.0,2.0,1,556.0,0.0,55,6.0,2.0,NaN
18932,iglesra01,Raisel,Iglesias,Raisel,2015,1,CIN,NL,3,7,...,0.0,2.0,7.0,2,395.0,1.0,45,4.0,0.0,NaN
6825,chapmar01,Aroldis,Chapman,Albertin Aroldis,2015,1,CIN,NL,4,4,...,1.0,7.0,5.0,0,278.0,54.0,13,0.0,2.0,NaN
8651,cuetojo01,Johnny,Cueto,Johnny,2015,1,CIN,NL,7,6,...,1.0,0.0,6.0,4,516.0,0.0,42,4.0,3.0,NaN
9712,desclan01,Anthony,DeSclafani,Anthony James,2015,1,CIN,NL,9,13,...,5.0,6.0,5.0,0,785.0,0.0,93,10.0,5.0,NaN

SFN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
3492,bochybr02,Brett,Bochy,Brett,2015,1,SFN,NL,0,0,...,0.0,1.0,1.0,0,12.0,1.0,0,0.0,0.0,NaN
13886,gearrco01,Cory,Gearrin,Cory Nathanial,2015,1,SFN,NL,0,0,...,0.0,0.0,0.0,0,13.0,0.0,2,0.0,0.0,NaN
15600,hallco01,Cody,Hall,Cody Kevin,2015,1,SFN,NL,0,0,...,0.0,0.0,1.0,0,41.0,1.0,6,0.0,0.0,NaN
4407,broadmi01,Mike,Broadway,Michael Allen,2015,1,SFN,NL,0,2,...,1.0,0.0,1.0,1,77.0,5.0,10,1.0,0.0,NaN
346,affelje01,Jeremy,Affeldt,Jeremy David,2015,1,SFN,NL,2,2,...,2.0,1.0,2.0,0,163.0,7.0,24,0.0,0.0,NaN
23838,machije01,Jean,Machi,Jean Manuel,2015,1,SFN,NL,1,0,...,0.0,1.0,1.0,0,159.0,8.0,21,2.0,2.0,NaN
23588,lopezja02,Javier,Lopez,Javier Alfonso,2015,1,SFN,NL,1,0,...,3.0,1.0,0.0,0,147.0,14.0,8,0.0,0.0,NaN
29754,osichjo01,Josh,Osich,Joshua M.,2015,1,SFN,NL,2,0,...,0.0,2.0,0.0,0,120.0,6.0,12,1.0,1.0,NaN
22288,leakemi01,Mike,Leake,Michael Raymond,2015,2,SFN,NL,2,5,...,1.0,3.0,1.0,1,222.0,0.0,25,0.0,1.0,NaN
5650,cainma01,Matt,Cain,Matthew Thomas,2015,1,SFN,NL,2,4,...,0.0,1.0,4.0,0,271.0,0.0,39,1.0,4.0,NaN
21372,kontoge01,George,Kontos,George Nicholas,2015,1,SFN,NL,4,4,...,3.0,3.0,0.0,0,284.0,12.0,20,1.0,3.0,NaN
38522,strichu01,Hunter,Strickland,Hunter Drew,2015,1,SFN,NL,3,3,...,1.0,1.0,2.0,0,191.0,11.0,14,0.0,0.0,NaN
31116,petityu01,Yusmeiro,Petit,Yusmeiro Alberto,2015,1,SFN,NL,1,1,...,2.0,3.0,1.0,0,316.0,15.0,32,1.0,6.0,NaN
22971,linceti01,Tim,Lincecum,Timothy LeRoy,2015,1,SFN,NL,7,4,...,2.0,5.0,1.0,0,333.0,0.0,37,3.0,2.0,NaN
13625,garcija01,Santiago,Casilla,Santiago,2015,1,SFN,NL,4,2,...,2.0,1.0,2.0,0,244.0,55.0,19,2.0,1.0,NaN
18402,hudsoti01,Tim,Hudson,Timothy Adam,2015,1,SFN,NL,8,9,...,1.0,4.0,7.0,0,525.0,0.0,62,2.0,3.0,NaN
34150,romose01,Sergio,Romo,Sergio Francisco,2015,1,SFN,NL,0,5,...,2.0,4.0,1.0,0,230.0,14.0,20,2.0,0.0,NaN
30719,peavyja01,Jake,Peavy,Jacob Edward,2015,1,SFN,NL,8,6,...,1.0,2.0,2.0,1,448.0,0.0,45,5.0,1.0,NaN
41188,vogelry01,Ryan,Vogelsong,Ryan Andrew,2015,1,SFN,NL,9,11,...,2.0,1.0,3.0,0,598.0,6.0,76,3.0,6.0,NaN
17522,hestoch01,Chris,Heston,Christopher L.,2015,1,SFN,NL,12,11,...,3.0,5.0,13.0,1,746.0,0.0,82,2.0,0.0,NaN
4986,bumgama01,Madison,Bumgarner,Madison Kyle,2015,1,SFN,NL,18,9,...,2.0,1.0,7.0,0,869.0,0.0,73,5.0,4.0,NaN

TOR

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
593,alberan01,Andrew,Albers,Andrew William,2015,1,TOR,AL,0,0,...,0.0,0.0,0.0,0,11.0,0.0,1,0.0,0.0,NaN
32592,rasmuro01,Rob,Rasmussen,Robert Paul,2015,1,TOR,AL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,0,0.0,0.0,NaN
19247,jenkich01,Chad,Jenkins,Stephen Chadwick,2015,1,TOR,AL,0,0,...,0.0,0.0,0.0,0,17.0,1.0,2,0.0,0.0,NaN
7372,cokeph01,Phil,Coke,Phillip Douglas,2015,2,TOR,AL,0,0,...,0.0,0.0,0.0,0,11.0,1.0,1,0.0,0.0,NaN
18930,hynesco01,Colt,Hynes,Joshua Colt,2015,1,TOR,AL,0,0,...,1.0,0.0,0.0,0,18.0,1.0,2,0.0,0.0,NaN
7917,copelsc01,Scott,Copeland,Scott Reast,2015,1,TOR,AL,1,1,...,0.0,0.0,0.0,0,69.0,2.0,11,1.0,1.0,NaN
4069,boydma01,Matt,Boyd,Matthew Robert,2015,1,TOR,AL,0,2,...,0.0,2.0,0.0,0,36.0,0.0,11,0.0,1.0,NaN
6510,castrmi01,Miguel,Castro,Miguel Angel,2015,1,TOR,AL,0,2,...,2.0,2.0,0.0,1,57.0,9.0,7,0.0,2.0,NaN
32831,redmoto01,Todd,Redmond,Todd Richard,2015,1,TOR,AL,0,0,...,0.0,1.0,1.0,0,72.0,1.0,13,0.0,0.0,NaN
10348,doubrfe01,Felix,Doubront,Felix Antonio,2015,1,TOR,AL,1,1,...,1.0,1.0,1.0,0,101.0,0.0,15,0.0,1.0,NaN
23593,lowema01,Mark,Lowe,Mark Christopher,2015,2,TOR,AL,1,2,...,0.0,0.0,0.0,0,71.0,5.0,9,0.0,2.0,NaN
16559,hawkila01,LaTroy,Hawkins,LaTroy,2015,2,TOR,AL,1,0,...,0.0,0.0,0.0,0,73.0,5.0,7,1.0,0.0,NaN
29107,norrida01,Daniel,Norris,Daniel David,2015,1,TOR,AL,1,1,...,0.0,2.0,2.0,0,103.0,0.0,11,1.0,2.0,NaN
38523,stromma01,Marcus,Stroman,Marcus Earl,2015,1,TOR,AL,4,0,...,0.0,2.0,1.0,1,103.0,0.0,5,0.0,0.0,NaN
12787,francje01,Jeff,Francis,Jeffrey William,2015,1,TOR,AL,1,2,...,0.0,2.0,1.0,0,100.0,5.0,16,0.0,0.0,NaN
39406,teperry01,Ryan,Tepera,Dennis Ryan,2015,1,TOR,AL,0,2,...,0.0,2.0,3.0,0,128.0,12.0,14,0.0,0.0,NaN
9438,delabst01,Steve,Delabar,Steven Edward,2015,1,TOR,AL,2,0,...,1.0,6.0,1.0,0,129.0,12.0,19,1.0,1.0,NaN
35709,schulbo02,Bo,Schultz,Patrick Bowen,2015,1,TOR,AL,0,1,...,0.0,2.0,1.0,0,173.0,10.0,19,0.0,2.0,NaN
23591,loupaa01,Aaron,Loup,Aaron Christopher,2015,1,TOR,AL,2,5,...,0.0,0.0,6.0,0,186.0,6.0,24,2.0,0.0,NaN
35149,sanchaa01,Aaron,Sanchez,Aaron Jacob,2015,1,TOR,AL,7,6,...,2.0,8.0,3.0,0,380.0,4.0,35,2.0,1.0,NaN
6513,cecilbr01,Brett,Cecil,Brett Aarion,2015,1,TOR,AL,5,5,...,3.0,4.0,2.0,0,214.0,24.0,17,1.0,0.0,NaN
16815,hendrli01,Liam,Hendriks,Liam Johnson,2015,1,TOR,AL,5,0,...,1.0,4.0,2.0,0,261.0,14.0,23,0.0,2.0,NaN
29756,osunaro01,Roberto,Osuna,Roberto,2015,1,TOR,AL,1,6,...,2.0,5.0,1.0,0,271.0,39.0,21,1.0,2.0,NaN
31963,priceda01,David,Price,David Taylor,2015,2,TOR,AL,9,1,...,0.0,1.0,0.0,0,296.0,0.0,20,0.0,3.0,NaN
4985,buehrma01,Mark,Buehrle,Mark Alan,2015,1,TOR,AL,15,8,...,4.0,0.0,7.0,0,827.0,0.0,100,10.0,9.0,NaN
9718,dickera01,R. A.,Dickey,Robert Allen,2015,1,TOR,AL,11,11,...,1.0,9.0,11.0,2,884.0,0.0,97,3.0,11.0,NaN
18686,hutchdr01,Drew,Hutchison,Andrew Scott,2015,1,TOR,AL,13,5,...,0.0,7.0,11.0,0,664.0,0.0,103,0.0,6.0,NaN
11465,estrama01,Marco,Estrada,Marco Rene,2015,1,TOR,AL,13,8,...,2.0,2.0,5.0,0,725.0,3.0,67,2.0,3.0,NaN

CHA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
32580,ramiral03,Alexei,Ramirez,Alexei Fernando,2015,1,CHA,AL,0,0,...,0.0,0.0,1.0,0,5.0,1.0,0,0.0,0.0,NaN
15244,guerrja01,Javy,Guerra,Luis Javier,2015,1,CHA,AL,0,0,...,0.0,0.0,0.0,0,7.0,0.0,0,0.0,0.0,NaN
13628,garcile02,Leury,Garcia,Leury,2015,1,CHA,AL,0,0,...,0.0,1.0,1.0,0,5.0,0.0,0,0.0,0.0,NaN
22281,larocad01,Adam,LaRoche,David Adam,2015,1,CHA,AL,0,0,...,0.0,0.0,0.0,0,3.0,1.0,0,0.0,0.0,NaN
2270,beckch02,Chris,Beck,Christopher Michael,2015,1,CHA,AL,0,1,...,0.0,0.0,0.0,0,31.0,0.0,5,1.0,0.0,NaN
10350,drabeky01,Kyle,Drabek,Kyle Jordan,2015,1,CHA,AL,0,0,...,0.0,0.0,0.0,0,26.0,3.0,3,0.0,0.0,NaN
15245,guerrju02,Junior,Guerra,Junior J.,2015,1,CHA,AL,0,0,...,1.0,1.0,0.0,0,18.0,3.0,3,0.0,0.0,NaN
27289,montafr01,Frankie,Montas,Francelis,2015,1,CHA,AL,0,2,...,1.0,0.0,0.0,0,66.0,2.0,8,0.0,0.0,NaN
41770,webbda01,Daniel,Webb,Robert McDaniel,2015,1,CHA,AL,1,0,...,1.0,2.0,1.0,0,150.0,6.0,26,0.0,1.0,NaN
28837,noesihe01,Hector,Noesi,Hector,2015,1,CHA,AL,0,4,...,1.0,3.0,1.0,1,154.0,4.0,26,0.0,0.0,NaN
19871,jonesna01,Nate,Jones,Nathan Andrew,2015,1,CHA,AL,2,2,...,0.0,0.0,0.0,0,72.0,3.0,7,2.0,0.0,NaN
6281,carrosc02,Scott,Carroll,Scott Alexander,2015,1,CHA,AL,1,1,...,2.0,4.0,3.0,0,162.0,8.0,19,1.0,2.0,NaN
594,alberma01,Matt,Albers,Matthew James,2015,1,CHA,AL,2,0,...,2.0,0.0,1.0,0,149.0,5.0,6,0.0,3.0,NaN
19612,johnser04,Erik,Johnson,Erik Craig,2015,1,CHA,AL,3,1,...,0.0,3.0,1.0,0,151.0,0.0,14,1.0,3.0,NaN
31117,petrija01,Jake,Petricka,Jacob Steven,2015,1,CHA,AL,4,3,...,4.0,2.0,1.0,0,220.0,18.0,21,3.0,1.0,NaN
19248,jennida01,Dan,Jennings,Daniel Lee,2015,1,CHA,AL,2,3,...,6.0,4.0,0.0,0,244.0,17.0,28,4.0,1.0,NaN
32268,putnaza01,Zach,Putnam,Steven Zachary McGuire,2015,1,CHA,AL,3,3,...,5.0,5.0,4.0,0,212.0,16.0,24,4.0,4.0,NaN
10631,dukeza01,Zach,Duke,Zachary Thomas,2015,1,CHA,AL,3,6,...,4.0,0.0,3.0,0,255.0,14.0,26,2.0,1.0,NaN
33798,roberda08,David,Robertson,David Alan,2015,1,CHA,AL,6,5,...,2.0,4.0,1.0,0,250.0,53.0,27,0.0,0.0,NaN
8911,danksjo01,John,Danks,John William,2015,1,CHA,AL,7,15,...,1.0,8.0,3.0,1,768.0,0.0,104,8.0,6.0,NaN
33806,rodonca01,Carlos,Rodon,Carlos Antonio,2015,1,CHA,AL,9,6,...,0.0,7.0,8.0,0,607.0,1.0,63,6.0,5.0,NaN
35147,samarje01,Jeff,Samardzija,Jeffrey Alan,2015,1,CHA,AL,11,13,...,0.0,5.0,12.0,0,910.0,0.0,122,4.0,9.0,NaN
32271,quintjo01,Jose,Quintana,Jose Guillermo,2015,1,CHA,AL,9,10,...,4.0,5.0,8.0,0,862.0,0.0,81,4.0,4.0,NaN
35146,salech01,Chris,Sale,Christopher,2015,1,CHA,AL,13,11,...,0.0,7.0,13.0,0,854.0,0.0,88,2.0,3.0,NaN

DET

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
43066,wilsojo03,Josh,Wilson,Joshua Aaron,2015,1,DET,AL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,1,0.0,0.0,NaN
28476,nathajo01,Joe,Nathan,Joseph Michael,2015,1,DET,AL,0,0,...,0.0,0.0,0.0,0,1.0,1.0,0,0.0,0.0,NaN
40498,valdejo03,Jose,Valdez,Jose Alfredo,2015,1,DET,AL,0,1,...,0.0,2.0,0.0,0,39.0,3.0,4,0.0,0.0,NaN
12173,ferreje01,Jeff,Ferrell,Jeffrey Alan,2015,1,DET,AL,0,0,...,0.0,0.0,0.0,0,50.0,2.0,8,0.0,1.0,NaN
21369,knudsgu01,Guido,Knudson,Guido Joel,2015,1,DET,AL,0,0,...,1.0,1.0,0.0,0,31.0,2.0,10,0.0,0.0,NaN
40810,verhadr01,Drew,VerHagen,Drew Edward,2015,1,DET,AL,2,0,...,2.0,1.0,1.0,0,106.0,2.0,6,1.0,0.0,NaN
28479,nesbian01,Angel,Nesbitt,Angel Ladimir,2015,1,DET,AL,1,1,...,2.0,3.0,4.0,0,98.0,6.0,14,2.0,1.0,NaN
6823,chambjo03,Joba,Chamberlain,Justin Louis,2015,1,DET,AL,0,2,...,0.0,1.0,1.0,0,101.0,10.0,15,1.0,0.0,NaN
11798,felizne01,Neftali,Feliz,Neftali,2015,2,DET,AL,2,2,...,3.0,2.0,1.0,0,121.0,12.0,24,1.0,1.0,NaN
11792,farmebu01,Buck,Farmer,George Runie,2015,1,DET,AL,0,4,...,2.0,1.0,3.0,0,186.0,0.0,35,1.0,1.0,NaN
21683,krolia01,Ian,Krol,Ian A.,2015,1,DET,AL,2,3,...,1.0,0.0,2.0,0,129.0,6.0,19,2.0,0.0,NaN
29108,norrida01,Daniel,Norris,Daniel David,2015,2,DET,AL,2,1,...,0.0,1.0,0.0,0,148.0,0.0,20,0.0,2.0,NaN
43393,wolfra02,Randy,Wolf,Randall Christopher,2015,1,DET,AL,0,5,...,1.0,3.0,1.0,0,161.0,0.0,28,0.0,1.0,NaN
34864,ryanky01,Kyle,Ryan,Kyle,2015,1,DET,AL,2,4,...,0.0,1.0,1.0,0,237.0,3.0,29,2.0,1.0,NaN
23274,lobstky01,Kyle,Lobstein,Kyle Eric,2015,1,DET,AL,3,8,...,1.0,2.0,0.0,1,280.0,2.0,43,0.0,1.0,NaN
34370,rondobr01,Bruce,Rondon,Bruce,2015,1,DET,AL,1,0,...,1.0,2.0,2.0,0,145.0,15.0,22,3.0,2.0,NaN
37624,soriajo01,Joakim,Soria,Joakim Agustin,2015,1,DET,AL,3,1,...,1.0,0.0,2.0,0,165.0,35.0,13,1.0,0.0,NaN
14506,gorzeto01,Tom,Gorzelanny,Thomas Stephen,2015,1,DET,AL,2,2,...,2.0,1.0,2.0,0,181.0,14.0,28,2.0,0.0,NaN
4070,boydma01,Matt,Boyd,Matthew Robert,2015,2,DET,AL,1,4,...,0.0,2.0,1.0,0,216.0,0.0,39,1.0,2.0,NaN
43064,wilsoal01,Alex,Wilson,William Alexander,2015,1,DET,AL,3,3,...,1.0,2.0,2.0,0,273.0,16.0,19,2.0,2.0,NaN
14773,greensh02,Shane,Greene,Shane,2015,1,DET,AL,4,8,...,4.0,1.0,6.0,0,373.0,1.0,67,2.0,4.0,NaN
16296,hardybl01,Blaine,Hardy,Blaine Patrick,2015,1,DET,AL,5,3,...,2.0,5.0,1.0,0,265.0,11.0,23,3.0,4.0,NaN
595,albural01,Al,Alburquerque,Alberto Jose,2015,1,DET,AL,4,1,...,3.0,5.0,1.0,4,271.0,12.0,29,1.0,2.0,NaN
40811,verlaju01,Justin,Verlander,Justin Brooks,2015,1,DET,AL,5,8,...,1.0,2.0,3.0,0,535.0,0.0,56,1.0,6.0,NaN
36780,simonal01,Alfredo,Simon,Alfredo,2015,1,DET,AL,13,12,...,1.0,14.0,8.0,0,820.0,0.0,112,9.0,6.0,NaN
31962,priceda01,David,Price,David Taylor,2015,1,DET,AL,9,4,...,2.0,3.0,3.0,0,592.0,0.0,50,4.0,5.0,NaN
35150,sanchan01,Anibal,Sanchez,Anibal Alejandro,2015,1,DET,AL,10,10,...,1.0,5.0,1.0,3,660.0,0.0,89,5.0,2.0,NaN

KCA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
24427,mariomi01,Michael,Mariot,Michael Ryan,2015,1,KCA,AL,0,0,...,0.0,0.0,0.0,0,12.0,1.0,1,0.0,0.0,NaN
7636,colemlo01,Louis,Coleman,Harold Louis,2015,1,KCA,AL,1,0,...,0.0,0.0,0.0,0,11.0,2.0,0,0.0,0.0,NaN
596,alexasc01,Scott,Alexander,Scott Alain,2015,1,KCA,AL,0,0,...,0.0,1.0,1.0,0,25.0,3.0,3,0.0,0.0,NaN
4677,brookaa01,Aaron,Brooks,Aaron Lee,2015,1,KCA,AL,0,0,...,0.0,0.0,0.0,0,18.0,2.0,3,0.0,0.0,NaN
6824,chambjo03,Joba,Chamberlain,Justin Louis,2015,2,KCA,AL,0,0,...,0.0,1.0,0.0,0,27.0,5.0,5,0.0,0.0,NaN
598,almonmi01,Miguel,Almonte,Miguel Emilio,2015,1,KCA,AL,0,2,...,0.0,0.0,1.0,0,41.0,3.0,6,0.0,0.0,NaN
31698,pinoyo01,Yohan,Pino,Yohan Jose,2015,1,KCA,AL,0,2,...,0.0,0.0,0.0,0,82.0,3.0,8,0.0,0.0,NaN
13122,frasoja01,Jason,Frasor,Jason Andrew,2015,1,KCA,AL,1,0,...,2.0,2.0,0.0,0,104.0,10.0,5,1.0,1.0,NaN
12178,finnebr01,Brandon,Finnegan,Brandon Kyle,2015,1,KCA,AL,3,0,...,0.0,0.0,1.0,0,99.0,3.0,8,1.0,1.0,NaN
40804,vargaja01,Jason,Vargas,Jason Matthew,2015,1,KCA,AL,5,2,...,0.0,0.0,1.0,0,183.0,0.0,20,0.0,0.0,NaN
26117,medlekr01,Kris,Medlen,Kristopher Allen,2015,1,KCA,AL,6,2,...,0.0,3.0,2.0,0,243.0,2.0,30,0.0,1.0,NaN
3488,blantjo01,Joe,Blanton,Joseph Matthew,2015,1,KCA,AL,2,2,...,1.0,0.0,0.0,0,172.0,6.0,19,1.0,2.0,NaN
27579,moralfr01,Franklin,Morales,Franklin Miguel,2015,1,KCA,AL,4,2,...,0.0,6.0,4.0,2,258.0,12.0,24,2.0,2.0,NaN
17741,hochelu01,Luke,Hochevar,Luke Anthony,2015,1,KCA,AL,1,1,...,0.0,3.0,1.0,0,214.0,16.0,23,0.0,1.0,NaN
18044,hollagr01,Greg,Holland,Gregory Scott,2015,1,KCA,AL,3,2,...,1.0,7.0,0.0,0,193.0,40.0,20,3.0,1.0,NaN
8652,cuetojo01,Johnny,Cueto,Johnny,2015,2,KCA,AL,4,7,...,0.0,0.0,2.0,0,350.0,0.0,45,1.0,1.0,NaN
24146,madsory01,Ryan,Madson,Ryan Michael,2015,1,KCA,AL,1,2,...,1.0,1.0,2.0,0,248.0,12.0,17,0.0,3.0,NaN
17228,herreke01,Kelvin,Herrera,Kelvin De Jesus,2015,1,KCA,AL,4,3,...,1.0,4.0,2.0,0,286.0,8.0,23,1.0,5.0,NaN
9187,daviswa01,Wade,Davis,Wade Allen,2015,1,KCA,AL,8,1,...,1.0,1.0,0.0,0,251.0,24.0,8,0.0,2.0,NaN
44037,youngch03,Chris,Young,Christopher Ryan,2015,1,KCA,AL,11,6,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
15596,guthrje01,Jeremy,Guthrie,Jeremy,2015,1,KCA,AL,8,8,...,1.0,4.0,9.0,0,664.0,4.0,101,5.0,6.0,NaN
10630,duffyda01,Danny,Duffy,Daniel Richard,2015,1,KCA,AL,7,8,...,0.0,11.0,9.0,0,588.0,1.0,64,3.0,5.0,NaN
41189,volqued01,Edinson,Volquez,Edinson,2015,1,KCA,AL,13,9,...,1.0,3.0,8.0,0,850.0,0.0,89,5.0,7.0,NaN
40809,ventuyo01,Yordano,Ventura,Yordano,2015,1,KCA,AL,13,8,...,1.0,10.0,9.0,0,693.0,0.0,75,1.0,4.0,NaN

NYN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
27583,morriak01,Akeel,Morris,Akeel J.,2015,1,NYN,NL,0,0,...,0.0,0.0,0.0,0,8.0,0.0,5,0.0,0.0,NaN
857,alvarda01,Dario,Alvarez,Dario Rafael,2015,1,NYN,NL,1,0,...,0.0,0.0,2.0,1,19.0,0.0,5,1.0,0.0,NaN
3491,blevije01,Jerry,Blevins,Jerry Richard,2015,1,NYN,NL,1,0,...,0.0,0.0,0.0,0,15.0,1.0,0,0.0,0.0,NaN
6275,carlybu01,Buddy,Carlyle,Earl L.,2015,1,NYN,NL,1,0,...,0.0,1.0,0.0,0,32.0,1.0,5,0.0,2.0,NaN
29445,oflaher01,Eric,O'Flaherty,Eric George,2015,2,NYN,NL,0,0,...,1.0,1.0,2.0,0,51.0,3.0,13,0.0,0.0,NaN
26341,mejiaje01,Jenrry,Mejia,Jenrry Manuel,2015,1,NYN,NL,1,0,...,1.0,0.0,0.0,0,27.0,1.0,0,1.0,0.0,NaN
37939,staufti01,Tim,Stauffer,Timothy James,2015,2,NYN,NL,0,0,...,0.0,0.0,1.0,0,27.0,2.0,5,0.0,0.0,NaN
30439,parnebo01,Bobby,Parnell,Robert Allen,2015,1,NYN,NL,2,4,...,1.0,4.0,0.0,0,112.0,8.0,20,1.0,1.0,NaN
27290,montera01,Rafael,Montero,Rafael,2015,1,NYN,NL,0,1,...,3.0,0.0,0.0,0,46.0,1.0,6,1.0,0.0,NaN
22289,leathja01,Jack,Leathersich,John Victor,2015,1,NYN,NL,0,1,...,0.0,0.0,1.0,0,52.0,6.0,3,0.0,0.0,NaN
32833,reedad01,Addison,Reed,Addison Devon,2015,2,NYN,NL,1,1,...,1.0,0.0,0.0,0,60.0,3.0,2,0.0,0.0,NaN
13887,geedi01,Dillon,Gee,Dillon Kyle,2015,1,NYN,NL,0,3,...,3.0,0.0,1.0,0,183.0,0.0,29,2.0,2.0,NaN
7370,clippty01,Tyler,Clippard,Tyler Lee,2015,2,NYN,NL,4,1,...,1.0,5.0,2.0,0,134.0,6.0,13,1.0,1.0,NaN
24977,matzst01,Steven,Matz,Steven Jakob,2015,1,NYN,NL,4,0,...,0.0,0.0,1.0,0,149.0,0.0,9,1.0,1.0,NaN
14266,goedder01,Erik,Goeddel,Erik Van Norman,2015,1,NYN,NL,1,1,...,2.0,2.0,2.0,0,132.0,9.0,9,0.0,3.0,NaN
39971,torreal01,Alex,Torres,Alexander Jesus,2015,1,NYN,NL,0,0,...,1.0,3.0,1.0,0,154.0,11.0,16,1.0,0.0,NaN
40813,verrelo01,Logan,Verrett,Scott Logan,2015,2,NYN,NL,1,1,...,3.0,0.0,2.0,0,148.0,3.0,13,2.0,1.0,NaN
39972,torreca01,Carlos,Torres,Carlos Ephriam,2015,1,NYN,NL,5,6,...,6.0,5.0,0.0,0,243.0,19.0,32,1.0,3.0,NaN
14064,gilmase01,Sean,Gilmartin,Sean Patrick,2015,1,NYN,NL,3,2,...,5.0,1.0,2.0,0,235.0,13.0,17,2.0,1.0,NaN
33803,robleha01,Hansel,Robles,Hansel Manuel,2015,1,NYN,NL,4,3,...,1.0,2.0,2.0,1,217.0,7.0,27,1.0,1.0,NaN
11791,familje01,Jeurys,Familia,Jeurys,2015,1,NYN,NL,2,2,...,1.0,4.0,2.0,0,308.0,65.0,16,1.0,1.0,NaN
28836,niesejo01,Jonathon,Niese,Jonathon Joseph,2015,1,NYN,NL,9,10,...,2.0,2.0,9.0,0,770.0,1.0,93,16.0,4.0,NaN
7639,colonba01,Bartolo,Colon,Bartolo,2015,1,NYN,NL,14,13,...,5.0,0.0,4.0,0,815.0,1.0,94,9.0,7.0,NaN
39100,syndeno01,Noah,Syndergaard,Noah Seth,2015,1,NYN,NL,9,7,...,2.0,6.0,3.0,0,603.0,0.0,60,5.0,3.0,NaN
16555,harvema01,Matt,Harvey,Matthew Edward,2015,1,NYN,NL,13,8,...,2.0,4.0,5.0,0,755.0,0.0,62,7.0,2.0,NaN
9437,degroja01,Jacob,deGrom,Jacob Anthony,2015,1,NYN,NL,14,8,...,2.0,6.0,2.0,0,751.0,0.0,59,10.0,7.0,NaN

MIA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
38810,suzukic01,Ichiro,Suzuki,Ichiro,2015,1,MIA,NL,0,0,...,0.0,0.0,0.0,0,5.0,1.0,1,0.0,0.0,NaN
32834,reedch01,Chris,Reed,Christopher William,2015,1,MIA,NL,0,0,...,0.0,0.0,0.0,0,18.0,1.0,2,1.0,0.0,NaN
25804,mcgousc01,Scott,McGough,Scott Thomas,2015,1,MIA,NL,0,0,...,0.0,0.0,0.0,0,35.0,3.0,7,0.0,0.0,NaN
22286,lazora01,Raudel,Lazo,Raudel,2015,1,MIA,NL,0,0,...,0.0,0.0,0.0,0,24.0,1.0,2,0.0,1.0,NaN
25227,mazzavi01,Vin,Mazzaro,Vincent Michael,2015,1,MIA,NL,0,0,...,1.0,0.0,0.0,0,55.0,5.0,6,0.0,2.0,NaN
24969,masseni01,Nick,Masset,Nicholas Allen,2015,1,MIA,NL,0,0,...,0.0,1.0,1.0,0,41.0,2.0,3,0.0,2.0,NaN
8205,cordier01,Erik,Cordier,Erik Michael,2015,1,MIA,NL,0,0,...,1.0,0.0,1.0,1,56.0,0.0,8,0.0,1.0,NaN
858,alvarhe01,Henderson,Alvarez,Henderson Javier,2015,1,MIA,NL,0,4,...,1.0,3.0,0.0,1,102.0,0.0,18,4.0,1.0,NaN
12395,floreke01,Kendry,Flores,Kendry,2015,1,MIA,NL,1,2,...,1.0,0.0,1.0,0,57.0,3.0,8,0.0,1.0,NaN
33561,rienzan01,Andre,Rienzo,Andre Albanez,2015,1,MIA,NL,0,1,...,1.0,3.0,1.0,0,89.0,5.0,14,1.0,0.0,NaN
11188,ellinbr02,Brian,Ellington,Brian Michael,2015,1,MIA,NL,2,1,...,2.0,1.0,2.0,0,105.0,9.0,10,0.0,2.0,NaN
28835,nicolju01,Justin,Nicolino,Justin Brian,2015,1,MIA,NL,5,4,...,2.0,2.0,3.0,0,301.0,0.0,33,5.0,3.0,NaN
40497,urenajo01,Jose,Urena,Jose Miguel,2015,1,MIA,NL,1,5,...,2.0,2.0,3.0,1,274.0,4.0,37,3.0,5.0,NaN
7044,cishest01,Steve,Cishek,Steven R.,2015,1,MIA,NL,2,6,...,3.0,0.0,0.0,0,144.0,15.0,19,1.0,2.0,NaN
1976,barraky01,Kyle,Barraclough,Kyle David,2015,1,MIA,NL,2,1,...,2.0,1.0,0.0,0,98.0,5.0,8,0.0,2.0,NaN
28475,narvech01,Chris,Narveson,Christopher Gregg,2015,1,MIA,NL,3,1,...,0.0,0.0,0.0,0,121.0,3.0,15,0.0,0.0,NaN
10882,dysonsa01,Sam,Dyson,Samuel Isaac,2015,1,MIA,NL,3,3,...,1.0,6.0,3.0,0,190.0,10.0,21,3.0,1.0,NaN
8208,cosarja01,Jarred,Cosart,Jarred Lynn,2015,1,MIA,NL,2,5,...,1.0,7.0,1.0,0,296.0,0.0,35,2.0,1.0,NaN
27584,morribr01,Bryan,Morris,Avery Bryan,2015,1,MIA,NL,5,4,...,0.0,2.0,3.0,0,277.0,18.0,26,4.0,0.0,NaN
5940,cappsca01,Carter,Capps,Carter Lewis,2015,1,MIA,NL,1,0,...,0.0,2.0,2.0,0,118.0,8.0,5,1.0,1.0,NaN
7640,conlead01,Adam,Conley,Adam Michael,2015,1,MIA,NL,4,1,...,1.0,0.0,3.0,0,281.0,1.0,28,1.0,4.0,NaN
10633,dunnmi01,Mike,Dunn,Michael Glen,2015,1,MIA,NL,2,5,...,1.0,2.0,2.0,0,235.0,9.0,27,0.0,1.0,NaN
15936,handbr01,Brad,Hand,Bradley Richard,2015,1,MIA,NL,4,7,...,1.0,2.0,3.0,0,408.0,7.0,55,5.0,2.0,NaN
31348,phelpda01,David,Phelps,David Edward,2015,1,MIA,NL,4,8,...,0.0,2.0,4.0,0,482.0,1.0,59,2.0,5.0,NaN
12172,fernajo02,Jose,Fernandez,Jose D.,2015,1,MIA,NL,6,1,...,0.0,2.0,2.0,0,265.0,0.0,21,0.0,4.0,NaN
22282,latosma01,Mat,Latos,Mathew Adam,2015,1,MIA,NL,4,7,...,0.0,9.0,1.0,0,372.0,0.0,46,4.0,3.0,NaN
32588,ramosaj01,A. J.,Ramos,Alejandro,2015,1,MIA,NL,2,4,...,0.0,2.0,3.0,0,277.0,51.0,18,1.0,2.0,NaN
16297,harenda01,Dan,Haren,Daniel John,2015,1,MIA,NL,7,7,...,1.0,2.0,7.0,0,524.0,0.0,50,6.0,4.0,NaN
21370,koehlto01,Tom,Koehler,Thomas R.,2015,1,MIA,NL,11,14,...,3.0,2.0,6.0,0,800.0,0.0,96,6.0,5.0,NaN

LAA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
33242,reyesjo03,Jo-Jo,Reyes,Joseph Albert,2015,1,LAA,AL,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0,0.0,0.0,NaN
42755,wilkad01,Adam,Wilk,Adam Robert,2015,1,LAA,AL,0,0,...,0.0,0.0,1.0,0,10.0,1.0,1,0.0,0.0,NaN
24973,matthry01,Ryan,Mattheus,Ryan Arthur,2015,1,LAA,AL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,0,0.0,0.0,NaN
18931,ibarred01,Edgar,Ibarra,Edgar Alexander,2015,1,LAA,AL,0,0,...,0.0,1.0,0.0,0,19.0,1.0,1,0.0,0.0,NaN
22284,latosma01,Mat,Latos,Mathew Adam,2015,3,LAA,AL,0,0,...,0.0,0.0,0.0,0,16.0,1.0,2,0.0,0.0,NaN
34859,rucindr01,Drew,Rucinski,Andrew James,2015,1,LAA,AL,0,2,...,0.0,2.0,1.0,0,35.0,2.0,6,0.0,0.0,NaN
43762,wrighwe01,Wesley,Wright,Dequam LaWesley,2015,2,LAA,AL,0,0,...,1.0,0.0,0.0,0,24.0,2.0,3,0.0,1.0,NaN
31115,pestavi01,Vinnie,Pestano,Vincent William,2015,1,LAA,AL,1,0,...,2.0,1.0,1.0,0,60.0,3.0,9,0.0,2.0,NaN
32591,rasmuco02,Cory,Rasmus,Cory Taylor,2015,1,LAA,AL,0,0,...,2.0,0.0,1.0,0,88.0,5.0,12,1.0,0.0,NaN
14507,gotttr01,Trevor,Gott,Trevor Vaughan,2015,1,LAA,AL,4,2,...,3.0,1.0,3.0,0,202.0,7.0,18,2.0,3.0,NaN
2613,bedroca01,Cam,Bedrosian,Cameron Rock,2015,1,LAA,AL,1,0,...,2.0,2.0,2.0,0,156.0,10.0,21,1.0,2.0,NaN
40226,tropeni01,Nick,Tropeano,Nicholas Paul,2015,1,LAA,AL,3,2,...,0.0,0.0,0.0,0,161.0,0.0,18,2.0,1.0,NaN
27582,morinmi01,Mike,Morin,Michael William,2015,1,LAA,AL,4,2,...,2.0,0.0,2.0,0,151.0,10.0,28,2.0,2.0,NaN
32589,ramosce01,Cesar,Ramos,Cesar,2015,1,LAA,AL,2,1,...,0.0,5.0,3.0,0,221.0,21.0,17,3.0,3.0,NaN
38521,streehu01,Huston,Street,Huston Lowell,2015,1,LAA,AL,3,3,...,5.0,6.0,0.0,0,255.0,51.0,22,2.0,3.0,NaN
37291,smithjo05,Joe,Smith,Joseph Michael,2015,1,LAA,AL,5,5,...,4.0,1.0,2.0,0,271.0,13.0,26,2.0,1.0,NaN
859,alvarjo02,Jose,Alvarez,Jose Ricardo,2015,1,LAA,AL,4,3,...,4.0,1.0,5.0,0,283.0,18.0,29,0.0,1.0,NaN
35144,salasfe01,Fernando,Salas,Noel Fernando,2015,1,LAA,AL,5,2,...,5.0,3.0,3.0,0,269.0,13.0,34,5.0,4.0,NaN
16811,heanean01,Andrew,Heaney,Andrew M.,2015,1,LAA,AL,6,4,...,1.0,4.0,6.0,0,438.0,0.0,41,1.0,3.0,NaN
41769,weaveje02,Jered,Weaver,Jered David,2015,1,LAA,AL,7,12,...,3.0,2.0,12.0,0,669.0,0.0,84,5.0,2.0,NaN
43065,wilsocj01,C. J.,Wilson,Christopher John,2015,1,LAA,AL,8,8,...,2.0,11.0,10.0,1,553.0,0.0,59,2.0,4.0,NaN
36548,shoemma01,Matt,Shoemaker,Matthew David,2015,1,LAA,AL,7,10,...,2.0,3.0,4.0,0,569.0,1.0,70,4.0,4.0,NaN
35404,santihe01,Hector,Santiago,Hector Felipe,2015,1,LAA,AL,9,9,...,5.0,1.0,10.0,3,776.0,0.0,80,4.0,4.0,NaN
33245,richaga01,Garrett,Richards,Garrett Thomas,2015,1,LAA,AL,15,12,...,2.0,17.0,5.0,0,865.0,0.0,94,6.0,10.0,NaN

SDN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
861,amarial01,Alexi,Amarista,Alexi Jose,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,1.0,1.0,0,0.0,0.0,NaN
5939,campole01,Leonel,Campos,Leonel Enrique,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,5.0,0.0,1,0.0,0.0,NaN
32830,rearich01,Chris,Rearick,Christopher Timothy,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,16.0,1.0,4,1.0,0.0,NaN
18936,jacksja01,Jay,Jackson,Randy,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,20.0,1.0,3,0.0,0.0,NaN
20379,kellyca01,Casey,Kelly,Casey Patrick,2015,1,SDN,NL,0,2,...,0.0,0.0,1.0,0,56.0,1.0,13,0.0,0.0,NaN
25228,mazzoco01,Cory,Mazzoni,Cory Mitchell,2015,1,SDN,NL,0,0,...,0.0,0.0,0.0,0,53.0,4.0,22,0.0,1.0,NaN
11464,erlinro01,Robbie,Erlin,Robert Joseph,2015,1,SDN,NL,1,2,...,0.0,1.0,1.0,0,65.0,0.0,9,0.0,0.0,NaN
10886,edwarjo02,Jon,Edwards,Jonathan Benjamin,2015,2,SDN,NL,0,0,...,0.0,1.0,0.0,0,44.0,5.0,4,0.0,1.0,NaN
34866,rzepcma01,Marc,Rzepczynski,Marc Walter,2015,2,SDN,NL,0,1,...,1.0,1.0,2.0,0,64.0,1.0,14,1.0,2.0,NaN
29106,norribu01,Bud,Norris,David Stefan,2015,2,SDN,NL,1,2,...,0.0,2.0,1.0,0,72.0,5.0,11,0.0,0.0,NaN
41186,vinceni01,Nick,Vincent,Nicholas James,2015,1,SDN,NL,0,1,...,1.0,0.0,0.0,0,100.0,8.0,8,0.0,1.0,NaN
27585,morrobr01,Brandon,Morrow,Brandon John,2015,1,SDN,NL,2,0,...,0.0,0.0,0.0,0,126.0,0.0,10,1.0,1.0,NaN
39408,thayeda01,Dale,Thayer,Dale Scott,2015,1,SDN,NL,2,2,...,4.0,2.0,0.0,0,158.0,5.0,17,1.0,1.0,NaN
32829,reaco01,Colin,Rea,Colin D.,2015,1,SDN,NL,2,2,...,0.0,0.0,1.0,0,133.0,0.0,16,1.0,2.0,NaN
13624,garcefr01,Frank,Garces,Frank Yeury,2015,1,SDN,NL,0,1,...,1.0,3.0,1.0,0,173.0,11.0,23,1.0,2.0,NaN
24972,mateoma01,Marcos,Mateo,Marcos Aurelio,2015,1,SDN,NL,1,1,...,1.0,1.0,3.0,0,113.0,6.0,16,1.0,1.0,NaN
24978,maurebr01,Brandon,Maurer,Brandon Eugene,2015,1,SDN,NL,7,4,...,1.0,1.0,1.0,0,206.0,10.0,19,1.0,2.0,NaN
32269,quackke01,Kevin,Quackenbush,Kevin Robert,2015,1,SDN,NL,3,2,...,3.0,0.0,1.0,1,243.0,19.0,28,1.0,4.0,NaN
2891,benoijo01,Joaquin,Benoit,Joaquin Antonio,2015,1,SDN,NL,6,5,...,1.0,2.0,2.0,0,254.0,11.0,17,2.0,1.0,NaN
20378,kellesh01,Shawn,Kelley,Shawn Andrew,2015,1,SDN,NL,2,2,...,4.0,0.0,0.0,0,205.0,14.0,18,0.0,4.0,NaN
9713,despaod01,Odrisamer,Despaigne,Odrisamer,2015,1,SDN,NL,5,9,...,3.0,7.0,9.0,0,547.0,5.0,82,8.0,3.0,NaN
20712,kimbrcr01,Craig,Kimbrel,Craig Michael,2015,1,SDN,NL,4,2,...,1.0,4.0,1.0,0,239.0,53.0,19,0.0,0.0,NaN
6508,cashnan01,Andrew,Cashner,Andrew Burton,2015,1,SDN,NL,6,16,...,2.0,3.0,6.0,0,804.0,0.0,111,8.0,6.0,NaN
20708,kenneia01,Ian,Kennedy,Ian Patrick,2015,1,SDN,NL,9,15,...,4.0,5.0,7.0,1,713.0,0.0,95,8.0,2.0,NaN
34381,rossty01,Tyson,Ross,Tyson William,2015,1,SDN,NL,10,12,...,3.0,14.0,8.0,0,823.0,0.0,78,3.0,3.0,NaN
36547,shielja02,James,Shields,James Anthony,2015,1,SDN,NL,13,7,...,5.0,7.0,9.0,1,860.0,0.0,93,6.0,1.0,NaN

LAN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
42099,westma03,Matt,West,Matthew Robert O'Neil,2015,1,LAN,NL,0,0,...,0.0,0.0,0.0,0,11.0,2.0,0,0.0,0.0,NaN
22635,leeza01,Zach,Lee,Zachary Stephen,2015,1,LAN,NL,0,1,...,0.0,0.0,0.0,0,24.0,0.0,7,0.0,0.0,NaN
38809,surkaer01,Eric,Surkamp,Eric Michael,2015,1,LAN,NL,0,0,...,0.0,0.0,2.0,0,16.0,0.0,4,0.0,0.0,NaN
18403,huffda01,David,Huff,David Gregory,2015,1,LAN,NL,0,0,...,0.0,0.0,1.0,0,30.0,1.0,6,1.0,0.0,NaN
42753,wielajo01,Joe,Wieland,Joseph Andrew,2015,1,LAN,NL,0,1,...,1.0,0.0,0.0,0,40.0,0.0,8,0.0,1.0,NaN
2269,beachbr01,Brandon,Beachy,Brandon Alan,2015,1,LAN,NL,0,1,...,2.0,0.0,0.0,0,39.0,0.0,7,1.0,0.0,NaN
40227,tsaoch01,Chin-hui,Tsao,Chin-hui,2015,1,LAN,NL,1,1,...,1.0,0.0,0.0,0,37.0,0.0,9,0.0,0.0,NaN
8212,couloda01,Daniel,Coulombe,Daniel Paul,2015,1,LAN,NL,0,0,...,0.0,1.0,0.0,0,40.0,3.0,7,0.0,0.0,NaN
1794,bakersc02,Scott,Baker,Timothy Scott,2015,1,LAN,NL,0,1,...,0.0,1.0,0.0,0,45.0,0.0,7,0.0,0.0,NaN
34144,rodrist02,Paco,Rodriguez,Steven Francis,2015,1,LAN,NL,0,0,...,0.0,0.0,0.0,0,42.0,4.0,3,0.0,1.0,NaN
32594,ravinjo01,Josh,Ravin,Joshua Joseph,2015,1,LAN,NL,2,1,...,0.0,1.0,1.0,0,47.0,4.0,7,0.0,0.0,NaN
35405,santose01,Sergio,Santos,Sergio Jose,2015,1,LAN,NL,0,0,...,1.0,4.0,0.0,0,61.0,6.0,7,0.0,1.0,NaN
19614,johnsji04,Jim,Johnson,James Robert,2015,2,LAN,NL,0,3,...,0.0,1.0,4.0,0,95.0,2.0,22,0.0,1.0,NaN
1509,avilalu01,Luis,Avilan,Luis Armando,2015,2,LAN,NL,0,1,...,0.0,1.0,1.0,0,66.0,2.0,9,1.0,1.0,NaN
22283,latosma01,Mat,Latos,Mathew Adam,2015,2,LAN,NL,0,3,...,1.0,1.0,0.0,1,106.0,1.0,19,2.0,2.0,NaN
39681,thomaia01,Ian,Thomas,Ian Drew,2015,2,LAN,NL,1,1,...,0.0,0.0,0.0,0,73.0,3.0,8,0.0,0.0,NaN
30722,peraljo01,Joel,Peralta,Joel,2015,1,LAN,NL,3,1,...,1.0,1.0,0.0,0,121.0,7.0,14,0.0,0.0,NaN
22970,liberad01,Adam,Liberatore,Adam Joseph,2015,1,LAN,NL,2,2,...,4.0,1.0,0.0,0,122.0,5.0,14,0.0,1.0,NaN
25230,mccarbr01,Brandon,McCarthy,Brandon Patrick,2015,1,LAN,NL,3,0,...,0.0,0.0,0.0,0,94.0,0.0,15,0.0,0.0,NaN
18400,howeljp01,J. P.,Howell,James Phillip,2015,1,LAN,NL,6,1,...,1.0,3.0,2.0,1,190.0,18.0,9,0.0,1.0,NaN
13125,friasca01,Carlos,Frias,Carlos David,2015,1,LAN,NL,5,5,...,1.0,3.0,3.0,0,333.0,1.0,38,4.0,4.0,NaN
16556,hatchch02,Chris,Hatcher,David Christopher,2015,1,LAN,NL,3,5,...,2.0,3.0,3.0,0,166.0,12.0,19,2.0,1.0,NaN
43395,woodal02,Alex,Wood,Robert Alexander,2015,2,LAN,NL,5,6,...,2.0,1.0,2.0,1,292.0,0.0,36,4.0,2.0,NaN
1513,baezpe01,Pedro,Baez,Pedro Alberys,2015,1,LAN,NL,4,2,...,1.0,1.0,1.0,1,208.0,8.0,22,3.0,3.0,NaN
28834,nicasju01,Juan,Nicasio,Juan Ramon,2015,1,LAN,NL,1,3,...,6.0,2.0,1.0,0,260.0,12.0,25,3.0,0.0,NaN
13630,garciyi01,Yimi,Garcia,Yimi,2015,1,LAN,NL,3,5,...,1.0,1.0,2.0,0,225.0,15.0,23,0.0,2.0,NaN
19244,janseke01,Kenley,Jansen,Kenley Geronimo,2015,1,LAN,NL,2,1,...,0.0,0.0,2.0,0,200.0,50.0,14,0.0,2.0,NaN
3493,bolsimi01,Mike,Bolsinger,Michael P.,2015,1,LAN,NL,6,6,...,3.0,6.0,1.0,1,466.0,0.0,49,3.0,2.0,NaN
862,anderbr04,Brett,Anderson,Brett Franklin,2015,1,LAN,NL,10,9,...,2.0,4.0,2.0,2,750.0,0.0,82,3.0,2.0,NaN
14776,greinza01,Zack,Greinke,Donald Zachary,2015,1,LAN,NL,19,3,...,1.0,7.0,5.0,0,843.0,0.0,43,6.0,2.0,NaN
20710,kershcl01,Clayton,Kershaw,Clayton Edward,2015,1,LAN,NL,16,7,...,1.0,9.0,5.0,3,890.0,0.0,62,4.0,0.0,NaN

ARI

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
22638,leonedo01,Dominic,Leone,Dominic Joseph,2015,2,ARI,NL,0,1,...,0.0,0.0,1.0,0,20.0,1.0,6,0.0,1.0,NaN
35708,schugaj01,A. J.,Schugel,Andrew Jeffrey,2015,1,ARI,NL,0,0,...,2.0,0.0,0.0,0,51.0,2.0,13,0.0,0.0,NaN
38230,stitema01,Matt,Stites,Matthew Steven,2015,1,ARI,NL,0,0,...,0.0,0.0,0.0,0,44.0,6.0,14,0.0,1.0,NaN
24685,marshev01,Evan,Marshall,Evan Patrick,2015,1,ARI,NL,0,2,...,1.0,1.0,0.0,0,61.0,4.0,9,0.0,0.0,NaN
32582,ramirjc01,J. C.,Ramirez,Juan Carlos,2015,1,ARI,NL,1,1,...,2.0,1.0,0.0,0,63.0,4.0,7,0.0,0.0,NaN
17521,hesslke01,Keith,Hessler,Keith,2015,1,ARI,NL,0,1,...,1.0,1.0,0.0,0,57.0,1.0,11,0.0,0.0,NaN
4073,brachsi01,Silvino,Bracho,Silvino,2015,1,ARI,NL,0,0,...,1.0,1.0,1.0,0,50.0,3.0,2,0.0,0.0,NaN
42098,webstal01,Allen,Webster,Carl Allen,2015,1,ARI,NL,1,1,...,1.0,1.0,2.0,0,142.0,1.0,28,1.0,1.0,NaN
33243,reynoma02,Matt,Reynolds,Matthew Paul,2015,1,ARI,NL,0,0,...,2.0,0.0,1.0,0,62.0,3.0,7,0.0,0.0,NaN
29110,nunovi01,Vidal,Nuno,Vidal Vicente,2015,1,ARI,NL,0,1,...,1.0,0.0,0.0,1,58.0,1.0,3,0.0,0.0,NaN
6516,chacijh01,Jhoulys,Chacin,Jhoulys Jose,2015,1,ARI,NL,2,1,...,0.0,0.0,0.0,0,111.0,0.0,11,1.0,0.0,NaN
4074,bradlar01,Archie,Bradley,Archie N.,2015,1,ARI,NL,2,3,...,1.0,0.0,2.0,0,161.0,0.0,23,1.0,1.0,NaN
17226,hernada01,David,Hernandez,David Jose,2015,1,ARI,NL,1,5,...,0.0,1.0,3.0,0,144.0,7.0,18,1.0,0.0,NaN
32832,reedad01,Addison,Reed,Addison Devon,2015,1,ARI,NL,2,2,...,5.0,2.0,0.0,0,181.0,11.0,19,1.0,0.0,NaN
14265,godleza01,Zack,Godley,Zachary Thomas,2015,1,ARI,NL,5,1,...,1.0,2.0,3.0,0,150.0,1.0,13,1.0,1.0,NaN
44135,zieglbr01,Brad,Ziegler,Brad Gregory,2015,1,ARI,NL,0,3,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
31111,perezol01,Oliver,Perez,Oliver,2015,1,ARI,NL,2,1,...,1.0,2.0,4.0,0,128.0,11.0,12,1.0,0.0,NaN
5339,burgoen02,Enrique,Burgos,Enrique,2015,1,ARI,NL,2,2,...,0.0,6.0,0.0,0,121.0,8.0,15,0.0,1.0,NaN
6822,chafian01,Andrew,Chafin,Andrew Gregory,2015,1,ARI,NL,5,1,...,6.0,2.0,1.0,0,306.0,6.0,23,3.0,2.0,NaN
7637,collmjo01,Josh,Collmenter,Joshua Michael,2015,1,ARI,NL,4,6,...,2.0,1.0,1.0,0,499.0,19.0,53,2.0,6.0,NaN
18401,hudsoda01,Daniel,Hudson,Daniel Claiborne,2015,1,ARI,NL,4,3,...,2.0,5.0,0.0,0,290.0,13.0,34,1.0,3.0,NaN
9441,delgara01,Randall,Delgado,Randall Enrique,2015,1,ARI,NL,8,4,...,2.0,7.0,1.0,0,308.0,13.0,28,2.0,2.0,NaN
7918,corbipa01,Patrick,Corbin,Patrick Alan,2015,1,ARI,NL,6,5,...,0.0,4.0,2.0,0,357.0,0.0,34,2.0,1.0,NaN
863,anderch01,Chase,Anderson,Robert Chase,2015,1,ARI,NL,6,6,...,2.0,3.0,7.0,0,640.0,0.0,75,3.0,9.0,NaN
32828,rayro02,Robbie,Ray,Robert Glenn,2015,1,ARI,NL,5,12,...,3.0,2.0,8.0,0,545.0,0.0,56,7.0,6.0,NaN
16812,hellije01,Jeremy,Hellickson,Jeremy Robert,2015,1,ARI,NL,9,12,...,3.0,5.0,6.0,0,636.0,0.0,79,8.0,6.0,NaN
9440,delarru01,Rubby,De La Rosa,Rubby Carlos,2015,1,ARI,NL,14,9,...,3.0,2.0,4.0,2,809.0,0.0,103,8.0,5.0,NaN

TBA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
1796,balfogr01,Grant,Balfour,Grant Robert,2015,1,TBA,AL,0,0,...,0.0,1.0,1.0,0,21.0,1.0,3,0.0,1.0,NaN
11189,elmorja01,Jake,Elmore,Jacob David,2015,1,TBA,AL,0,0,...,0.0,0.0,0.0,0,6.0,0.0,1,0.0,0.0,NaN
13121,frankni01,Nick,Franklin,Nicholas Edward,2015,1,TBA,AL,0,0,...,0.0,0.0,1.0,0,7.0,1.0,2,0.0,0.0,NaN
2618,belivje01,Jeff,Beliveau,Jeffrey Ryan,2015,1,TBA,AL,0,0,...,0.0,0.0,0.0,0,15.0,0.0,4,0.0,0.0,NaN
39404,teafoev01,Everett,Teaford,Everett James,2015,1,TBA,AL,0,0,...,1.0,0.0,1.0,0,24.0,2.0,1,0.0,0.0,NaN
10000,dominjo01,Jose,Dominguez,Jose Alfredo,2015,1,TBA,AL,1,0,...,0.0,0.0,0.0,0,19.0,2.0,0,1.0,0.0,NaN
15246,guilmpr01,Preston,Guilmet,Preston Blake,2015,1,TBA,AL,0,0,...,0.0,0.0,0.0,0,23.0,2.0,3,0.0,1.0,NaN
2617,belisro01,Ronald,Belisario,Ronald J.,2015,1,TBA,AL,0,0,...,1.0,3.0,0.0,0,36.0,3.0,7,0.0,0.0,NaN
33560,riefecj01,C. J.,Riefenhauser,Charles Joseph,2015,1,TBA,AL,1,0,...,0.0,0.0,0.0,0,62.0,4.0,10,1.0,1.0,NaN
2619,bellaan01,Andrew,Bellatti,Andrew James,2015,1,TBA,AL,3,1,...,0.0,0.0,1.0,0,95.0,6.0,7,2.0,1.0,NaN
13127,frierer01,Ernesto,Frieri,Ernesto,2015,1,TBA,AL,1,0,...,0.0,1.0,1.0,0,100.0,6.0,12,0.0,2.0,NaN
43763,yateski01,Kirby,Yates,Kirby Kali,2015,1,TBA,AL,1,0,...,0.0,0.0,1.0,0,92.0,10.0,18,0.0,0.0,NaN
34149,romeren01,Enny,Romero,Enny Manuel,2015,1,TBA,AL,0,2,...,0.0,2.0,0.0,0,140.0,7.0,18,1.0,1.0,NaN
19249,jepseke01,Kevin,Jepsen,Kevin Martin,2015,1,TBA,AL,2,5,...,1.0,2.0,0.0,0,176.0,6.0,15,1.0,5.0,NaN
6515,cedenxa01,Xavier,Cedeno,Xavier,2015,2,TBA,AL,4,1,...,2.0,4.0,1.0,0,174.0,9.0,11,0.0,0.0,NaN
14268,gomesbr01,Brandon,Gomes,Brandon Paul,2015,1,TBA,AL,2,6,...,2.0,4.0,3.0,1,245.0,13.0,28,3.0,2.0,NaN
27292,moorema02,Matt,Moore,Matthew Cody,2015,1,TBA,AL,3,4,...,1.0,6.0,4.0,0,278.0,0.0,40,0.0,3.0,NaN
25803,mcgeeja01,Jake,McGee,Jacob Daniel,2015,1,TBA,AL,1,2,...,1.0,1.0,1.0,0,147.0,6.0,11,0.0,1.0,NaN
865,andrima01,Matt,Andriese,Matthew Lee,2015,1,TBA,AL,3,5,...,1.0,2.0,2.0,2,282.0,8.0,32,1.0,3.0,NaN
13888,geltzst01,Steve,Geltz,Steven Andrew,2015,1,TBA,AL,2,6,...,3.0,4.0,2.0,0,269.0,12.0,31,2.0,0.0,NaN
4068,boxbebr01,Brad,Boxberger,Bradley George,2015,1,TBA,AL,4,10,...,5.0,5.0,2.0,1,271.0,53.0,29,2.0,1.0,NaN
37294,smylydr01,Drew,Smyly,Todd Andrew,2015,1,TBA,AL,5,2,...,0.0,2.0,1.0,0,275.0,0.0,24,1.0,1.0,NaN
7638,colomal01,Alex,Colome,Alexander Manuel,2015,1,TBA,AL,8,5,...,4.0,8.0,4.0,0,457.0,5.0,50,2.0,7.0,NaN
32581,ramirer02,Erasmo,Ramirez,Erasmo Jose,2015,1,TBA,AL,11,6,...,0.0,3.0,9.0,0,666.0,5.0,73,1.0,1.0,NaN
20149,karnsna01,Nate,Karns,Nathan Alan,2015,1,TBA,AL,7,5,...,1.0,15.0,5.0,0,621.0,0.0,62,3.0,4.0,NaN
29443,odorija01,Jake,Odorizzi,Jacob Todd,2015,1,TBA,AL,9,9,...,0.0,5.0,3.0,1,700.0,0.0,65,4.0,3.0,NaN
1178,archech01,Chris,Archer,Christopher Alan,2015,1,TBA,AL,12,13,...,0.0,13.0,3.0,0,868.0,0.0,85,2.0,2.0,NaN

PHI

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
34376,rosinse01,Seth,Rosin,Seth Daniel,2015,1,PHI,NL,0,0,...,0.0,1.0,1.0,0,14.0,1.0,5,0.0,1.0,NaN
12788,francje02,Jeff,Francoeur,Jeffrey Braden,2015,1,PHI,NL,0,0,...,0.0,0.0,1.0,0,11.0,1.0,2,0.0,1.0,NaN
33800,roberke02,Kenny,Roberts,Kenneth Elwin,2015,2,PHI,NL,1,0,...,0.0,0.0,0.0,0,22.0,1.0,5,1.0,1.0,NaN
29447,ogandne01,Nefi,Ogando,Nefi Ismael,2015,1,PHI,NL,0,0,...,0.0,0.0,0.0,0,21.0,1.0,5,0.0,0.0,NaN
1507,aumonph01,Phillippe,Aumont,Phillippe,2015,1,PHI,NL,0,1,...,0.0,1.0,0.0,0,23.0,0.0,6,0.0,0.0,NaN
19251,jimence01,Cesar,Jimenez,Cesar Enrique,2015,1,PHI,NL,0,0,...,0.0,0.0,0.0,0,10.0,2.0,0,0.0,0.0,NaN
28161,murraco01,Colton,Murray,Colton James,2015,1,PHI,NL,0,1,...,0.0,1.0,0.0,0,37.0,6.0,5,0.0,0.0,NaN
8207,correke01,Kevin,Correia,Kevin John,2015,1,PHI,NL,0,3,...,0.0,0.0,0.0,0,114.0,0.0,23,2.0,2.0,NaN
3185,billich01,Chad,Billingsley,Chad Ryan,2015,1,PHI,NL,2,3,...,0.0,2.0,1.0,0,165.0,0.0,26,2.0,1.0,NaN
1182,asheral01,Alec,Asher,Alec Edward,2015,1,PHI,NL,0,6,...,0.0,2.0,1.0,2,138.0,0.0,30,2.0,1.0,NaN
25805,mcgowdu01,Dustin,McGowan,Dustin Michael,2015,1,PHI,NL,1,2,...,1.0,1.0,0.0,0,118.0,3.0,21,0.0,0.0,NaN
17740,hinojda01,Dalier,Hinojosa,Dalier,2015,2,PHI,NL,2,0,...,1.0,1.0,0.0,0,93.0,4.0,3,0.0,0.0,NaN
23276,loewead01,Adam,Loewen,Adam A.,2015,1,PHI,NL,1,0,...,1.0,5.0,3.0,0,93.0,7.0,15,1.0,1.0,NaN
14275,gonzase01,Severino,Gonzalez,Severino Yunier,2015,1,PHI,NL,3,3,...,0.0,0.0,4.0,1,143.0,0.0,27,1.0,4.0,NaN
1177,araujel01,Elvis,Araujo,Elvis Alejandro,2015,1,PHI,NL,2,1,...,1.0,2.0,0.0,0,151.0,5.0,17,2.0,0.0,NaN
29755,osullse01,Sean,O'Sullivan,Sean Daniel,2015,1,PHI,NL,1,6,...,5.0,3.0,6.0,0,328.0,0.0,49,4.0,5.0,NaN
30093,papeljo01,Jonathan,Papelbon,Jonathan Robert,2015,1,PHI,NL,2,1,...,1.0,0.0,4.0,0,161.0,34.0,9,1.0,0.0,NaN
28478,nerishe01,Hector,Neris,Hector,2015,1,PHI,NL,2,2,...,0.0,3.0,4.0,0,170.0,8.0,19,1.0,0.0,NaN
4982,buchada01,David,Buchanan,David Andrew,2015,1,PHI,NL,2,9,...,1.0,2.0,3.0,0,351.0,0.0,60,4.0,0.0,NaN
11186,eickhje01,Jerad,Eickhoff,Jerad Joseph,2015,1,PHI,NL,3,3,...,0.0,1.0,0.0,0,203.0,0.0,16,0.0,1.0,NaN
9719,diekmja01,Jake,Diekman,Jacob Tanner,2015,1,PHI,NL,2,1,...,0.0,1.0,2.0,0,175.0,6.0,23,0.0,0.0,NaN
27581,morgaad01,Adam,Morgan,Adam Christopher,2015,1,PHI,NL,5,7,...,0.0,2.0,4.0,1,352.0,0.0,45,1.0,3.0,NaN
14270,gomezje01,Jeanmar,Gomez,Jeanmar Alejandro,2015,1,PHI,NL,2,3,...,4.0,3.0,2.0,0,319.0,21.0,28,1.0,4.0,NaN
13629,garcilu03,Luis,Garcia,Luis Amado,2015,1,PHI,NL,4,6,...,8.0,6.0,0.0,1,304.0,14.0,28,3.0,2.0,NaN
9436,defraju01,Justin,De Fratus,Justin Andrew,2015,1,PHI,NL,0,2,...,2.0,7.0,5.0,0,362.0,16.0,52,4.0,5.0,NaN
28838,nolaaa01,Aaron,Nola,Aaron Michael,2015,1,PHI,NL,6,2,...,1.0,0.0,2.0,0,318.0,0.0,31,1.0,1.0,NaN
42756,willije02,Jerome,Williams,Jerome Lee,2015,1,PHI,NL,4,12,...,3.0,4.0,5.0,0,553.0,3.0,83,2.0,4.0,NaN
14063,gileske01,Ken,Giles,Kenneth Robert,2015,1,PHI,NL,6,3,...,2.0,1.0,1.0,0,298.0,28.0,23,1.0,2.0,NaN
16295,haranaa01,Aaron,Harang,Aaron Michael,2015,1,PHI,NL,6,15,...,3.0,4.0,6.0,0,748.0,0.0,100,8.0,2.0,NaN
15933,hamelco01,Cole,Hamels,Colbert Michael,2015,1,PHI,NL,6,7,...,3.0,7.0,6.0,2,537.0,0.0,53,5.0,1.0,NaN

BOS

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
26344,mendero01,Roman,Mendez,Roman Junior,2015,2,BOS,AL,0,0,...,0.0,0.0,0.0,0,9.0,2.0,1,0.0,0.0,NaN
17739,hinojda01,Dalier,Hinojosa,Dalier,2015,1,BOS,AL,0,0,...,0.0,0.0,1.0,0,9.0,1.0,0,0.0,0.0,NaN
7915,cookry01,Ryan,Cook,Ryan William,2015,2,BOS,AL,0,0,...,0.0,1.0,0.0,0,31.0,1.0,14,0.0,0.0,NaN
19611,johnsbr02,Brian,Johnson,Christopher Brian,2015,1,BOS,AL,0,1,...,0.0,0.0,0.0,0,19.0,0.0,4,0.0,1.0,NaN
1180,arojo01,Jonathan,Aro,Jonathan Arturo,2015,1,BOS,AL,0,1,...,0.0,0.0,0.0,0,49.0,2.0,8,0.0,1.0,NaN
40805,varvaan01,Anthony,Varvaro,Anthony Michael,2015,1,BOS,AL,0,1,...,1.0,1.0,0.0,0,51.0,2.0,5,0.0,0.0,NaN
27922,mujiced01,Edward,Mujica,Edward Jose,2015,1,BOS,AL,1,1,...,0.0,0.0,1.0,2,56.0,4.0,7,1.0,0.0,NaN
32587,ramirno01,Noe,Ramirez,Noe,2015,1,BOS,AL,0,1,...,0.0,1.0,2.0,0,61.0,3.0,12,0.0,0.0,NaN
16813,hembrhe01,Heath,Hembree,Richard Heath,2015,1,BOS,AL,2,0,...,2.0,1.0,0.0,0,106.0,9.0,10,0.0,0.0,NaN
23839,machije01,Jean,Machi,Jean Manuel,2015,2,BOS,AL,1,0,...,0.0,2.0,0.0,0,98.0,9.0,14,0.0,1.0,NaN
17523,hillri01,Rich,Hill,Richard Joseph,2015,1,BOS,AL,2,1,...,0.0,0.0,2.0,0,106.0,0.0,5,0.0,0.0,NaN
1975,barnema01,Matt,Barnes,Matthew D.,2015,1,BOS,AL,3,4,...,0.0,4.0,2.0,0,199.0,7.0,28,2.0,0.0,NaN
22285,layneto01,Tommy,Layne,Thomas Kevin,2015,1,BOS,AL,2,1,...,2.0,1.0,2.0,0,207.0,9.0,22,2.0,1.0,NaN
4404,breslcr01,Craig,Breslow,Craig Andrew,2015,1,BOS,AL,0,4,...,5.0,2.0,2.0,0,280.0,18.0,33,3.0,5.0,NaN
40496,ueharko01,Koji,Uehara,Koji,2015,1,BOS,AL,2,4,...,1.0,4.0,0.0,0,160.0,38.0,14,1.0,1.0,NaN
24971,masteju01,Justin,Masterson,Justin Daniel,2015,1,BOS,AL,4,2,...,0.0,7.0,10.0,1,273.0,4.0,38,0.0,1.0,NaN
30092,owenshe02,Henry,Owens,Henry Cole,2015,1,BOS,AL,4,4,...,0.0,4.0,3.0,1,272.0,0.0,35,0.0,2.0,NaN
43760,wrighst01,Steven,Wright,Steven Richard,2015,1,BOS,AL,5,4,...,0.0,2.0,1.0,0,310.0,3.0,38,1.0,1.0,NaN
29446,ogandal01,Alexi,Ogando,Alexi,2015,1,BOS,AL,3,1,...,2.0,1.0,3.0,2,277.0,16.0,29,0.0,2.0,NaN
34380,rossro01,Robbie,Ross,Robert Charles,2015,1,BOS,AL,0,2,...,2.0,1.0,3.0,0,259.0,18.0,28,2.0,2.0,NaN
39403,tazawju01,Junichi,Tazawa,Junichi,2015,1,BOS,AL,2,7,...,1.0,9.0,1.0,1,247.0,13.0,28,0.0,1.0,NaN
34141,rodried05,Eduardo,Rodriguez,Eduardo Jose,2015,1,BOS,AL,10,6,...,1.0,4.0,4.0,1,522.0,0.0,55,5.0,4.0,NaN
4984,buchhcl01,Clay,Buchholz,Clay Daniel,2015,1,BOS,AL,7,7,...,0.0,3.0,5.0,0,469.0,0.0,48,1.0,2.0,NaN
20380,kellyjo05,Joe,Kelly,Joseph William,2015,1,BOS,AL,10,6,...,0.0,9.0,6.0,0,587.0,0.0,76,0.0,5.0,NaN
26600,mileywa01,Wade,Miley,Wade Allen,2015,1,BOS,AL,11,11,...,0.0,10.0,4.0,1,831.0,0.0,98,3.0,2.0,NaN
31700,porceri01,Rick,Porcello,Frederick Alfred,2015,1,BOS,AL,9,15,...,0.0,12.0,10.0,1,737.0,0.0,103,2.0,5.0,NaN

CHN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
9710,denorch01,Chris,Denorfia,Christopher Anthony,2015,1,CHN,NL,0,0,...,0.0,0.0,0.0,0,1.0,1.0,0,0.0,0.0,NaN
34378,rossda01,David,Ross,David Wade,2015,1,CHN,NL,0,0,...,0.0,0.0,0.0,0,6.0,2.0,0,0.0,0.0,NaN
33796,roachdo01,Donn,Roach,Donn Mitchell,2015,1,CHN,NL,0,1,...,0.0,0.0,0.0,0,18.0,0.0,4,0.0,0.0,NaN
10884,edwarca01,Carl,Edwards,Carl Fleming,2015,1,CHN,NL,0,0,...,0.0,0.0,0.0,0,19.0,3.0,3,0.0,0.0,NaN
35707,schlibr01,Brian,Schlitter,Brian Patrick,2015,1,CHN,NL,1,2,...,0.0,0.0,0.0,0,35.0,3.0,6,0.0,0.0,NaN
37626,soriara01,Rafael,Soriano,Rafael,2015,1,CHN,NL,2,0,...,0.0,0.0,0.0,0,25.0,3.0,4,0.0,0.0,NaN
26116,medinyo01,Yoervis,Medina,Yoervis Jose,2015,2,CHN,NL,0,0,...,0.0,0.0,0.0,0,43.0,2.0,7,0.0,0.0,NaN
2614,beeleda01,Dallas,Beeler,Dallas James,2015,1,CHN,NL,0,1,...,2.0,0.0,0.0,0,46.0,0.0,11,0.0,0.0,NaN
13889,germego01,Gonzalez,Germen,Gonzalez German,2015,1,CHN,NL,0,0,...,2.0,0.0,0.0,0,29.0,2.0,5,1.0,0.0,NaN
7371,cokeph01,Phil,Coke,Phillip Douglas,2015,1,CHN,NL,0,0,...,2.0,0.0,0.0,0,45.0,2.0,7,0.0,1.0,NaN
33805,rodnefe01,Fernando,Rodney,Fernando,2015,2,CHN,NL,2,0,...,0.0,1.0,3.0,0,50.0,4.0,4,0.0,0.0,NaN
32586,ramirne01,Neil,Ramirez,Neil Andrew,2015,1,CHN,NL,1,0,...,0.0,2.0,0.0,0,60.0,4.0,5,0.0,2.0,NaN
18685,hunteto02,Tommy,Hunter,Raymond Thomas,2015,2,CHN,NL,2,0,...,0.0,0.0,0.0,0,69.0,5.0,10,0.0,0.0,NaN
34862,russeja02,James,Russell,James Clayton,2015,1,CHN,NL,0,2,...,2.0,0.0,0.0,0,148.0,8.0,24,1.0,1.0,NaN
33244,richacl01,Clayton,Richard,Clayton Colby,2015,1,CHN,NL,4,2,...,1.0,4.0,1.0,0,181.0,0.0,18,0.0,0.0,NaN
5649,cahiltr01,Trevor,Cahill,Trevor John,2015,2,CHN,NL,1,0,...,0.0,1.0,1.0,0,63.0,0.0,4,1.0,0.0,NaN
18934,jacksed01,Edwin,Jackson,Edwin,2015,1,CHN,NL,2,1,...,1.0,3.0,1.0,1,134.0,11.0,14,1.0,2.0,NaN
34377,rosscza01,Zac,Rosscup,Zachary M.,2015,1,CHN,NL,2,1,...,0.0,1.0,0.0,0,118.0,6.0,13,2.0,0.0,NaN
41192,wadats01,Tsuyoshi,Wada,Tsuyoshi,2015,1,CHN,NL,1,1,...,1.0,1.0,1.0,0,136.0,0.0,14,1.0,1.0,NaN
27920,motteja01,Jason,Motte,Jason Louis,2015,1,CHN,NL,8,1,...,5.0,2.0,2.0,0,206.0,18.0,21,3.0,2.0,NaN
16298,harenda01,Dan,Haren,Daniel John,2015,2,CHN,NL,4,2,...,1.0,3.0,1.0,0,244.0,0.0,29,2.0,1.0,NaN
15241,grimmju01,Justin,Grimm,Justin Scott,2015,1,CHN,NL,3,5,...,1.0,8.0,1.0,0,204.0,11.0,18,0.0,3.0,NaN
34371,rondohe01,Hector,Rondon,Hector Luis,2015,1,CHN,NL,6,4,...,2.0,5.0,3.0,1,281.0,47.0,19,3.0,1.0,NaN
38524,stroppe01,Pedro,Strop,Pedro Angel,2015,1,CHN,NL,2,6,...,6.0,6.0,4.0,0,270.0,12.0,24,1.0,3.0,NaN
43756,woodtr01,Travis,Wood,Travis A.,2015,1,CHN,NL,5,4,...,5.0,2.0,1.0,0,419.0,12.0,48,1.0,2.0,NaN
16814,hendrky01,Kyle,Hendricks,Kyle Christian,2015,1,CHN,NL,8,7,...,1.0,3.0,8.0,1,739.0,0.0,82,6.0,0.0,NaN
15935,hammeja01,Jason,Hammel,Jason Aaron,2015,1,CHN,NL,10,7,...,4.0,10.0,6.0,0,710.0,0.0,79,4.0,6.0,NaN
22968,lestejo01,Jon,Lester,Jonathan Tyler,2015,1,CHN,NL,11,12,...,0.0,8.0,7.0,0,828.0,0.0,83,5.0,4.0,NaN
1181,arrieja01,Jake,Arrieta,Jacob Joseph,2015,1,CHN,NL,22,6,...,2.0,6.0,6.0,0,870.0,0.0,52,4.0,1.0,NaN

COL

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
34372,rondojo01,Jorge,Rondon,Jorge Leonardo,2015,1,COL,NL,0,0,...,0.0,0.0,0.0,0,15.0,1.0,11,0.0,0.0,NaN
21685,laffeaa01,Aaron,Laffey,Aaron Steven,2015,1,COL,NL,1,0,...,1.0,0.0,1.0,0,33.0,0.0,3,2.0,0.0,NaN
33799,roberke02,Kenny,Roberts,Kenneth Elwin,2015,1,COL,NL,0,1,...,0.0,0.0,1.0,0,43.0,3.0,6,0.0,1.0,NaN
4679,brothre01,Rex,Brothers,Rex Coleman,2015,1,COL,NL,1,0,...,0.0,1.0,0.0,0,46.0,1.0,2,0.0,1.0,NaN
6511,castrmi01,Miguel,Castro,Miguel Angel,2015,2,COL,NL,0,1,...,0.0,0.0,0.0,0,26.0,3.0,6,0.0,0.0,NaN
15595,gurkaja01,Jason,Gurka,Jason Isidore,2015,1,COL,NL,0,0,...,0.0,0.0,0.0,0,39.0,4.0,8,0.0,0.0,NaN
6512,castrsi01,Simon,Castro,Simon,2015,1,COL,NL,2,0,...,0.0,0.0,1.0,0,47.0,2.0,7,2.0,0.0,NaN
29758,ottavad01,Adam,Ottavino,Adam Robert,2015,1,COL,NL,1,0,...,0.0,0.0,1.0,0,35.0,5.0,0,0.0,0.0,NaN
24976,matzety01,Tyler,Matzek,Tyler Alexander,2015,1,COL,NL,2,1,...,0.0,2.0,3.0,0,102.0,0.0,10,1.0,1.0,NaN
9716,diazja01,Jairo,Diaz,Jairo Jose,2015,1,COL,NL,0,1,...,0.0,0.0,0.0,0,78.0,5.0,6,0.0,0.0,NaN
16558,hawkila01,LaTroy,Hawkins,LaTroy,2015,1,COL,NL,2,1,...,1.0,1.0,0.0,0,89.0,11.0,9,0.0,0.0,NaN
4680,brownbr02,Brooks,Brown,Brooks Steven,2015,1,COL,NL,1,3,...,0.0,2.0,1.0,0,147.0,7.0,18,4.0,0.0,NaN
13890,germego01,Gonzalez,Germen,Gonzalez German,2015,2,COL,NL,0,0,...,1.0,3.0,0.0,0,147.0,3.0,14,0.0,0.0,NaN
23835,lylesjo01,Jordan,Lyles,Jordan Horton,2015,1,COL,NL,2,5,...,1.0,2.0,3.0,0,212.0,0.0,32,3.0,1.0,NaN
2892,bergmch01,Christian,Bergman,Christian Stanford,2015,1,COL,NL,3,1,...,1.0,4.0,0.0,0,286.0,6.0,36,2.0,1.0,NaN
26602,milleju02,Justin,Miller,Justin Ryan,2015,1,COL,NL,3,3,...,0.0,2.0,0.0,0,129.0,9.0,15,0.0,0.0,NaN
20148,kahnlto01,Tommy,Kahnle,Thomas R.,2015,1,COL,NL,0,1,...,1.0,3.0,0.0,0,155.0,8.0,22,1.0,2.0,NaN
14770,grayjo02,Jon,Gray,Jonathan Charles,2015,1,COL,NL,0,2,...,2.0,3.0,2.0,0,185.0,0.0,26,2.0,4.0,NaN
2894,betanra01,Rafael,Betancourt,Rafael Jose,2015,1,COL,NL,2,4,...,4.0,0.0,0.0,0,175.0,9.0,29,0.0,2.0,NaN
12394,flandyo01,Yohan,Flande,Yohan Carlos,2015,1,COL,NL,3,3,...,3.0,1.0,1.0,1,296.0,2.0,36,5.0,1.0,NaN
29112,obergsc01,Scott,Oberg,Scott Michael,2015,1,COL,NL,3,4,...,2.0,6.0,6.0,1,259.0,11.0,35,3.0,1.0,NaN
5646,butleed01,Eddie,Butler,Timothy Edward,2015,1,COL,NL,3,10,...,4.0,0.0,4.0,0,370.0,0.0,57,6.0,1.0,NaN
23277,loganbo02,Boone,Logan,Boone,2015,1,COL,NL,0,3,...,1.0,3.0,5.0,0,168.0,12.0,17,1.0,2.0,NaN
13126,friedch01,Christian,Friedrich,Christian Louis Patrick,2015,1,COL,NL,0,4,...,2.0,3.0,1.0,0,270.0,13.0,37,4.0,6.0,NaN
15599,haleda02,David,Hale,David E.,2015,1,COL,NL,5,5,...,2.0,11.0,2.0,0,346.0,0.0,56,3.0,2.0,NaN
1511,axforjo01,John,Axford,John Berton,2015,1,COL,NL,4,5,...,4.0,1.0,0.0,0,250.0,43.0,27,0.0,2.0,NaN
20382,kendrky01,Kyle,Kendrick,Kyle Rodney,2015,1,COL,NL,7,13,...,2.0,4.0,7.0,0,629.0,0.0,102,5.0,2.0,NaN
34861,rusinch01,Chris,Rusin,Christopher Patrick,2015,1,COL,NL,6,10,...,5.0,2.0,3.0,2,594.0,0.0,88,2.0,0.0,NaN
2895,bettich01,Chad,Bettis,Chad Robert,2015,1,COL,NL,8,6,...,2.0,6.0,3.0,0,502.0,0.0,56,7.0,2.0,NaN
9439,delarjo01,Jorge,De La Rosa,Jorge Alberto,2015,1,COL,NL,9,7,...,3.0,6.0,3.0,2,635.0,0.0,73,4.0,8.0,NaN

NYA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
34863,ryanbr01,Brendan,Ryan,Brendan Wood,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,8.0,1.0,0,0.0,0.0,NaN
19870,jonesga02,Garrett,Jones,Garrett Thomas,2015,1,NYA,AL,0,0,...,0.0,0.0,1.0,0,4.0,1.0,0,0.0,0.0,NaN
40224,tracyma01,Matt,Tracy,Matthew J.,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,11.0,1.0,3,0.0,0.0,NaN
4987,burawda01,Danny,Burawa,Daniel James,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,6.0,0.0,4,0.0,0.0,NaN
32584,ramirjo02,Jose,Ramirez,Jose Altagracia,2015,1,NYA,AL,0,0,...,0.0,3.0,1.0,0,20.0,1.0,5,0.0,0.0,NaN
9184,davieky01,Kyle,Davies,Hiram Kyle,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,10.0,1.0,0,0.0,0.0,NaN
9711,depaujo02,Jose,De Paula,Jose Alberto,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,15.0,1.0,1,0.0,0.0,NaN
30717,pazosja01,James,Pazos,James Manuel,2015,1,NYA,AL,0,0,...,0.0,1.0,0.0,0,21.0,1.0,0,1.0,0.0,NaN
14505,goodyni01,Nick,Goody,Nicholas Gunnar,2015,1,NYA,AL,0,0,...,0.0,0.0,1.0,0,26.0,5.0,3,0.0,0.0,NaN
35406,santose01,Sergio,Santos,Sergio Jose,2015,2,NYA,AL,0,0,...,0.0,0.0,0.0,0,12.0,2.0,2,0.0,0.0,NaN
1514,bailean01,Andrew,Bailey,Andrew Scott,2015,1,NYA,AL,0,1,...,1.0,0.0,0.0,0,41.0,3.0,8,0.0,2.0,NaN
27580,morendi01,Diego,Moreno,Diego Rafael,2015,1,NYA,AL,1,0,...,0.0,1.0,2.0,0,45.0,1.0,6,0.0,0.0,NaN
22972,lindgja01,Jacob,Lindgren,Jacob Stephen,2015,1,NYA,AL,0,0,...,0.0,0.0,0.0,0,29.0,2.0,4,0.0,1.0,NaN
8209,cothaca01,Caleb,Cotham,Caleb Kent,2015,1,NYA,AL,1,0,...,0.0,0.0,0.0,0,45.0,4.0,7,1.0,0.0,NaN
6277,carpeda01,David,Carpenter,Darrell David,2015,1,NYA,AL,0,1,...,1.0,0.0,1.0,0,82.0,2.0,11,3.0,1.0,NaN
34860,rumbeni01,Nick,Rumbelow,Nicholas Bruno,2015,1,NYA,AL,1,1,...,1.0,2.0,0.0,1,68.0,6.0,8,0.0,0.0,NaN
42437,whitlch01,Chase,Whitley,Chase Coleman,2015,1,NYA,AL,1,2,...,0.0,2.0,2.0,0,84.0,0.0,9,0.0,0.0,NaN
24687,martich02,Chris,Martin,Christopher Riley,2015,1,NYA,AL,0,2,...,1.0,3.0,1.0,0,99.0,8.0,13,0.0,0.0,NaN
31696,pindebr01,Branden,Pinder,Branden Henry,2015,1,NYA,AL,0,2,...,1.0,0.0,0.0,1,122.0,10.0,9,0.0,1.0,NaN
27004,mitchbr01,Bryan,Mitchell,Bryan Bedford,2015,1,NYA,AL,0,2,...,1.0,6.0,2.0,0,143.0,8.0,24,0.0,0.0,NaN
34147,rogeres01,Esmil,Rogers,Esmil Antonio,2015,1,NYA,AL,1,1,...,0.0,6.0,2.0,0,153.0,3.0,29,0.0,3.0,NaN
5941,capuach01,Chris,Capuano,Christopher Frank,2015,1,NYA,AL,0,4,...,1.0,0.0,3.0,0,196.0,7.0,38,2.0,1.0,NaN
36263,severlu01,Luis,Severino,Luis,2015,1,NYA,AL,5,3,...,0.0,2.0,2.0,1,255.0,0.0,21,0.0,0.0,NaN
29109,novaiv01,Ivan,Nova,Ivan Manuel,2015,1,NYA,AL,6,11,...,0.0,5.0,7.0,0,413.0,0.0,54,3.0,2.0,NaN
36549,shrevch01,Chasen,Shreve,Chasen Dean,2015,1,NYA,AL,6,2,...,2.0,4.0,1.0,0,251.0,13.0,21,2.0,0.0,NaN
43067,wilsoju10,Justin,Wilson,Justin James,2015,1,NYA,AL,5,0,...,0.0,4.0,2.0,0,244.0,3.0,21,2.0,0.0,NaN
26601,millean01,Andrew,Miller,Andrew Mark,2015,1,NYA,AL,3,2,...,1.0,2.0,5.0,0,246.0,53.0,16,1.0,2.0,NaN
41767,warread01,Adam,Warren,Adam Parrish,2015,1,NYA,AL,7,7,...,1.0,7.0,7.0,0,534.0,5.0,51,2.0,2.0,NaN
11463,eovalna01,Nathan,Eovaldi,Nathan Edward,2015,1,NYA,AL,14,3,...,0.0,8.0,3.0,0,673.0,0.0,72,3.0,3.0,NaN
2893,betande01,Dellin,Betances,Dellin,2015,1,NYA,AL,6,4,...,2.0,9.0,3.0,0,332.0,17.0,17,1.0,1.0,NaN
34867,sabatcc01,CC,Sabathia,Carsten Charles,2015,1,NYA,AL,6,10,...,3.0,5.0,6.0,1,726.0,0.0,92,5.0,6.0,NaN
39101,tanakma01,Masahiro,Tanaka,Masahiro,2015,1,NYA,AL,12,7,...,0.0,4.0,1.0,0,609.0,0.0,66,1.0,8.0,NaN
31697,pinedmi01,Michael,Pineda,Michael Francisco,2015,1,NYA,AL,12,10,...,0.0,4.0,3.0,0,668.0,0.0,83,4.0,6.0,NaN

WAS

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
27578,moorety01,Tyler,Moore,Tyler Michael,2015,1,WAS,NL,0,0,...,0.0,0.0,1.0,0,3.0,1.0,0,0.0,0.0,NaN
33801,robincl01,Clint,Robinson,Clinton Michael,2015,1,WAS,NL,0,0,...,0.0,0.0,0.0,0,4.0,1.0,0,0.0,0.0,NaN
9442,delosab01,Abel,De Los Santos,Abel,2015,1,WAS,NL,0,0,...,0.0,0.0,0.0,0,8.0,2.0,1,0.0,0.0,NaN
37937,stammcr01,Craig,Stammen,Craig N.,2015,1,WAS,NL,0,0,...,1.0,0.0,0.0,0,17.0,0.0,0,0.0,1.0,NaN
6278,carpeda01,David,Carpenter,Darrell David,2015,2,WAS,NL,0,0,...,0.0,1.0,0.0,0,25.0,3.0,1,0.0,0.0,NaN
6514,cedenxa01,Xavier,Cedeno,Xavier,2015,1,WAS,NL,0,0,...,0.0,2.0,1.0,0,15.0,1.0,2,0.0,0.0,NaN
7634,coleaj01,A. J.,Cole,Andrew Jordan,2015,1,WAS,NL,0,0,...,1.0,1.0,0.0,0,44.0,1.0,11,1.0,1.0,NaN
17738,hillta01,Taylor,Hill,David Taylor,2015,1,WAS,NL,0,0,...,0.0,0.0,1.0,0,51.0,4.0,5,0.0,0.0,NaN
19872,jordata01,Taylor,Jordan,Taylor J.,2015,1,WAS,NL,0,2,...,0.0,1.0,0.0,0,77.0,0.0,10,1.0,1.0,NaN
14508,gracema02,Matt,Grace,Matthew Aaron,2015,1,WAS,NL,2,1,...,2.0,1.0,1.0,0,84.0,5.0,11,0.0,2.0,NaN
30094,papeljo01,Jonathan,Papelbon,Jonathan Robert,2015,2,WAS,NL,2,2,...,1.0,0.0,3.0,1,99.0,17.0,13,1.0,2.0,NaN
37623,solissa01,Sammy,Solis,Samuel Robert,2015,1,WAS,NL,1,1,...,2.0,0.0,1.0,0,94.0,6.0,11,1.0,2.0,NaN
39683,thornma01,Matt,Thornton,Matthew J.,2015,1,WAS,NL,2,1,...,3.0,1.0,1.0,0,171.0,12.0,12,2.0,1.0,NaN
24691,martira04,Rafael,Martin,Rafael,2015,1,WAS,NL,2,0,...,0.0,0.0,1.0,0,56.0,5.0,9,0.0,1.0,NaN
19245,janssca01,Casey,Janssen,Robert Casey,2015,1,WAS,NL,2,5,...,3.0,1.0,1.0,0,166.0,12.0,22,3.0,1.0,NaN
1977,barreaa01,Aaron,Barrett,Aaron James,2015,1,WAS,NL,3,3,...,0.0,1.0,3.0,0,123.0,8.0,15,0.0,0.0,NaN
33562,riverfe01,Felipe,Rivero,Felipe Javier,2015,1,WAS,NL,2,1,...,2.0,2.0,1.0,1,189.0,17.0,15,0.0,1.0,NaN
12393,fistedo01,Doug,Fister,Douglas Wildes,2015,1,WAS,NL,5,7,...,3.0,1.0,6.0,0,449.0,2.0,56,7.0,5.0,NaN
40225,treinbl01,Blake,Treinen,Blake M.,2015,1,WAS,NL,2,5,...,6.0,4.0,2.0,0,280.0,17.0,32,1.0,1.0,NaN
38518,storedr01,Drew,Storen,Drew Patrick,2015,1,WAS,NL,2,2,...,2.0,2.0,5.0,0,228.0,35.0,23,1.0,1.0,NaN
34379,rossjo01,Joe,Ross,Joseph Andrew,2015,1,WAS,NL,5,5,...,0.0,1.0,2.0,0,314.0,1.0,33,3.0,1.0,NaN
33797,roarkta01,Tanner,Roark,Tanner B.,2015,1,WAS,NL,4,7,...,3.0,0.0,5.0,0,467.0,8.0,55,4.0,4.0,NaN
38520,strasst01,Stephen,Strasburg,Stephen James,2015,1,WAS,NL,11,7,...,0.0,4.0,3.0,0,523.0,0.0,56,5.0,1.0,NaN
44136,zimmejo02,Jordan,Zimmermann,Jordan M.,2015,1,WAS,NL,13,10,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
14272,gonzagi01,Gio,Gonzalez,Giovany Aramis,2015,1,WAS,NL,11,8,...,3.0,4.0,4.0,0,758.0,0.0,79,3.0,9.0,NaN
35706,scherma01,Max,Scherzer,Maxwell M.,2015,1,WAS,NL,14,12,...,2.0,10.0,5.0,1,899.0,0.0,74,11.0,2.0,NaN

MIL

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
18398,housead01,Adrian,Houser,Adrian D.,2015,1,MIL,NL,0,0,...,0.0,0.0,0.0,0,8.0,2.0,0,0.0,0.0,NaN
15247,guilmpr01,Preston,Guilmet,Preston Blake,2015,2,MIL,NL,0,0,...,0.0,0.0,0.0,0,12.0,1.0,6,0.0,1.0,NaN
41193,wagnety01,Tyler,Wagner,Tyler Joseph,2015,1,MIL,NL,0,2,...,0.0,1.0,0.0,0,67.0,0.0,11,2.0,1.0,NaN
43757,wootero01,Rob,Wooten,Robert Davis,2015,1,MIL,NL,0,0,...,0.0,1.0,1.0,0,30.0,0.0,8,1.0,0.0,NaN
21057,kintzbr01,Brandon,Kintzler,Brandon Lee,2015,1,MIL,NL,0,1,...,0.0,1.0,0.0,0,36.0,4.0,6,0.0,0.0,NaN
1978,barriyh01,Yhonathan,Barrios,Yhonathan,2015,1,MIL,NL,0,0,...,0.0,0.0,0.0,0,22.0,2.0,0,0.0,0.0,NaN
23589,lopezjo02,Jorge,Lopez,Jorge Y.,2015,1,MIL,NL,1,1,...,0.0,1.0,1.0,0,46.0,0.0,6,0.0,0.0,NaN
19252,jimence01,Cesar,Jimenez,Cesar Enrique,2015,2,MIL,NL,0,0,...,0.0,0.0,0.0,0,81.0,2.0,8,0.0,0.0,NaN
14267,goforda01,David,Goforth,David Paul,2015,1,MIL,NL,1,0,...,2.0,2.0,0.0,0,111.0,9.0,13,2.0,2.0,NaN
9185,davieza01,Zach,Davies,Zachary Ryan,2015,1,MIL,NL,3,2,...,0.0,0.0,0.0,0,139.0,0.0,14,1.0,0.0,NaN
30721,penaar01,Ariel,Pena,Ariel,2015,1,MIL,NL,2,1,...,2.0,2.0,2.0,0,120.0,0.0,14,2.0,1.0,NaN
39684,thornty01,Tyler,Thornburg,Tyler Michael,2015,1,MIL,NL,0,2,...,1.0,3.0,3.0,1,151.0,9.0,22,0.0,2.0,NaN
8394,cravyty01,Tyler,Cravy,Tyler Jay,2015,1,MIL,NL,0,8,...,1.0,0.0,2.0,0,193.0,1.0,30,2.0,0.0,NaN
4980,broxtjo01,Jonathan,Broxton,Jonathan Roy,2015,1,MIL,NL,1,2,...,1.0,0.0,0.0,0,156.0,10.0,24,2.0,1.0,NaN
3490,blazemi01,Michael,Blazek,Michael Robert,2015,1,MIL,NL,5,3,...,1.0,3.0,1.0,0,222.0,17.0,17,1.0,2.0,NaN
8210,cottsne01,Neal,Cotts,Neal James,2015,1,MIL,NL,1,0,...,2.0,2.0,3.0,0,209.0,9.0,18,3.0,1.0,NaN
21060,knebeco01,Corey,Knebel,Corey Andrew,2015,1,MIL,NL,0,0,...,1.0,1.0,2.0,0,209.0,15.0,18,0.0,0.0,NaN
30723,peralwi01,Wily,Peralta,Wily,2015,1,MIL,NL,5,10,...,2.0,5.0,4.0,1,478.0,0.0,60,4.0,3.0,NaN
34143,rodrifr03,Francisco,Rodriguez,Francisco Jose,2015,1,MIL,NL,1,3,...,1.0,3.0,0.0,0,216.0,55.0,15,1.0,2.0,NaN
19246,jeffrje01,Jeremy,Jeffress,Jeremy Ross,2015,1,MIL,NL,5,0,...,5.0,4.0,3.0,2,285.0,8.0,22,3.0,0.0,NaN
37293,smithwi04,Will,Smith,William Michael,2015,1,MIL,NL,7,2,...,1.0,5.0,1.0,0,264.0,11.0,23,1.0,2.0,NaN
13631,garzama01,Matt,Garza,Matthew Scott,2015,1,MIL,NL,6,14,...,3.0,7.0,2.0,0,666.0,1.0,102,7.0,2.0,NaN
20147,jungmta01,Taylor,Jungmann,Taylor Heath,2015,1,MIL,NL,9,8,...,1.0,8.0,8.0,0,501.0,0.0,55,2.0,5.0,NaN
23278,lohseky01,Kyle,Lohse,Kyle Matthew,2015,1,MIL,NL,5,13,...,3.0,5.0,4.0,0,665.0,5.0,99,7.0,4.0,NaN
12176,fiersmi01,Mike,Fiers,Michael Bruce,2015,1,MIL,NL,5,9,...,5.0,6.0,5.0,0,509.0,0.0,57,3.0,6.0,NaN
28477,nelsoji02,Jimmy,Nelson,James Jacob,2015,1,MIL,NL,11,13,...,4.0,11.0,13.0,1,752.0,0.0,89,4.0,7.0,NaN

TEX

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
34374,rosalad01,Adam,Rosales,Adam Marcos,2015,1,TEX,AL,0,0,...,0.0,0.0,0.0,0,10.0,2.0,3,0.0,0.0,NaN
13319,fujikky01,Kyuji,Fujikawa,Kyuji,2015,1,TEX,AL,0,0,...,0.0,0.0,1.0,0,8.0,0.0,3,0.0,0.0,NaN
40812,verrelo01,Logan,Verrett,Scott Logan,2015,1,TEX,AL,0,1,...,1.0,1.0,0.0,0,42.0,1.0,7,0.0,2.0,NaN
16299,harrima01,Matt,Harrison,Matthew Reid,2015,1,TEX,AL,1,2,...,0.0,0.0,0.0,1,69.0,0.0,12,0.0,1.0,NaN
10885,edwarjo02,Jon,Edwards,Jonathan Benjamin,2015,1,TEX,AL,0,0,...,0.0,1.0,0.0,0,31.0,2.0,4,0.0,1.0,NaN
18937,jackslu01,Luke,Jackson,Luke Ray,2015,1,TEX,AL,0,0,...,0.0,1.0,0.0,0,27.0,4.0,3,0.0,0.0,NaN
31349,pimenst01,Stolmy,Pimentel,Stolmy Ramon,2015,1,TEX,AL,0,1,...,0.0,1.0,0.0,0,46.0,5.0,5,1.0,1.0,NaN
26343,mendero01,Roman,Mendez,Roman Junior,2015,1,TEX,AL,0,1,...,1.0,0.0,1.0,0,49.0,5.0,7,0.0,0.0,NaN
11794,faulkan01,Andrew,Faulkner,Andrew Michael,2015,1,TEX,AL,0,0,...,1.0,0.0,0.0,0,40.0,1.0,3,0.0,0.0,NaN
32590,ranauan01,Anthony,Ranaudo,Anthony Ronald,2015,1,TEX,AL,0,1,...,0.0,0.0,1.0,0,73.0,0.0,13,2.0,1.0,NaN
21058,kleinph01,Phil,Klein,Phil William,2015,1,TEX,AL,1,0,...,0.0,1.0,0.0,0,86.0,3.0,15,0.0,0.0,NaN
7368,claudal01,Alex,Claudio,Alexander,2015,1,TEX,AL,1,1,...,2.0,1.0,1.0,0,66.0,6.0,6,0.0,2.0,NaN
11797,felizne01,Neftali,Feliz,Neftali,2015,1,TEX,AL,1,2,...,3.0,2.0,0.0,0,91.0,12.0,10,0.0,0.0,NaN
29448,ohlenro01,Ross,Ohlendorf,Curtis Ross,2015,1,TEX,AL,3,1,...,2.0,0.0,0.0,0,85.0,6.0,8,0.0,1.0,NaN
9720,diekmja01,Jake,Diekman,Jacob Tanner,2015,2,TEX,AL,0,0,...,0.0,1.0,1.0,0,85.0,1.0,5,0.0,0.0,NaN
9714,detwiro01,Ross,Detwiler,Ross Emery,2015,1,TEX,AL,0,5,...,0.0,3.0,3.0,0,208.0,4.0,37,1.0,3.0,NaN
30441,pattosp01,Spencer,Patton,Spencer Burdette,2015,1,TEX,AL,1,1,...,0.0,1.0,4.0,0,109.0,6.0,24,1.0,0.0,NaN
14271,gonzach01,Chi Chi,Gonzalez,Alexander,2015,1,TEX,AL,4,6,...,1.0,2.0,3.0,1,280.0,1.0,33,1.0,2.0,NaN
10883,dysonsa01,Sam,Dyson,Samuel Isaac,2015,2,TEX,AL,2,1,...,0.0,2.0,1.0,0,119.0,6.0,5,1.0,0.0,NaN
35705,schepta01,Tanner,Scheppers,Tanner Ross,2015,1,TEX,AL,4,1,...,3.0,1.0,2.0,0,176.0,7.0,25,0.0,3.0,NaN
13124,freemsa01,Sam,Freeman,Samuel Douglas,2015,1,TEX,AL,0,0,...,0.0,0.0,3.0,0,171.0,10.0,13,0.0,1.0,NaN
18043,hollade01,Derek,Holland,Derek Lane,2015,1,TEX,AL,4,3,...,2.0,1.0,5.0,0,245.0,0.0,32,3.0,1.0,NaN
1979,bassan01,Anthony,Bass,Anthony Edward,2015,1,TEX,AL,0,0,...,1.0,1.0,1.0,0,272.0,9.0,33,3.0,3.0,NaN
31110,perezma02,Martin,Perez,Martin,2015,1,TEX,AL,3,6,...,1.0,1.0,2.0,0,339.0,0.0,45,0.0,3.0,NaN
20377,kelake01,Keone,Kela,Keone Cole,2015,1,TEX,AL,7,5,...,0.0,6.0,0.0,1,243.0,11.0,18,1.0,0.0,NaN
34145,rodriwa01,Wandy,Rodriguez,Wandy Fulton,2015,1,TEX,AL,6,4,...,2.0,3.0,3.0,0,392.0,1.0,48,1.0,5.0,NaN
39968,tollesh01,Shawn,Tolleson,Shawn Mark,2015,1,TEX,AL,6,4,...,5.0,0.0,2.0,0,298.0,53.0,25,2.0,1.0,NaN
24690,martini01,Nick,Martinez,Nicholas Andres,2015,1,TEX,AL,7,7,...,2.0,4.0,13.0,0,558.0,1.0,66,1.0,5.0,NaN
15934,hamelco01,Cole,Hamels,Colbert Michael,2015,2,TEX,AL,7,1,...,0.0,2.0,4.0,2,343.0,0.0,35,1.0,1.0,NaN
13321,gallayo01,Yovani,Gallardo,Yovani,2015,1,TEX,AL,13,11,...,0.0,10.0,1.0,0,793.0,0.0,76,1.0,3.0,NaN
22969,lewisco01,Colby,Lewis,Colby Preston,2015,1,TEX,AL,17,9,...,2.0,5.0,11.0,0,861.0,0.0,114,2.0,11.0,NaN

PIT

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
41190,volstch01,Chris,Volstad,Christopher Kenneth,2015,1,PIT,NL,0,0,...,0.0,0.0,0.0,0,7.0,0.0,0,0.0,0.0,NaN
9434,deckeja01,Jaff,Decker,Jaff Kyle,2015,1,PIT,NL,0,0,...,0.0,0.0,0.0,0,5.0,1.0,0,0.0,0.0,NaN
34868,sadleca02,Casey,Sadler,Casey Scott,2015,1,PIT,NL,1,0,...,0.0,0.0,0.0,0,19.0,0.0,2,0.0,0.0,NaN
21932,lafrobo01,Bobby,LaFromboise,Robert Joseph,2015,1,PIT,NL,0,0,...,0.0,0.0,0.0,0,29.0,4.0,1,0.0,0.0,NaN
15243,guerrde01,Deolis,Guerra,Deolis Alexander,2015,1,PIT,NL,2,0,...,0.0,2.0,1.0,0,74.0,4.0,12,0.0,0.0,NaN
35407,scahiro01,Rob,Scahill,Robert Joseph,2015,1,PIT,NL,2,4,...,5.0,1.0,1.0,0,142.0,13.0,15,1.0,1.0,NaN
23273,lizra01,Radhames,Liz,Radhames Corey,2015,1,PIT,NL,1,4,...,2.0,1.0,3.0,0,106.0,7.0,11,0.0,0.0,NaN
37625,soriajo01,Joakim,Soria,Joakim Agustin,2015,2,PIT,NL,0,0,...,0.0,5.0,0.0,0,107.0,5.0,7,0.0,1.0,NaN
18682,hugheja02,Jared,Hughes,William Jared,2015,1,PIT,NL,3,1,...,2.0,3.0,7.0,0,284.0,11.0,21,6.0,4.0,NaN
3489,blantjo01,Joe,Blanton,Joseph Matthew,2015,2,PIT,NL,5,0,...,4.0,2.0,1.0,0,137.0,7.0,7,0.0,1.0,NaN
43758,worleva01,Vance,Worley,Vance Richard,2015,1,PIT,NL,4,6,...,3.0,3.0,2.0,0,310.0,6.0,36,3.0,2.0,NaN
41768,watsoto01,Tony,Watson,Anthony Michael,2015,1,PIT,NL,4,1,...,1.0,1.0,4.0,0,293.0,4.0,17,1.0,3.0,NaN
26342,melanma01,Mark,Melancon,Mark D.,2015,1,PIT,NL,3,2,...,2.0,3.0,2.0,0,293.0,63.0,22,1.0,1.0,NaN
1981,bastaan01,Antonio,Bastardo,Antonio Francisco,2015,1,PIT,NL,4,1,...,2.0,8.0,3.0,0,239.0,18.0,19,2.0,0.0,NaN
16294,happja01,J. A.,Happ,James Anthony,2015,2,PIT,NL,7,2,...,1.0,2.0,0.0,0,249.0,0.0,13,1.0,0.0,NaN
5938,caminar01,Arquimedes,Caminero,Arquimedes Euclides,2015,1,PIT,NL,5,1,...,2.0,6.0,6.0,1,318.0,19.0,31,1.0,1.0,NaN
27918,mortoch02,Charlie,Morton,Charles Alfred,2015,1,PIT,NL,9,9,...,6.0,2.0,12.0,1,563.0,0.0,77,4.0,0.0,NaN
23275,lockeje01,Jeff,Locke,Jeffrey Alan,2015,1,PIT,NL,8,11,...,4.0,5.0,7.0,0,736.0,0.0,95,7.0,8.0,NaN
5340,burneaj01,A. J.,Burnett,Allan James,2015,1,PIT,NL,9,7,...,2.0,6.0,11.0,1,699.0,0.0,64,2.0,4.0,NaN
7635,colege01,Gerrit,Cole,Gerrit Alan,2015,1,PIT,NL,19,8,...,1.0,7.0,10.0,0,832.0,0.0,71,7.0,6.0,NaN
23272,liriafr01,Francisco,Liriano,Francisco Casillas,2015,1,PIT,NL,12,7,...,1.0,10.0,5.0,1,773.0,0.0,75,2.0,1.0,NaN

SEA

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
38526,sucreje01,Jesus,Sucre,Jesus Marcelo,2015,1,SEA,AL,0,0,...,0.0,0.0,0.0,0,11.0,2.0,3,0.0,0.0,NaN
23594,luetglu01,Lucas,Luetge,Lucas Lester,2015,1,SEA,AL,0,0,...,0.0,0.0,0.0,0,8.0,1.0,0,0.0,0.0,NaN
32585,ramirjo02,Jose,Ramirez,Jose Altagracia,2015,2,SEA,AL,1,0,...,1.0,0.0,2.0,0,32.0,1.0,9,0.0,0.0,NaN
29449,olmosed01,Edgar,Olmos,Edgar,2015,1,SEA,AL,1,0,...,1.0,1.0,1.0,0,67.0,1.0,8,0.0,1.0,NaN
32583,ramirjc01,J. C.,Ramirez,Juan Carlos,2015,2,SEA,AL,0,1,...,1.0,0.0,1.0,0,43.0,2.0,7,0.0,0.0,NaN
22637,leonedo01,Dominic,Leone,Dominic Joseph,2015,1,SEA,AL,0,4,...,2.0,2.0,0.0,0,54.0,5.0,9,0.0,0.0,NaN
29450,olsonty01,Tyler,Olson,Tyler Ray,2015,1,SEA,AL,1,1,...,7.0,0.0,1.0,1,65.0,4.0,8,2.0,0.0,NaN
26115,medinyo01,Yoervis,Medina,Yoervis Jose,2015,1,SEA,AL,1,0,...,0.0,1.0,0.0,0,54.0,3.0,5,0.0,0.0,NaN
20709,kensilo01,Logan,Kensing,Logan French,2015,1,SEA,AL,2,1,...,0.0,2.0,0.0,0,64.0,4.0,10,0.0,1.0,NaN
32593,rasmuro01,Rob,Rasmussen,Robert Paul,2015,2,SEA,AL,2,1,...,0.0,4.0,0.0,0,75.0,5.0,18,0.0,0.0,NaN
13320,furbuch01,Charlie,Furbush,Charles Roderick,2015,1,SEA,AL,1,1,...,2.0,5.0,2.0,0,82.0,4.0,6,1.0,0.0,NaN
34148,rollida01,David,Rollins,David Dwane,2015,1,SEA,AL,0,2,...,1.0,0.0,2.0,0,118.0,7.0,21,1.0,0.0,NaN
2615,beimejo01,Joe,Beimel,Joseph Ronald,2015,1,SEA,AL,2,1,...,3.0,1.0,1.0,0,196.0,14.0,25,3.0,3.0,NaN
15242,guaipma01,Mayckol,Guaipe,Mayckol Martin,2015,1,SEA,AL,0,3,...,1.0,1.0,3.0,0,121.0,2.0,19,1.0,1.0,NaN
44138,zychto01,Tony,Zych,Anthony Aaron,2015,1,SEA,AL,0,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN
33804,rodnefe01,Fernando,Rodney,Fernando,2015,1,SEA,AL,5,5,...,3.0,5.0,5.0,0,227.0,28.0,32,1.0,1.0,NaN
23592,lowema01,Mark,Lowe,Mark Christopher,2015,1,SEA,AL,0,1,...,1.0,2.0,1.0,0,144.0,8.0,6,0.0,0.0,NaN
11793,farquda01,Danny,Farquhar,Daniel Andres,2015,1,SEA,AL,1,8,...,2.0,1.0,1.0,1,219.0,10.0,33,1.0,1.0,NaN
30716,paxtoja01,James,Paxton,James Alston,2015,1,SEA,AL,3,4,...,1.0,5.0,0.0,0,297.0,0.0,34,0.0,3.0,NaN
42754,wilheto01,Tom,Wilhelmsen,Thomas Mark,2015,1,SEA,AL,2,2,...,3.0,2.0,2.0,0,267.0,20.0,24,4.0,3.0,NaN
29111,nunovi01,Vidal,Nuno,Vidal Vicente,2015,2,SEA,AL,1,4,...,1.0,3.0,5.0,1,318.0,7.0,35,1.0,7.0,NaN
27291,montgmi01,Mike,Montgomery,Michael Paul,2015,1,SEA,AL,4,6,...,1.0,10.0,4.0,0,395.0,0.0,49,0.0,0.0,NaN
16293,happja01,J. A.,Happ,James Anthony,2015,1,SEA,AL,4,6,...,3.0,4.0,2.0,0,468.0,0.0,58,1.0,0.0,NaN
37070,smithca02,Carson,Smith,Carson Donald,2015,1,SEA,AL,2,5,...,4.0,6.0,7.0,0,284.0,24.0,19,3.0,0.0,NaN
11187,eliasro01,Roenis,Elias,Roenis,2015,1,SEA,AL,5,8,...,1.0,1.0,9.0,1,490.0,0.0,57,1.0,4.0,NaN
18933,iwakuhi01,Hisashi,Iwakuma,Hisashi,2015,1,SEA,AL,9,5,...,1.0,1.0,1.0,0,516.0,0.0,53,4.0,3.0,NaN
41465,walketa01,Taijuan,Walker,Taijuan Emmanuel,2015,1,SEA,AL,11,8,...,1.0,4.0,9.0,1,706.0,0.0,92,4.0,5.0,NaN
17227,hernafe02,Felix,Hernandez,Felix Abraham,2015,1,SEA,AL,18,9,...,0.0,10.0,9.0,0,826.0,0.0,80,4.0,4.0,NaN

SLN

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
14772,greenni02,Nick,Greenwood,Nicholas Richard,2015,1,SLN,NL,0,1,...,0.0,0.0,0.0,0,2.0,1.0,2,0.0,0.0,NaN
14273,gonzama02,Marco,Gonzales,Marco Elias,2015,1,SLN,NL,0,0,...,0.0,0.0,0.0,0,16.0,0.0,4,0.0,1.0,NaN
16557,hatlema01,Marcus,Hatley,Marcus Allen,2015,1,SLN,NL,0,0,...,0.0,0.0,0.0,0,7.0,1.0,0,0.0,0.0,NaN
41195,waldejo01,Jordan,Walden,Jordan Craig,2015,1,SLN,NL,0,1,...,1.0,2.0,0.0,0,42.0,2.0,1,0.0,1.0,NaN
16300,harrimi03,Mitch,Harris,Mitchell Andrew,2015,1,SLN,NL,2,1,...,0.0,2.0,0.0,0,122.0,7.0,14,1.0,0.0,NaN
40228,tuivasa01,Sam,Tuivailala,Samuel Johnathan,2015,1,SLN,NL,0,1,...,1.0,3.0,0.0,0,65.0,5.0,5,0.0,0.0,NaN
7045,cishest01,Steve,Cishek,Steven R.,2015,2,SLN,NL,0,0,...,0.0,1.0,1.0,0,99.0,8.0,7,0.0,0.0,NaN
41194,wainwad01,Adam,Wainwright,Adam Parrish,2015,1,SLN,NL,2,1,...,0.0,0.0,0.0,0,111.0,2.0,7,2.0,0.0,NaN
6830,choatra01,Randy,Choate,Randol Doyle,2015,1,SLN,NL,1,0,...,0.0,1.0,6.0,0,117.0,4.0,14,1.0,1.0,NaN
2616,belisma01,Matt,Belisle,Matthew Thomas,2015,1,SLN,NL,1,1,...,2.0,0.0,3.0,0,149.0,10.0,10,2.0,1.0,NaN
4981,broxtjo01,Jonathan,Broxton,Jonathan Roy,2015,2,SLN,NL,3,3,...,0.0,0.0,0.0,0,101.0,5.0,8,3.0,0.0,NaN
37295,socolmi01,Miguel,Socolovich,Miguel Angel,2015,1,SLN,NL,4,1,...,1.0,1.0,0.0,0,125.0,11.0,7,2.0,0.0,NaN
7916,cooneti01,Tim,Cooney,Timothy Manus,2015,1,SLN,NL,1,0,...,2.0,1.0,1.0,0,130.0,0.0,12,3.0,0.0,NaN
24423,manesse01,Seth,Maness,Michael Seth,2015,1,SLN,NL,4,2,...,4.0,2.0,1.0,0,270.0,13.0,35,4.0,1.0,NaN
41184,villaca01,Carlos,Villanueva,Carlos Manuel,2015,1,SLN,NL,4,3,...,2.0,1.0,2.0,0,250.0,20.0,21,1.0,2.0,NaN
23837,lyonsty01,Tyler,Lyons,Tyler William,2015,1,SLN,NL,3,1,...,0.0,4.0,1.0,0,255.0,1.0,29,3.0,2.0,NaN
34375,rosentr01,Trevor,Rosenthal,Trevor Jordan,2015,1,SLN,NL,2,4,...,3.0,7.0,1.0,0,287.0,57.0,16,1.0,0.0,NaN
36779,siegrke01,Kevin,Siegrist,Kevin Ryan,2015,1,SLN,NL,7,1,...,2.0,0.0,3.0,0,312.0,13.0,20,3.0,4.0,NaN
13626,garcija02,Jaime,Garcia,Jaime Omar,2015,1,SLN,NL,10,6,...,0.0,4.0,3.0,0,510.0,0.0,37,3.0,3.0,NaN
41191,wachami01,Michael,Wacha,Michael Joseph,2015,1,SLN,NL,17,7,...,4.0,4.0,6.0,1,762.0,0.0,74,8.0,3.0,NaN
23836,lynnla01,Lance,Lynn,Michael Lance,2015,1,SLN,NL,12,11,...,5.0,2.0,5.0,0,751.0,0.0,66,9.0,2.0,NaN
21684,lackejo01,John,Lackey,John Derran,2015,1,SLN,NL,13,10,...,5.0,5.0,4.0,3,896.0,0.0,71,11.0,4.0,NaN
24686,martica04,Carlos,Martinez,Carlos Ernesto,2015,1,SLN,NL,14,7,...,5.0,8.0,8.0,1,755.0,1.0,65,9.0,4.0,NaN

BAL

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
43761,wrighwe01,Wesley,Wright,Dequam LaWesley,2015,1,BAL,AL,0,0,...,0.0,0.0,0.0,0,7.0,2.0,1,0.0,1.0,NaN
5647,cabrace01,Cesar,Cabral,Cesar Augusto,2015,1,BAL,AL,0,0,...,0.0,0.0,0.0,0,3.0,2.0,0,0.0,0.0,NaN
19615,johnsst02,Steve,Johnson,Steven David,2015,1,BAL,AL,0,0,...,0.0,1.0,0.0,0,29.0,2.0,6,0.0,0.0,NaN
34373,rondojo01,Jorge,Rondon,Jorge Leonardo,2015,2,BAL,AL,0,1,...,0.0,1.0,0.0,0,66.0,2.0,15,0.0,0.0,NaN
43068,wilsoty01,Tyler,Wilson,Philip Tyler,2015,1,BAL,AL,2,2,...,1.0,0.0,1.0,0,149.0,2.0,14,0.0,2.0,NaN
10351,drakeol01,Oliver,Drake,Oliver Gardner,2015,1,BAL,AL,0,0,...,0.0,3.0,0.0,0,72.0,5.0,7,0.0,2.0,NaN
13627,garcija03,Jason,Garcia,Jason Emilio,2015,1,BAL,AL,1,0,...,1.0,2.0,2.0,0,132.0,9.0,19,0.0,1.0,NaN
43759,wrighmi01,Mike,Wright,Dennis Michael,2015,1,BAL,AL,3,5,...,3.0,2.0,5.0,0,204.0,0.0,30,0.0,2.0,NaN
25553,mcfartj01,T. J.,McFarland,Timothy J.,2015,1,BAL,AL,2,2,...,5.0,3.0,0.0,0,188.0,7.0,26,0.0,0.0,NaN
18684,hunteto02,Tommy,Hunter,Raymond Thomas,2015,1,BAL,AL,2,2,...,2.0,2.0,1.0,0,180.0,12.0,19,1.0,3.0,NaN
14065,givenmy01,Mychal,Givens,Mychal Antonio,2015,1,BAL,AL,2,0,...,0.0,0.0,1.0,0,117.0,5.0,7,1.0,1.0,NaN
34146,roech01,Chaz,Roe,Chaz Daniel,2015,1,BAL,AL,4,2,...,2.0,0.0,1.0,0,177.0,6.0,19,1.0,1.0,NaN
29105,norribu01,Bud,Norris,David Stefan,2015,1,BAL,AL,2,9,...,0.0,0.0,3.0,0,305.0,2.0,57,3.0,2.0,NaN
24975,matusbr01,Brian,Matusz,Brian Robert,2015,1,BAL,AL,1,4,...,3.0,2.0,3.0,0,206.0,16.0,18,2.0,1.0,NaN
4406,brittza01,Zach,Britton,Zachary Grant,2015,1,BAL,AL,4,1,...,1.0,5.0,1.0,0,253.0,58.0,16,0.0,0.0,NaN
29442,odayda01,Darren,O'Day,Darren Christopher,2015,1,BAL,AL,6,2,...,1.0,0.0,5.0,0,257.0,19.0,13,0.0,1.0,NaN
4072,brachbr01,Brad,Brach,Brad,2015,1,BAL,AL,5,3,...,3.0,1.0,0.0,0,324.0,12.0,25,3.0,2.0,NaN
13885,gausmke01,Kevin,Gausman,Kevin John,2015,1,BAL,AL,4,7,...,1.0,7.0,2.0,0,470.0,1.0,56,2.0,3.0,NaN
14274,gonzami03,Miguel,Gonzalez,Miguel Angel,2015,1,BAL,AL,9,12,...,2.0,4.0,8.0,0,622.0,0.0,81,2.0,2.0,NaN
39967,tillmch01,Chris,Tillman,Christopher Steven,2015,1,BAL,AL,11,11,...,1.0,4.0,5.0,0,741.0,0.0,97,3.0,8.0,NaN
6829,chenwe02,Wei-Yin,Chen,Wei-Yin,2015,1,BAL,AL,11,8,...,0.0,3.0,5.0,0,792.0,0.0,78,5.0,8.0,NaN
19253,jimenub01,Ubaldo,Jimenez,Ubaldo,2015,1,BAL,AL,12,10,...,1.0,6.0,11.0,0,791.0,0.0,89,1.0,4.0,NaN

HOU

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
30718,peacobr01,Brad,Peacock,Bradley J.,2015,1,HOU,AL,0,1,...,0.0,0.0,1.0,0,22.0,0.0,3,0.0,1.0,NaN
4983,buchaja01,Jake,Buchanan,Jake T.,2015,1,HOU,AL,0,0,...,0.0,2.0,1.0,0,37.0,1.0,2,1.0,0.0,NaN
11796,felizmi01,Michael,Feliz,Michael,2015,1,HOU,AL,0,0,...,0.0,0.0,1.0,1,38.0,5.0,7,0.0,0.0,NaN
6826,chapmke02,Kevin,Chapman,Kevin Allen,2015,1,HOU,AL,0,0,...,0.0,0.0,0.0,0,22.0,0.0,2,0.0,0.0,NaN
38519,straida01,Dan,Straily,Daniel Steven,2015,1,HOU,AL,0,1,...,0.0,1.0,1.0,0,76.0,0.0,11,0.0,0.0,NaN
31112,perezol01,Oliver,Perez,Oliver,2015,2,HOU,AL,0,3,...,1.0,1.0,0.0,0,55.0,4.0,12,0.0,0.0,NaN
43392,wojcias01,Asher,Wojciechowski,Randall Asher,2015,1,HOU,AL,0,1,...,0.0,1.0,0.0,0,79.0,2.0,13,0.0,2.0,NaN
9435,dedunsa01,Sam,Deduno,Samuel,2015,1,HOU,AL,0,1,...,0.0,3.0,3.0,0,96.0,4.0,16,1.0,1.0,NaN
39407,thatcjo01,Joe,Thatcher,Joseph,2015,1,HOU,AL,1,3,...,0.0,0.0,0.0,0,100.0,3.0,8,2.0,2.0,NaN
29113,oberhbr01,Brett,Oberholtzer,Brett R.,2015,1,HOU,AL,2,2,...,0.0,2.0,1.0,0,171.0,0.0,21,1.0,2.0,NaN
6276,carmofa01,Roberto,Hernandez,Roberto,2015,1,HOU,AL,3,5,...,2.0,1.0,1.0,0,357.0,6.0,48,0.0,3.0,NaN
32270,quallch01,Chad,Qualls,Chad Michael,2015,1,HOU,AL,3,5,...,1.0,3.0,2.0,0,202.0,17.0,24,1.0,4.0,NaN
28480,neshepa01,Pat,Neshek,Patrick John,2015,1,HOU,AL,3,6,...,1.0,1.0,2.0,0,223.0,8.0,25,4.0,1.0,NaN
20151,kazmisc01,Scott,Kazmir,Scott Edward,2015,2,HOU,AL,2,6,...,0.0,3.0,6.0,0,323.0,0.0,42,2.0,2.0,NaN
40807,velasvi01,Vincent,Velasquez,Vincent John,2015,1,HOU,AL,1,1,...,0.0,3.0,2.0,0,231.0,5.0,28,0.0,0.0,NaN
12177,fiersmi01,Mike,Fiers,Michael Bruce,2015,2,HOU,AL,2,1,...,0.0,2.0,1.0,0,252.0,0.0,26,0.0,2.0,NaN
14774,gregelu01,Luke,Gregerson,Lucas John,2015,1,HOU,AL,7,3,...,2.0,1.0,2.0,0,239.0,53.0,24,2.0,0.0,NaN
11795,feldmsc01,Scott,Feldman,Scott Wynne,2015,1,HOU,AL,5,5,...,1.0,8.0,0.0,0,451.0,0.0,49,1.0,5.0,NaN
36781,sippto01,Tony,Sipp,Tony Marcel,2015,1,HOU,AL,3,4,...,1.0,4.0,1.0,0,216.0,12.0,13,2.0,1.0,NaN
12174,fieldjo03,Josh,Fields,Joshua David,2015,1,HOU,AL,4,1,...,3.0,1.0,1.0,0,209.0,19.0,20,2.0,1.0,NaN
16301,harriwi02,Will,Harris,William Taylor,2015,1,HOU,AL,5,5,...,1.0,2.0,1.0,0,276.0,18.0,18,2.0,1.0,NaN
25552,mcculla02,Lance,McCullers,Lance Graye,2015,1,HOU,AL,6,7,...,2.0,8.0,5.0,1,520.0,0.0,49,0.0,3.0,NaN
25806,mchugco01,Collin,McHugh,Collin Alexander,2015,1,HOU,AL,19,7,...,2.0,5.0,9.0,0,859.0,0.0,89,5.0,4.0,NaN
20711,keuchda01,Dallas,Keuchel,Dallas,2015,1,HOU,AL,20,8,...,0.0,9.0,2.0,0,911.0,0.0,68,1.0,3.0,NaN

In [231]:
# Calculate the average ERA for each team, list the teams by the average ERA in a descending ord

teams = data['teamID'].unique()
era_rank = pd.Series(dtype = float)

for team in teams:
    era_rank[team] = data[data['teamID'] == team]['ERA'].mean()

display(era_rank.sort_values(ascending = False))

BFP    11.198750
SR2     8.317000
IN3     8.245000
WS6     7.977500
BL4     7.832500
         ...
CNU     2.572500
SL2     2.485000
SL3     2.296000
MLU     2.216667
IN1     2.160000
Length: 149, dtype: float64

In [232]:
# Calculate the total number of home runs allowed (HRs) for each team, and list the team by the count in 
# an ascending order.

teams = data['teamID'].unique()
homerun_rank = pd.Series(dtype = int)

for team in teams:
    homerun_rank[team] = data[data['teamID'] == team]['HR'].sum()
display(homerun_rank.sort_values(ascending = False))

CHN    12907
DET    12885
PHI    12882
CIN    12378
BOS    11927
       ...
SPU        1
MLU        1
KEO        0
PH3        0
SL1        0
Length: 149, dtype: int64

In [233]:
# Calculate each team’s average ERA from 2011 to 2015, and list the result as a table, where each column 
# is a year, each row is a team.

teams = data['teamID'].unique()
years = [x for x in range(2011, 2016)]
era_average_dataframe = pd.DataFrame(columns = years, index = teams)

for team in teams:
    for year in years:
        era_average_dataframe.at[team, year] = data[(data['teamID'] == team) & (data['yearID'] == year)]['ERA'].mean()

display(era_average_dataframe.fillna(0))

         2011      2012      2013      2014      2015
TL2  0.000000  0.000000  0.000000  0.000000  0.000000
WAS  3.529167  3.992105  6.289048  3.249444  3.508846
CHN  4.376818  9.222667  4.359677  4.379630  4.212414
BRO  0.000000  0.000000  0.000000  0.000000  0.000000
SLN  5.343333  4.596250  4.507600  5.978750  3.142727
..        ...       ...       ...       ...       ...
FW1  0.000000  0.000000  0.000000  0.000000  0.000000
WS6  0.000000  0.000000  0.000000  0.000000  0.000000
CL1  0.000000  0.000000  0.000000  0.000000  0.000000
CH1  0.000000  0.000000  0.000000  0.000000  0.000000
WS4  0.000000  0.000000  0.000000  0.000000  0.000000

[149 rows x 5 columns]

In [234]:
# Calculate the average ERAs for American League (AL) and National League (NL) from 2011 to 2015, and 
# list the result as a table, where each column is a league and each row is a year. 

leagues = ['AL', 'NL']
years = [x for x in range(2011, 2016)]
era_average_dataframe = pd.DataFrame(columns = years, index = leagues)

for league in leagues:
    for year in years:
        era_average_dataframe.at[league, year] = data[(data['lgID'] == league) & (data['yearID'] == year)]['ERA'].mean()

display(era_average_dataframe)

        2011      2012      2013      2014      2015
AL  4.934752  5.217262  5.123203  5.453146  4.710501
NL  4.505687  5.324571  4.720548  4.710511  5.045648

In [235]:
# List the pitchers who had the most wins in each of the years from 2011 to 2015.

max_win = pd.Series(dtype = int)
pitchers = data['playerID'].unique()

for pitcher in pitchers:
    max_win[pitcher] = data[(2011 <= data['yearID']) & (data['yearID'] <= 2015) & (data['playerID'] == pitcher)]['W'].sum()
max_value = max_win.max()
for index, value in max_win.items():
    if value == max_value:
        print(index)
        break

kershcl01