In [ ]:
!python3 -V
!python3 -m pip install pandas numpy matplotlib

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Read the data into a data frame.

data = pd.read_csv('./pitching.csv')
display(data)

In [ ]:
# Display all pitchers in 2015 under each team sorted by their last names.

pitchers_group_team = data[data['yearID'] == 2015].groupby('teamID')
for team in pitchers_group_team.groups:
    print("\033[1;93m" + team + "\033[0m")
    display(pitchers_group_team.get_group(team).sort_values('nameLast'))

In [ ]:
# Display all pitchers in 2015 sorted by their ERAs. This allows you to identify the best and worst pitchers.

display(data[data['yearID'] == 2015].sort_values('ERA'))

In [ ]:
# Display all pitchers in 2015 under each team sorted by their strike outs (SO).

pitchers_group_team = data[data['yearID'] == 2015].groupby('teamID')

for team in pitchers_group_team.groups:
    print("\033[1;93m" + team + "\033[0m")
    display(pitchers_group_team.get_group(team).sort_values('SO'))

In [ ]:
# Calculate the average ERA for each team, list the teams by the average ERA in a descending ord

display(data.groupby('teamID')[['ERA']].mean().sort_values('ERA', ascending = False))

In [ ]:
# Calculate the total number of home runs allowed (HRs) for each team, and list the team by the count in 
# an ascending order.

display(data.groupby('teamID')[['HR']].sum().sort_values('HR'))

In [ ]:
# Calculate each teamâ€™s average ERA from 2011 to 2015, and list the result as a table, where each column 
# is a year, each row is a team.

display(data[(2011 <= data['yearID']) & (data['yearID'] <= 2015)].groupby(['teamID', 'yearID'])[['ERA']].mean().unstack().sort_index())

In [ ]:
# Calculate the average ERAs for American League (AL) and National League (NL) from 2011 to 2015, and 
# list the result as a table, where each column is a league and each row is a year. 


'''leagues = ['AL', 'NL']
years = [x for x in range(2011, 2016)]
era_average_dataframe = pd.DataFrame(columns = years, index = leagues)

for league in leagues:
    for year in years:
        era_average_dataframe.at[league, year] = data[(data['lgID'] == league) & (data['yearID'] == year)]['ERA'].mean()

display(era_average_dataframe)'''

display(data[(2011 <= data['yearID']) & (data['yearID'] <= 2015)].groupby(['lgID', 'yearID'])[['ERA']].mean())

In [121]:
# List the pitchers who had the most wins in each of the years from 2011 to 2015.

display(data[(2011 <= data['yearID']) & (data['yearID'] <= 2015)].groupby(['yearID'])[['nameFirst', 'nameLast', 'W']].max())

       nameFirst      nameLast   W
yearID
2011        Zack  van den Hurk  24
2012        Zack  van den Hurk  21
2013        Zeke          Zito  21
2014        Zeke        deGrom  21
2015        Zack        deGrom  22